.std {
    --std-duration-factor: .1;
    --std-duration-base: .1s;
    --std-duration1: calc(var(--std-duration-base) + 0s * var(--std-duration-factor));
    --std-duration2: calc(var(--std-duration1) + 1s * var(--std-duration-factor));
    --std-duration3: calc(var(--std-duration2) + 1s * var(--std-duration-factor));
    --std-duration4: calc(var(--std-duration3) + 2s * var(--std-duration-factor));
    --std-duration5: calc(var(--std-duration4) + 2s * var(--std-duration-factor));
}
