.std-stack {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}
.std-stack.row { flex-direction: row; }
.std-stack.row-reverse { flex-direction: row-reverse; }
.std-stack.column { flex-direction: column; }
.std-stack.column-reverse { flex-direction: column-reverse; }
