:root,
.std-theme {
    --std-font-primary: 'std-font-primary', Roboto, Futura, sans-serif;
}
/*
* Roboto
* https://fonts.google.com/specimen/Roboto
*/
@font-face {
    font-family: 'std-font-primary';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url('./font-default/1_thin.woff') format('woff');
}
@font-face {
    font-family: 'std-font-primary';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('./font-default/2_light.woff') format('woff');
}
@font-face {
    font-family: 'std-font-primary';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('./font-default/3_regular.woff') format('woff');
}
@font-face {
    font-family: 'std-font-primary';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('./font-default/4_medium.woff') format('woff');
}
@font-face {
    font-family: 'std-font-primary';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('./font-default/5_bold.woff') format('woff');
}
@font-face {
    font-family: 'std-font-primary';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('./font-default/6_black.woff') format('woff');
}
@font-face {
    font-family: 'std-font-primary';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url('./font-default/6_black.woff') format('woff');
}
