.std {
    --std-gutter: 4px;
    --std-gutter1: calc(var(--std-gutter) + var(--std-gutter) * 0);
    --std-gutter2: calc(var(--std-gutter1) + var(--std-gutter) * .5);
    --std-gutter3: calc(var(--std-gutter2) + var(--std-gutter) * 1);
    --std-gutter4: calc(var(--std-gutter3) + var(--std-gutter) * 1.5);
    --std-gutter5: calc(var(--std-gutter4) + var(--std-gutter) * 2);
    --std-gutter6: calc(var(--std-gutter5) + var(--std-gutter) * 3);
    --std-gutter7: calc(var(--std-gutter6) + var(--std-gutter) * 4);
    --std-gutter8: calc(var(--std-gutter7) + var(--std-gutter) * 6);
    --std-gutter9: calc(var(--std-gutter8) + var(--std-gutter) * 8);
    --std-gutter10: calc(var(--std-gutter9) + var(--std-gutter) * 12);
}
