.std-icon {
    display: inline-block;
}
.std-icon * {
    fill: currentColor;
    stroke: currentColor;
}
.std-icon.cover {
    width: 100%;
    height: 100%;
}
.std-icon.fluid {
    width: 1em;
    height: 1em;
}
.std-icon.mini {
    font-size: var(--std-icon-mini);
    width: var(--std-icon-mini);
    height: var(--std-icon-mini);
}
.std-icon.xxs {
    font-size: var(--std-icon-xxs);
    width: var(--std-icon-xxs);
    height: var(--std-icon-xxs);
}
.std-icon.xs {
    font-size: var(--std-icon-xs);
    width: var(--std-icon-xs);
    height: var(--std-icon-xs);
}
.std-icon.s {
    font-size: var(--std-icon-s);
    width: var(--std-icon-s);
    height: var(--std-icon-s);
}
.std-icon.m {
    font-size: var(--std-icon-m);
    width: var(--std-icon-m);
    height: var(--std-icon-m);
}
.std-icon.l {
    font-size: var(--std-icon-l);
    width: var(--std-icon-l);
    height: var(--std-icon-l);
}
.std-icon.xl {
    font-size: var(--std-icon-xl);
    width: var(--std-icon-xl);
    height: var(--std-icon-xl);
}
.std-icon.xxl {
    font-size: var(--std-icon-xxl);
    width: var(--std-icon-xxl);
    height: var(--std-icon-xxl);
}
.std-icon.maxi {
    font-size: var(--std-icon-maxi);
    width: var(--std-icon-maxi);
    height: var(--std-icon-maxi);
}
