.std {
    --std-icon-scale: 4;
    /* Values must be even, for a pixel perfect result. */
    --std-icon-size: calc(1px * ((0 + var(--std-icon-scale)) * (0 + var(--std-icon-scale))));
    --std-icon-size1: calc(1px * ((1 + var(--std-icon-scale)) * (0 + var(--std-icon-scale))));
    --std-icon-size2: calc(1px * ((2 + var(--std-icon-scale)) * (1 + var(--std-icon-scale))));
    --std-icon-size3: calc(1px * ((3 + var(--std-icon-scale)) * (2 + var(--std-icon-scale))));
    --std-icon-size4: calc(1px * ((4 + var(--std-icon-scale)) * (3 + var(--std-icon-scale))));
    --std-icon-size5: calc(1px * ((5 + var(--std-icon-scale)) * (4 + var(--std-icon-scale))));
    --std-icon-size6: calc(1px * ((6 + var(--std-icon-scale)) * (5 + var(--std-icon-scale))));
    --std-icon-size7: calc(1px * ((7 + var(--std-icon-scale)) * (6 + var(--std-icon-scale))));
    --std-icon-size8: calc(1px * ((8 + var(--std-icon-scale)) * (7 + var(--std-icon-scale))));
    --std-icon-size9: calc(1px * ((9 + var(--std-icon-scale)) * (8 + var(--std-icon-scale))));

    --std-icon-color1: var(--std-color-primary-accent);
    --std-icon-color2: var(--std-color-secondary-accent);
}
