.std-icon {
    display: inline-block;
}
.std-icon *:not([fill]) {
    fill: currentColor;
}
.std-icon *:not([stroke]) {
    stroke: currentColor;
}
.std-icon.cover {
    width: 100%;
    height: 100%;
}
.std-icon.fluid {
    width: 1em;
    height: 1em;
}
.std-icon.mini {
    font-size: var(--std-icon-size);
    width: var(--std-icon-size);
    height: var(--std-icon-size);
}
.std-icon.xxs {
    font-size: var(--std-icon-size1);
    width: var(--std-icon-size1);
    height: var(--std-icon-size1);
}
.std-icon.xs {
    font-size: var(--std-icon-size2);
    width: var(--std-icon-size2);
    height: var(--std-icon-size2);
}
.std-icon.s {
    font-size: var(--std-icon-size3);
    width: var(--std-icon-size3);
    height: var(--std-icon-size3);
}
.std-icon.m {
    font-size: var(--std-icon-size4);
    width: var(--std-icon-size4);
    height: var(--std-icon-size4);
}
.std-icon.l {
    font-size: var(--std-icon-size5);
    width: var(--std-icon-size5);
    height: var(--std-icon-size5);
}
.std-icon.xl {
    font-size: var(--std-icon-size6);
    width: var(--std-icon-size6);
    height: var(--std-icon-size6);
}
.std-icon.xxl {
    font-size: var(--std-icon-size7);
    width: var(--std-icon-size7);
    height: var(--std-icon-size7);
}
.std-icon.maxi {
    font-size: var(--std-icon-size8);
    width: var(--std-icon-size8);
    height: var(--std-icon-size8);
}
.std-icon.xmaxi {
    font-size: var(--std-icon-size9);
    width: var(--std-icon-size9);
    height: var(--std-icon-size9);
}
