.std-spacer {
    flex-grow: 1;
}

.std-cover { width: 100%; height: 100%; }
.std-cover-h { width: 100%; }
.std-cover-v { height: 100%; }
.std-extend-v { min-height: 100vh; }

.std-layer {
    position: absolute;
    inset: 0;
}

.std-media-cover {
    object-fit: var(--fit, cover);
    object-position: var(--position, 50% 50%);
    background-size: var(--fit, cover);
    background-position: var(--position, 50% 50%);
    background-repeat: no-repeat;
}
