.std-media-cover {
    object-fit: var(--fit, cover);
    object-position: var(--position, 50% 50%);
    background-size: var(--fit, cover);
    background-position: var(--position, 50% 50%);
    background-repeat: no-repeat;
}
