html[no-scroll],
html[no-scroll] body,
body[no-scroll] {
    overflow: hidden;
}

.std-modal {
    position: fixed;
    /* inset: 0; */
    top: 0;
    /* min-width: 100vw; */
    width: 100vw;
    /* max-width: 100vw; */
    /* min-height: 100vh; */
    height: 100vh;
    /* max-height: 100vh; */
    overflow-y: auto;
}
