html[no-scroll],
body[no-scroll],
html[no-scroll] body {
    overflow: hidden;
}

.std-modal {
    position: fixed;
    top: 0;
    width: 100vw;
    height: min(100%, 100vh);
    overflow-y: auto;
}
