.std-radius1 { border-radius: var(--std-radius1); }
.std-radius2 { border-radius: var(--std-radius2); }
.std-radius3 { border-radius: var(--std-radius3); }
.std-radius4 { border-radius: var(--std-radius4); }
.std-radius5 { border-radius: var(--std-radius5); }
.std-radius6 { border-radius: var(--std-radius6); }
.std-radius7 { border-radius: var(--std-radius7); }
