.std,
.std-shadow {
    --std-umbra-opacity: .1;
    --std-penumbra-opacity: .08;
    --std-ambient-opacity: .06;

    --std-umbra: hsla(0, 0%, 0%, var(--std-umbra-opacity));
    --std-penumbra: hsla(0, 0%, 0%, var(--std-penumbra-opacity));
    --std-ambient: hsla(0, 0%, 0%, var(--std-ambient-opacity));

    --std-shadow-soft: var(--std-umbra) 0 1px 3px 0, var(--std-penumbra) 0 0 0, var(--std-ambient) 0 0 0;
    --std-shadow0: var(--std-umbra) 0 0 0, var(--std-penumbra) 0 0 0, var(--std-ambient) 0 0 0;
    --std-shadow1: var(--std-umbra) 0 1px 3px, var(--std-penumbra) 0 1px 1px, var(--std-ambient) 0 2px 1px -1px;
    --std-shadow2: var(--std-umbra) 0 1px 5px, var(--std-penumbra) 0 2px 2px, var(--std-ambient) 0 3px 1px -2px;
    --std-shadow3: var(--std-umbra) 0 1px 8px, var(--std-penumbra) 0 3px 4px, var(--std-ambient) 0 3px 3px -2px;
    --std-shadow4: var(--std-umbra) 0 2px 4px -1px, var(--std-penumbra) 0 4px 5px, var(--std-ambient) 0 1px 10px;
    --std-shadow5: var(--std-umbra) 0 3px 5px -1px, var(--std-penumbra) 0 5px 8px, var(--std-ambient) 0 1px 14px;
    --std-shadow6: var(--std-umbra) 0 3px 5px -1px, var(--std-penumbra) 0 6px 10px, var(--std-ambient) 0 1px 18px;
    --std-shadow7: var(--std-umbra) 0 4px 5px -2px, var(--std-penumbra) 0 7px 10px 1px, var(--std-ambient) 0 2px 16px 1px;
    --std-shadow8: var(--std-umbra) 0 5px 5px -3px, var(--std-penumbra) 0 8px 10px 1px, var(--std-ambient) 0 3px 14px 2px;
    --std-shadow9: var(--std-umbra) 0 5px 6px -3px, var(--std-penumbra) 0 9px 12px 1px, var(--std-ambient) 0 3px 16px 2px;
    --std-shadow10: var(--std-umbra) 0 6px 6px -3px, var(--std-penumbra) 0 10px 14px 1px, var(--std-ambient) 0 4px 18px 3px;
    --std-shadow11: var(--std-umbra) 0 6px 7px -4px, var(--std-penumbra) 0 11px 15px 1px, var(--std-ambient) 0 4px 20px 3px;
    --std-shadow12: var(--std-umbra) 0 7px 8px -4px, var(--std-penumbra) 0 12px 17px 2px, var(--std-ambient) 0 5px 22px 4px;
    --std-shadow13: var(--std-umbra) 0 7px 8px -4px, var(--std-penumbra) 0 13px 19px 2px, var(--std-ambient) 0 5px 24px 4px;
    --std-shadow14: var(--std-umbra) 0 7px 9px -4px, var(--std-penumbra) 0 14px 21px 2px, var(--std-ambient) 0 5px 26px 4px;
    --std-shadow15: var(--std-umbra) 0 8px 9px -5px, var(--std-penumbra) 0 15px 22px 2px, var(--std-ambient) 0 6px 28px 5px;
    --std-shadow16: var(--std-umbra) 0 8px 10px -5px, var(--std-penumbra) 0 16px 24px 2px, var(--std-ambient) 0 6px 30px 5px;
    --std-shadow17: var(--std-umbra) 0 8px 11px -5px, var(--std-penumbra) 0 17px 26px 2px, var(--std-ambient) 0 6px 32px 5px;
    --std-shadow18: var(--std-umbra) 0 9px 11px -5px, var(--std-penumbra) 0 18px 28px 2px, var(--std-ambient) 0 7px 34px 6px;
    --std-shadow19: var(--std-umbra) 0 9px 12px -6px, var(--std-penumbra) 0 19px 29px 2px, var(--std-ambient) 0 7px 36px 6px;
    --std-shadow20: var(--std-umbra) 0 10px 13px -6px, var(--std-penumbra) 0 20px 31px 3px, var(--std-ambient) 0 8px 38px 7px;
    --std-shadow21: var(--std-umbra) 0 10px 13px -6px, var(--std-penumbra) 0 21px 33px 3px, var(--std-ambient) 0 8px 40px 7px;
    --std-shadow22: var(--std-umbra) 0 10px 14px -6px, var(--std-penumbra) 0 22px 35px 3px, var(--std-ambient) 0 8px 42px 7px;
    --std-shadow23: var(--std-umbra) 0 11px 14px -7px, var(--std-penumbra) 0 23px 36px 3px, var(--std-ambient) 0 9px 44px 8px;
    --std-shadow24: var(--std-umbra) 0 11px 15px -7px, var(--std-penumbra) 0 24px 38px 3px, var(--std-ambient) 0 9px 46px 8px;
}
