.std-text-size-2 { font-size: var(--std-text-size-2); }
.std-text-size-1 { font-size: var(--std-text-size-1); }
.std-text-size { font-size: var(--std-text-size); }
.std-text-size1 { font-size: var(--std-text-size1); }
.std-text-size2 { font-size: var(--std-text-size2); }
.std-text-size3 { font-size: var(--std-text-size3); }
.std-text-size4 { font-size: var(--std-text-size4); }
.std-text-size5 { font-size: var(--std-text-size5); }
.std-text-size6 { font-size: var(--std-text-size6); }
.std-text-size7 { font-size: var(--std-text-size7); }
.std-text-size8 { font-size: var(--std-text-size8); }
.std-text-size9 { font-size: var(--std-text-size9); }
.std-text-size10 { font-size: var(--std-text-size10); }

.std-font-primary { --text-font: var(--std-font-primary); font-family: var(--text-font); }

.std-text-weight-2 { --text-weight: var(--std-text-weight-2); font-weight: var(--text-weight); }
.std-text-weight-1 { --text-weight: var(--std-text-weight-1); font-weight: var(--text-weight); }
.std-text-weight { --text-weight: var(--std-text-weight); font-weight: var(--text-weight); }
.std-text-weight1 { --text-weight: var(--std-text-weight1); font-weight: var(--text-weight); }
.std-text-weight2 { --text-weight: var(--std-text-weight2); font-weight: var(--text-weight); }

.std-capitalize { text-transform: capitalize; }
.std-lowercase { text-transform: lowercase; }
.std-uppercase { text-transform: uppercase; }

.std-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
