.std-capitalize { --text-transform: capitalize; text-transform: var(--text-transform); }
.std-lowercase { --text-transform: lowercase; text-transform: var(--text-transform); }
.std-uppercase { --text-transform: uppercase; text-transform: var(--text-transform); }
