.std-text-capitalize { --text-transform: capitalize; text-transform: var(--text-transform); }
.std-text-lowercase { --text-transform: lowercase; text-transform: var(--text-transform); }
.std-text-uppercase { --text-transform: uppercase; text-transform: var(--text-transform); }
