.std-text-left { text-align: left; }
.std-text-right { text-align: right; }
.std-text-start { text-align: start; }
.std-text-end { text-align: end; }
.std-text-center { text-align: center; }
.std-text-justify { text-align: justify; }
