.std {
    --std-text-height: 1.3;
    --std-text-spacing: normal;

    --std-text-size-scale: 1.25;
    --std-text-size-2: calc(var(--std-text-size-1) / var(--std-text-size-scale));
    --std-text-size-1: calc(var(--std-text-size) / var(--std-text-size-scale));
    --std-text-size: 1rem;
    --std-text-size1: calc(var(--std-text-size) * var(--std-text-size-scale));
    --std-text-size2: calc(var(--std-text-size1) * var(--std-text-size-scale));
    --std-text-size3: calc(var(--std-text-size2) * var(--std-text-size-scale));
    --std-text-size4: calc(var(--std-text-size3) * var(--std-text-size-scale));
    --std-text-size5: calc(var(--std-text-size4) * var(--std-text-size-scale));
    --std-text-size6: calc(var(--std-text-size5) * var(--std-text-size-scale));
    --std-text-size7: calc(var(--std-text-size6) * var(--std-text-size-scale));
    --std-text-size8: calc(var(--std-text-size7) * var(--std-text-size-scale));
    --std-text-size9: calc(var(--std-text-size8) * var(--std-text-size-scale));
    --std-text-size10: calc(var(--std-text-size9) * var(--std-text-size-scale));

    --std-text-weight-scale: 100;
    --std-text-weight-2: calc(var(--std-text-weight-1) - var(--std-text-weight-scale));
    --std-text-weight-1: calc(var(--std-text-weight) - var(--std-text-weight-scale));
    --std-text-weight: 400;
    --std-text-weight1: calc(var(--std-text-weight) + var(--std-text-weight-scale));
    --std-text-weight2: calc(var(--std-text-weight1) + var(--std-text-weight-scale));

    font-family: var(--std-font-primary);
    font-size: var(--std-text-size);
    font-weight: var(--std-text-weight);
}
