.std {
    --std-text-small-size: var(--std-text-size1);
    --std-text-body2-size: var(--std-text-size2);
    --std-text-body1-size: var(--std-text-size3);
    --std-text-button-size: var(--std-text-size3);
    --std-text-caption-size: var(--std-text-size3);
    --std-text-overline-size: var(--std-text-size3);
    --std-text-subtitle2-size: var(--std-text-size4);
    --std-text-subtitle1-size: var(--std-text-size5);
    --std-text-h6-size: var(--std-text-size6);
    --std-text-h5-size: var(--std-text-size7);
    --std-text-h4-size: var(--std-text-size8);
    --std-text-h3-size: var(--std-text-size9);
    --std-text-h2-size: var(--std-text-size10);
    --std-text-h1-size: var(--std-text-size11);
    --std-text-display2-size: var(--std-text-size12);
    --std-text-display1-size: var(--std-text-size13);

    --std-text-small-weight: var(--std-text-weight);
    --std-text-body2-weight: var(--std-text-weight);
    --std-text-body1-weight: var(--std-text-weight);
    --std-text-button-weight: var(--std-text-weight);
    --std-text-caption-weight: var(--std-text-weight);
    --std-text-overline-weight: var(--std-text-weight);
    --std-text-subtitle2-weight: var(--std-text-weight);
    --std-text-subtitle1-weight: var(--std-text-weight);
    --std-text-h6-weight: var(--std-text-weight);
    --std-text-h5-weight: var(--std-text-weight);
    --std-text-h4-weight: var(--std-text-weight);
    --std-text-h3-weight: var(--std-text-weight);
    --std-text-h2-weight: var(--std-text-weight);
    --std-text-h1-weight: var(--std-text-weight);
    --std-text-display2-weight: var(--std-text-weight);
    --std-text-display1-weight: var(--std-text-weight);

    --std-text-small-height: var(--std-text-height);
    --std-text-body2-height: var(--std-text-height);
    --std-text-body1-height: var(--std-text-height);
    --std-text-button-height: var(--std-text-height);
    --std-text-caption-height: var(--std-text-height);
    --std-text-overline-height: var(--std-text-height);
    --std-text-subtitle2-height: var(--std-text-height);
    --std-text-subtitle1-height: var(--std-text-height);
    --std-text-h6-height: var(--std-text-height);
    --std-text-h5-height: var(--std-text-height);
    --std-text-h4-height: var(--std-text-height);
    --std-text-h3-height: var(--std-text-height);
    --std-text-h2-height: var(--std-text-height);
    --std-text-h1-height: var(--std-text-height);
    --std-text-display2-height: var(--std-text-height);
    --std-text-display1-height: var(--std-text-height);

    --std-text-small-space: var(--std-text-space);
    --std-text-body2-space: var(--std-text-space);
    --std-text-body1-space: var(--std-text-space);
    --std-text-button-space: var(--std-text-space);
    --std-text-caption-space: var(--std-text-space);
    --std-text-overline-space: var(--std-text-space);
    --std-text-subtitle2-space: var(--std-text-space);
    --std-text-subtitle1-space: var(--std-text-space);
    --std-text-h6-space: var(--std-text-space);
    --std-text-h5-space: var(--std-text-space);
    --std-text-h4-space: var(--std-text-space);
    --std-text-h3-space: var(--std-text-space);
    --std-text-h2-space: var(--std-text-space);
    --std-text-h1-space: var(--std-text-space);
    --std-text-display2-space: var(--std-text-space);
    --std-text-display1-space: var(--std-text-space);
}
