.std-theme.light {
    color: var(--std-color-fg1);

    --std-fg-l: 0%;
    --std-fg-ll: 1;
    --std-bg-l: 100%;
    --std-bg-ll: -1;

    --std-color-fg1: hsl(0, 0%, 13%);
    --std-color-fg2: hsl(0, 0%, 36%);
    --std-color-fg3: hsl(0, 0%, 59%);
    --std-color-bg1: hsl(0, 0%, 100%);
    --std-color-bg2: hsl(0, 0%, 98%);
    --std-color-bg3: hsl(0, 0%, 96%);
    --std-color-bg4: hsl(0, 0%, 94%);

    --std-color-primary-fg1: hsl(var(--std-color-primary-h), var(--std-color-primary-s), 48%);
    --std-color-primary-fg2: hsl(var(--std-color-primary-h), var(--std-color-primary-s), 40%);
    --std-color-primary-fg3: hsl(var(--std-color-primary-h), var(--std-color-primary-s), 32%);
    --std-color-primary-bg1: hsl(var(--std-color-primary-h), var(--std-color-primary-s), 97%);
    --std-color-primary-bg2: hsl(var(--std-color-primary-h), var(--std-color-primary-s), 84%);
    --std-color-primary-bg3: hsl(var(--std-color-primary-h), var(--std-color-primary-s), 71%);
    --std-color-primary-bg4: hsl(var(--std-color-primary-h), var(--std-color-primary-s), 57%);
    --std-color-secondary-fg1: hsl(var(--std-color-secondary-h), var(--std-color-secondary-s), 48%);
    --std-color-secondary-fg2: hsl(var(--std-color-secondary-h), var(--std-color-secondary-s), 40%);
    --std-color-secondary-fg3: hsl(var(--std-color-secondary-h), var(--std-color-secondary-s), 32%);
    --std-color-secondary-bg1: hsl(var(--std-color-secondary-h), var(--std-color-secondary-s), 97%);
    --std-color-secondary-bg2: hsl(var(--std-color-secondary-h), var(--std-color-secondary-s), 84%);
    --std-color-secondary-bg3: hsl(var(--std-color-secondary-h), var(--std-color-secondary-s), 71%);
    --std-color-secondary-bg4: hsl(var(--std-color-secondary-h), var(--std-color-secondary-s), 57%);
}
.std-theme.light.back {
    background-color: var(--theme-back, var(--std-color-bg1));
}
