.std {
    --std-icon-factor: 2;
    /* Values must be integer, for a pixel perfect result. */
    --std-icon-base: 12px;
    --std-icon1: calc(var(--std-icon-base) + 0px * var(--std-icon-factor));
    --std-icon2: calc(var(--std-icon1) + 1px * var(--std-icon-factor));
    --std-icon3: calc(var(--std-icon2) + 1px * var(--std-icon-factor));
    --std-icon4: calc(var(--std-icon3) + 2px * var(--std-icon-factor));
    --std-icon5: calc(var(--std-icon4) + 2px * var(--std-icon-factor));
    --std-icon6: calc(var(--std-icon5) + 4px * var(--std-icon-factor));
    --std-icon7: calc(var(--std-icon6) + 4px * var(--std-icon-factor));
    --std-icon8: calc(var(--std-icon7) + 6px * var(--std-icon-factor));
    --std-icon9: calc(var(--std-icon8) + 8px * var(--std-icon-factor));
    --std-icon10: calc(var(--std-icon9) + 10px * var(--std-icon-factor));
}
