.animator-c385f2.layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

/* none ***********************************************************************/

.animator-c385f2.none.exit-from {
    opacity: 1;
}
.animator-c385f2.none.exit-to {
    opacity: 0;
    transition: opacity 1ms;
}
.animator-c385f2.none.enter-from {
    opacity: 0;
}
.animator-c385f2.none.enter-to {
    opacity: 1;
    transition: opacity 1ms;
}

/* fade ***********************************************************************/

.animator-c385f2.fade.exit-from {
    opacity: 1;
}
.animator-c385f2.fade.exit-to {
    opacity: 0;
    transition: opacity var(--exit-duration, var(--std-duration-fast));
}
.animator-c385f2.fade.enter-from {
    opacity: 0;
}
.animator-c385f2.fade.enter-to {
    opacity: 1;
    transition: opacity var(--enter-duration, var(--std-duration-slow));
}

/* zoom ***********************************************************************/

.animator-c385f2.zoom.exit-from {
    opacity: 1;
    transform: scale(1);
}
.animator-c385f2.zoom.exit-to {
    opacity: 0;
    transform: scale(.9);
    transition:
        opacity var(--exit-duration, var(--std-duration-fast)),
        transform var(--exit-duration, var(--std-duration-fast))
    ;
}
.animator-c385f2.zoom.enter-from {
    opacity: 0;
    transform: scale(.9);
}
.animator-c385f2.zoom.enter-to {
    opacity: 1;
    transform: scale(1);
    transition:
        opacity var(--exit-duration, var(--std-duration-slow)),
        transform var(--exit-duration, var(--std-duration-slow))
    ;
}

/* leak ***********************************************************************/

.animator-c385f2.leak.exit-from {
    opacity: 1;
    transform: translateY(0px);
}
.animator-c385f2.leak.exit-to {
    opacity: 0;
    transform: translateY(100%);
    transition:
        opacity var(--exit-duration, var(--std-duration-fast)),
        transform var(--exit-duration, var(--std-duration-fast))
    ;
}
.animator-c385f2.leak.enter-from {
    opacity: 0;
    transform: translateY(-100%);
}
.animator-c385f2.leak.enter-to {
    opacity: 1;
    transform: translateY(0%);
    transition:
        opacity var(--exit-duration, var(--std-duration-slow)),
        transform var(--exit-duration, var(--std-duration-slow))
    ;
}

/* skid-left ******************************************************************/

.animator-c385f2.skid-left.exit-from {
    opacity: 1;
    transform: translateX(0px);
}
.animator-c385f2.skid-left.exit-to {
    opacity: 0;
    transform: translateX(-100%);
    transition:
        opacity var(--exit-duration, var(--std-duration-fast)),
        transform var(--exit-duration, var(--std-duration-fast))
    ;
}
.animator-c385f2.skid-left.enter-from {
    opacity: 0;
    transform: translateX(100%);
}
.animator-c385f2.skid-left.enter-to {
    opacity: 1;
    transform: translateX(0%);
    transition:
        opacity var(--exit-duration, var(--std-duration-slow)),
        transform var(--exit-duration, var(--std-duration-slow))
    ;
}
