.checkbox-16ba98,
.controls-67ba84,
.controls-67ba84::after {
	cursor: pointer;
}

.controls-67ba84 {
    position: relative;
    display: block;
    width: var(--checkbox-size, 1em);
	height: var(--checkbox-size, 1em);
	min-width: var(--checkbox-size, 1em);
    min-height: var(--checkbox-size, 1em);
    max-width: var(--checkbox-size, 1em);
    max-height: var(--checkbox-size, 1em);
    border: var(--checkbox-border-size, 2px) var(--checkbox-border-style, solid) var(--checkbox-border-color, currentColor);
    color: var(--checkbox-color, currentColor);
    background: transparent;
}
.controls-67ba84::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	width: 50%;
	height: 50%;
	margin: auto;
	opacity: 0;
	background: var(--std-text1);
	transform: scale(.5);
	transition: all var(--std-duration-normal);
}
.checkbox-16ba98.checked .controls-67ba84::after {
	opacity: 1;
	transform: scale(1);
}

.checkbox-16ba98.round .controls-67ba84,
.checkbox-16ba98.round .controls-67ba84::after {
	border-radius: var(--checkbox-size, 1em);
}
