.sa7b7eb6-spinner {
    display: inline-flex;
}

.sdd55de7-dot {
    opacity: 0;
    width: .5em;
    height: .5em;
    margin: .25em;
    border-radius: 50%;
}

.sa7b7eb6-spinner.active .sdd55de7-dot {
    opacity: 1;
    animation-name: dots-spinner;
    animation-duration: 1s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}

.sdd55de7-n1 {
    animation-delay: 0s;
}

.sdd55de7-n2 {
    animation-delay: .2s;
}

.sdd55de7-n3 {
    animation-delay: .4s;
}

@keyframes dots-spinner {
    0% {
        background-color: white;
        transform: scale(.6);
    }

    100% {
        background-color: currentColor;
    }
}
