.spinner-sa7b7e {
    display: inline-flex;
}

.dot-sdd55d {
    opacity: 0;
    width: .5em;
    height: .5em;
    margin: .25em;
    border-radius: 50%;
}

.spinner-sa7b7e.active .dot-sdd55d {
    opacity: 1;
    animation-name: dots-spinner;
    animation-duration: 1s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}

.n1-sdd55d {
    animation-delay: 0s;
}

.n2-sdd55d {
    animation-delay: .2s;
}

.n3-sdd55d {
    animation-delay: .4s;
}

@keyframes dots-spinner {
    0% {
        background-color: white;
        transform: scale(.6);
    }

    100% {
        background-color: currentColor;
    }
}
