.i7eea495-input {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: var(--std-gutter-xxs) var(--std-gutter-xs);
    border: 1px solid var(--std-primary-border-color);
    border-bottom: 3px solid var(--std-primary-border-color);
    border-radius: var(--std-radius-s);
    background-color: var(--std-back1);
    transition: all var(--std-duration-fast);
}
.i7eea495-input.placeholder {
    background-color: var(--std-back3);
}
.i7eea495-input.focus {
    border-bottom-color: var(--std-primary-tone1);
}

.i7eea495-input:hover .id45daa0-label,
.cebab456-field {
    color: var(--std-primary-shade1);
}

.id45daa0-label {
    color: var(--std-text3);
    margin-bottom: var(--std-gutter-xxs);
    transition: all var(--std-duration-normal);
    transform-origin: top left;
    pointer-events: none;
}
.i7eea495-input.placeholder .id45daa0-label {
    font-weight: var(--std-weight-regular);
}

.cebab456-field {
    border-bottom: 1px solid transparent;
    background-color: transparent;
}
