.Range-3f0392 {
    min-width: 8rem;
    align-items: center;
}

.handle-bd2ce4 {
    display: flex;
    align-items: center;
    background: var(--std-back1);
    box-shadow: var(--std-shadow1);
    user-select: none;
    cursor: col-resize;
}

.slider-fb2803 {
    cursor: move;
}
