.Range-3f0392 {
    display: flex;
    justify-content: space-between;
}

.tail-2c7180 {
    display: flex;
    align-items: center;
}
.tail-2c7180.start {
    justify-content: flex-end;
}
.tail-2c7180.end {
    justify-content: flex-start;
}

.track-7bf1df {
    flex-grow: 1;
}

.handle-bd2ce4 {
    height: 100%;
}

.slider-fb2803 {
    flex-grow: 1;
}
