.slider-73e431 {
    position: relative;
    overflow: var(--overflow, hidden);
    --to: 0;
    --direction-x: 0;
    --direction-y: 0;
}
.slider-73e431.backwards {
    --to: -1;
}
.slider-73e431.forwards {
    --to: 1;
}
.slider-73e431.horizontal {
    --direction-x: 1;
}
.slider-73e431.horizontal-inverse {
    --direction-x: -1;
}
.slider-73e431.vertical {
    --direction-y: 1;
}
.slider-73e431.vertical-inverse {
    --direction-y: -1;
}

.slide-0eaba2 {
    transform-style: preserve-3d;
}
.slide-0eaba2.exit-from {
    transform: translateX(0px);
}
.slide-0eaba2.exit-to {
    transform: translate(
        calc(var(--direction-x) * -1 * var(--to) * var(--distance, 100%)),
        calc(var(--direction-y) * -1 * var(--to) * var(--distance, 100%))
    );
    transition: all var(--duration, var(--std-duration-normal)) var(--easing, ease);
}
.slide-0eaba2.enter-from {
    transform: translate(
        calc(var(--direction-x) * 1 * var(--to) * var(--distance, 100%)),
        calc(var(--direction-y) * 1 * var(--to) * var(--distance, 100%))
    );
}
.slide-0eaba2.enter-to {
    transform: translateX(0px);
    transition: all var(--duration, var(--std-duration-normal)) var(--easing, ease);
}
