/* Dots Spinner ***************************************************************/

.spinner-sa7b7e {
    display: inline-flex;
}

.dot-sdd55d {
    opacity: 0;
    width: .5em;
    height: .5em;
    margin: .25em;
    border-radius: 50%;
}

.spinner-sa7b7e.active .dot-sdd55d {
    opacity: 1;
    animation-name: dots-spinner-052aa4;
    animation-duration: 1s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}

.n1-sdd55d {
    animation-delay: 0s;
}

.n2-sdd55d {
    animation-delay: .2s;
}

.n3-sdd55d {
    animation-delay: .4s;
}

@keyframes dots-spinner-052aa4 {
    0% {
        background: var(--std-back1);
        transform: scale(.6);
    }
    100% {
        background: currentColor;
    }
}

/* Pulse Spinner **************************************************************/

.spinner-5b07bc {
    position: relative;
    width: var(--pulse-spinner-size, 1em);
    height: var(--pulse-spinner-size, 1em);
    margin: calc(var(--pulse-spinner-size, 1em) / 4);
}

.spinner-5b07bc::before,
.spinner-5b07bc::after {
    content: '';
    position: absolute;
    border-radius: 100%;
}

.spinner-5b07bc::before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--std-back4-inverse);
}
.spinner-5b07bc.active::before {
    animation: pulse-spinner-a5e4a4 ease 2s 0s infinite;
}

.spinner-5b07bc::after {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: calc(var(--pulse-spinner-size, 1em) / 4) solid var(--std-back4);
    border-radius: 100%;
}
.spinner-5b07bc.active::after {
    animation: pulse-spinner-a5e4a4 ease 2s 1s infinite;
}

@keyframes pulse-spinner-a5e4a4 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}
