.t2eb5bd0-theme {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--std-gutter-m);
    background-color: var(--std-back1);
}

.t2eb5bd0-theme label {
    display: inline-block;
    cursor: default;
}

.t2eb5bd0-theme .std-button,
.t75a7bb0-color,
.td0891c0-contrast,
.t3479607-duration,
.t1d3c1f3-gutter,
.t1d3c1f3-gutter label,
.e43c305e-icon,
.e43c305e-icon label,
.t8c25d08-picker,
.tabc5e40-radius,
.t9a25786-shadow,
.bead0766-text {
    transition: all var(--std-duration-normal);
}
.t2eb5bd0-theme .std-button:hover,
.t75a7bb0-color:hover,
.t3479607-duration:hover,
.t1d3c1f3-gutter:hover label,
.e43c305e-icon:hover,
.t8c25d08-picker:hover,
.tabc5e40-radius:hover,
.t9a25786-shadow:hover,
.bead0766-text:hover {
    z-index: 1;
    transform: scale(1.2);
}

.t3479607-duration,
.tabc5e40-radius,
.t9a25786-shadow {
    background-color: var(--std-back1);
}

.t8c25d08-picker {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    overflow: hidden;
    clip-path: circle(15px);
    cursor: pointer;
}

.t75a7bb0-color {
    width: 2em;
    height: 2em;
    margin: 0 var(--std-gutter-xs);
    border: var(--std-gutter-mini) solid white;
    border-radius: 50%;
    box-shadow: var(--std-shadow-soft);
    transition: all var(--std-duration-normal);
}
.t75a7bb0-color:hover {
    box-shadow: var(--std-shadow4);
}

.td0891c0-contrast {
    width: 160px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--std-gutter-mini) solid transparent;
    padding: var(--std-gutter-xs);
    border-radius: var(--std-radius-l);
    overflow: hidden;
    box-shadow: var(--std-shadow1);
}
.td0891c0-contrast:hover {
    border-color: currentColor;
}

.t2eb5bd0-theme .std-button {
    margin: 0 var(--std-gutter-xs);
}

.t1d3c1f3-gutter {
    background-color: var(--std-back4);
}
.t1d3c1f3-gutter.important {
    display: block;
    height: 50px;
    line-height: 50px;
}
.t1d3c1f3-gutter > label {
    transform-origin: left;
}
.t1d3c1f3-gutter:hover {
    font-weight: var(--std-weight-bold);
    color: var(--std-primary-shade4);
    background-color: var(--std-primary-tint5);
}

.tabc5e40-radius {
    margin: 0 var(--std-gutter-xs);
    padding: var(--std-gutter-s);
    border: 4px solid transparent;
    background-color: var(--std-back4);
}
.tabc5e40-radius:hover {
    color: var(--std-primary-accent);
    background-color: var(--std-back1);
    border-color: currentColor;
}

.e43c305e-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 var(--std-gutter-s);
}
.e43c305e-icon:hover label {
    color: var(--std-primary-accent);
}

.t3479607-duration {
    width: 80px;
    line-height: 80px;
    text-align: center;
    margin: 0 var(--std-gutter-s);
    box-shadow: var(--std-shadow4);
}
.t3479607-duration:hover {
    border-radius: 50%;
}

.t9a25786-shadow {
    width: 60px;
    line-height: 60px;
    margin: var(--std-gutter-xs) var(--std-gutter-s);
    border-radius: 50%;
    text-align: center;
}
