.theme-t2eb5b {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: var(--std-gutter-m);
}

.theme-t2eb5b label {
    display: inline-block;
    cursor: default;
}
.theme-t2eb5b label.std-flex {
    display: flex;
}

.theme-t2eb5b .std-button,
.color-t75a7b,
.contrast-td0891,
.duration-t34796,
.gutter-t1d3c1,
.gutter-t1d3c1 label,
.icon-e43c30,
.icon-e43c30 label,
.picker-t8c25d,
.radius-tabc5e,
.shadow-t9a257,
.text-bead07 {
    transition: all var(--std-duration-normal);
}
.theme-t2eb5b .std-button:hover,
.color-t75a7b:hover,
.duration-t34796:hover,
.gutter-t1d3c1:hover label,
.icon-e43c30:hover,
.picker-t8c25d:hover,
.radius-tabc5e:hover,
.shadow-t9a257:hover,
.text-bead07:hover {
    z-index: 1;
    transform: scale(1.2);
}

.duration-t34796,
.radius-tabc5e,
.shadow-t9a257 {
    background: var(--std-back1);
}

.picker-t8c25d {
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
    overflow: hidden;
    clip-path: circle(1rem);
    cursor: pointer;
}

.color-t75a7b {
    width: 2em;
    height: 2em;
    margin: 0 var(--std-gutter-xs);
    border: var(--std-gutter-mini) solid white;
    border-radius: 50%;
    box-shadow: var(--std-shadow-soft);
    transition: all var(--std-duration-normal);
}
.color-t75a7b:hover {
    box-shadow: var(--std-shadow4);
}

.text-bead07 {
    border-bottom: var(--std-border1);
    margin-bottom: var(--std-gutter-mini);
}

.contrast-td0891 {
    width: 160px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--std-gutter-mini) solid transparent;
    padding: var(--std-gutter-xs);
    border-radius: var(--std-radius-l);
    overflow: hidden;
    box-shadow: var(--std-shadow1);
}
.contrast-td0891:hover {
    border-color: currentColor;
}

.theme-t2eb5b .std-button {
    margin: 0 var(--std-gutter-xs);
}

.gutter-t1d3c1 {
    background: var(--std-back4);
}
.gutter-t1d3c1.important {
    display: block;
    height: 50px;
    line-height: 50px;
}
.gutter-t1d3c1 > label {
    transform-origin: left;
}
.gutter-t1d3c1:hover {
    font-weight: var(--std-weight-bold);
    color: var(--std-primary-shade4);
    background: var(--std-primary-tint5);
}

.radius-tabc5e {
    margin: 0 var(--std-gutter-xs);
    padding: var(--std-gutter-s);
    border: 4px solid transparent;
    background: var(--std-back4);
}
.radius-tabc5e:hover {
    color: var(--std-primary-accent);
    background: var(--std-back1);
    border-color: currentColor;
}

.icon-e43c30 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 var(--std-gutter-s);
}
.icon-e43c30:hover label {
    color: var(--std-primary-accent);
}

.duration-t34796 {
    width: 80px;
    line-height: 80px;
    text-align: center;
    margin: 0 var(--std-gutter-s);
    box-shadow: var(--std-shadow4);
}
.duration-t34796:hover {
    border-radius: 50%;
}

.shadow-t9a257 {
    width: 60px;
    line-height: 60px;
    margin: var(--std-gutter-xs) var(--std-gutter-s);
    border-radius: 50%;
    text-align: center;
}
