.toggles-s4178a {
    flex-grow: 1;
}
.toggles-s4178a.select {
    padding: unset;
}

.list-s8ad55 {
    display: flex;
    flex-wrap: wrap;
}

.toggle-c9313e {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
