.toggles-s4178a {
    flex-grow: 1;
}
.toggles-s4178a.select {
    padding: unset;
}

.list-s8ad55 {
    display: flex;
    flex-wrap: wrap;
}

.toggle-c9313e {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: var(--std-react-toggles-size, 2.4em);
    height: var(--std-react-toggles-size, 2.4em);
    margin-right: var(--std-gutter-xs);
    margin-bottom: var(--std-gutter-xs);
    border: 3px solid var(--std-border1-color);
    border-radius: var(--std-react-toggles-size, 2.4em);
    font-weight: var(--std-weight-bold);
    color: var(--std-text2);
    cursor: pointer;
    user-select: none;
    transition: all var(--std-duration-normal);
}
.toggle-c9313e.selected {
    color: var(--std-text1-inverse);
    background: var(--std-primary-accent);
}
.toggle-c9313e:hover {
    border-color: var(--std-primary-accent);
}
