/*
.Tooltip-ccf9:hover .tooltip-ac0e,
.Tooltip-ccf9.visible .tooltip-ac0e {
    padding-top: var(--tooltip-distance, var(--std-gutter-mini));
}

.Tooltip-ccf9.start .tooltip-ac0e {
    left: calc(-1 * var(--std-gutter-s));
}
.Tooltip-ccf9.end .tooltip-ac0e {
    right: calc(-1 * var(--std-gutter-s));
}
*/

/* Arrow **********************************************************************/

/*
.tooltip-ac0e::before {
    --default-arrow-size: 16px;
    content: '';
    position: relative;
    display: block;
    top: calc(.5 * var(--arrow-size, var(--default-arrow-size)));
    margin-top: calc(-.5 * var(--arrow-size, var(--default-arrow-size)));
    width: var(--arrow-size, var(--default-arrow-size));
    height: var(--arrow-size, var(--default-arrow-size));
    margin-left: var(--std-gutter-s);
    margin-right: var(--std-gutter-s);
    border-right: unset;
    border-bottom: unset;
    border-bottom-right-radius: 100%;
    transform: rotate(45deg);
}

.Tooltip-ccf9.start .tooltip-ac0e::before {
    margin-right: auto;
}
.Tooltip-ccf9.center .tooltip-ac0e::before {
    margin-left: auto;
    margin-right: auto;
}
.Tooltip-ccf9.end .tooltip-ac0e::before {
    margin-left: auto;
}
*/

/* Theme **********************************************************************/

/*
.content-b6b3,
.tooltip-ac0e::before {
    background: var(--std-color-bg1);
    border: 1px solid hsla(0, 0%, var(--std-fg-l), .05);
}

.content-b6b3 {
    padding: var(--padding, var(--std-gutter-xs));
    background-color: var(--std-color-bg1);
}
*/
