.std {
    --std-color-amber1: #fff8e1;
    --std-color-amber2: #ffecb3;
    --std-color-amber3: #ffe082;
    --std-color-amber4: #ffd54f;
    --std-color-amber5: #ffca28;
    --std-color-amber6: #ffc107;
    --std-color-amber7: #ffb300;
    --std-color-amber8: #ffa000;
    --std-color-amber9: #ff8f00;
    --std-color-amber10: #ff6f00;
    --std-color-amber11: #ffe57f;
    --std-color-amber12: #ffd740;
    --std-color-amber13: #ffc400;
    --std-color-amber14: #ffab00;
}
