.std {
    --std-color-orange1: #fff3e0;
    --std-color-orange2: #ffe0b2;
    --std-color-orange3: #ffcc80;
    --std-color-orange4: #ffb74d;
    --std-color-orange5: #ffa726;
    --std-color-orange6: #ff9800;
    --std-color-orange7: #fb8c00;
    --std-color-orange8: #f57c00;
    --std-color-orange9: #ef6c00;
    --std-color-orange10: #e65100;
    --std-color-orange11: #ffd180;
    --std-color-orange12: #ffab40;
    --std-color-orange13: #ff9100;
    --std-color-orange14: #ff6d00;
}
