.section-c3bf {
    display: block;
}

.head-ad0d {
    z-index: 1;
    width: 100%;
}

.content-38aa {
    z-index: 0;
    max-height: 0px;
    transition: all var(--accordion-duration, var(--std-duration4));
    overflow-y: hidden; /* Fixes an issue on Safari (14) not honoring max-height when overflow-y:auto. */
}
.section-c3bf.selected .content-38aa {
    max-height: var(--accordion-height, 50vh);
    overflow-y: auto;
}
