.Checkbox-16ba {
    --padding: var(--std-gutter1);
    border: 2px solid currentColor;
}

.Checkbox-16ba:not([disabled]):hover,
.Checkbox-16ba:not([disabled]):focus,
.Checkbox-16ba:not([disabled]):active,
.Checkbox-16ba:not([disabled]):hover,
.Checkbox-16ba:not([disabled])[aria-checked="true"] {
    color: var(--std-color-primary-accent, currentColor);
}

.Checkbox-16ba:not([disabled]):focus {
    outline-color: currentColor;
}

.Checkbox-16ba.round {
    border-radius: 100%;
}

.Checkbox-16ba,
.Checkbox-16ba > * {
    transition: all var(--std-duration2);
}

.Checkbox-16ba > * {
    display: inline-block;
}
