.WidgetsView-a252 {
    gap: var(--std-gutter5);
}

.section-0234 {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: var(--std-gutter4);
}

.section-0234.column {
    flex-direction: column;
}

.title-74a6 {
    width: 100%;
    font-weight: var(--std-text-weight2);
}

.section-0234 .Accordion-c2ae {
    border-radius: var(--std-radius5);
    overflow: hidden;
}

.section-0234 .section-c3bf {
    background-color: var(--std-color-bg2);
}

.section-0234 .section-c3bf .head-ad0d {
    padding: var(--std-gutter3);
    border-bottom: 4px solid var(--std-color-bg1);
    background-color: var(--std-color-bg3);
    transition: all var(--std-duration-normal);
}

.section-0234 .section-c3bf.selected .head-ad0d {
    border-color: var(--std-color-primary-accent);
}

.section-0234 .section-c3bf .content-38aa > * {
    padding: var(--std-gutter4);
    color: var(--std-color-primary-fg1);
}
