.WidgetsView-a252 {
    gap: var(--std-gutter8);
}

.section-0234 {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: var(--std-gutter4);
}

.section-0234.column {
    flex-direction: column;
}

.title-74a6 {
    width: 100%;
    font-weight: var(--std-text-weight2);
}

.section-0234 .AccordionList-c2ae {
    border-radius: var(--std-radius4);
    overflow: hidden;
    background-color: var(--std-color-bg2);
}

.section-0234 .head-ad0d {
    padding: var(--std-gutter3);
    border-bottom: 4px solid var(--std-color-bg1);
    background-color: var(--std-color-bg3);
    transition: all var(--duration, var(--std-duration2));
}
.section-0234 .AccordionItem-de4f.selected .head-ad0d {
    border-color: var(--std-color-primary-accent);
}

.section-0234 .content-38aa > * {
    padding: var(--std-gutter4);
    color: var(--std-color-primary-fg1);
}
