@layer std, reactx;

@import '@evilcss/std/accelerate.classes.css' layer(std);
@import '@evilcss/std/border.props.css' layer(std);
@import '@evilcss/std/button-with-outline.classes.css' layer(std);
@import '@evilcss/std/button.classes.css' layer(std);
@import '@evilcss/std/button/dye.css' layer(std);
@import '@evilcss/std/button/flat.css' layer(std);
@import '@evilcss/std/button/halo.css' layer(std);
@import '@evilcss/std/button/plain.css' layer(std);
@import '@evilcss/std/color-accent-primary.classes.css' layer(std);
@import '@evilcss/std/color-accent-primary.props.css' layer(std);
@import '@evilcss/std/color-accent-secondary.classes.css' layer(std);
@import '@evilcss/std/color-accent-secondary.props.css' layer(std);
@import '@evilcss/std/color-bg-dark.props.css' layer(std);
@import '@evilcss/std/color-bg-light.props.css' layer(std);
@import '@evilcss/std/color-bg.classes.css' layer(std);
@import '@evilcss/std/color-fg-dark.props.css' layer(std);
@import '@evilcss/std/color-fg-light.props.css' layer(std);
@import '@evilcss/std/color-fg.classes.css' layer(std);
@import '@evilcss/std/color-icon.props.css' layer(std);
@import '@evilcss/std/color-material/amber.props.css' layer(std);
@import '@evilcss/std/color-material/blue-light.props.css' layer(std);
@import '@evilcss/std/color-material/blue.props.css' layer(std);
@import '@evilcss/std/color-material/brown.props.css' layer(std);
@import '@evilcss/std/color-material/cyan.props.css' layer(std);
@import '@evilcss/std/color-material/green-light.props.css' layer(std);
@import '@evilcss/std/color-material/green.props.css' layer(std);
@import '@evilcss/std/color-material/grey-blue.props.css' layer(std);
@import '@evilcss/std/color-material/grey.props.css' layer(std);
@import '@evilcss/std/color-material/indigo.props.css' layer(std);
@import '@evilcss/std/color-material/lime.props.css' layer(std);
@import '@evilcss/std/color-material/orange-deep.props.css' layer(std);
@import '@evilcss/std/color-material/orange.props.css' layer(std);
@import '@evilcss/std/color-material/pink.props.css' layer(std);
@import '@evilcss/std/color-material/purple-deep.props.css' layer(std);
@import '@evilcss/std/color-material/purple.props.css' layer(std);
@import '@evilcss/std/color-material/red.props.css' layer(std);
@import '@evilcss/std/color-material/teal.props.css' layer(std);
@import '@evilcss/std/color-material/yellow.props.css' layer(std);
@import '@evilcss/std/color-state.props.css' layer(std);
@import '@evilcss/std/color-theme.classes.css' layer(std);
@import '@evilcss/std/duration.props.css' layer(std);
@import '@evilcss/std/icon-color.classes.css' layer(std);
@import '@evilcss/std/icon-size.classes.css' layer(std);
@import '@evilcss/std/icon-size.props.css' layer(std);
@import '@evilcss/std/icon.classes.css' layer(std);
@import '@evilcss/std/layout-block.css' layer(std);
@import '@evilcss/std/layout-debug.classes.css' layer(std);
@import '@evilcss/std/layout-flex-break.classes.css' layer(std);
@import '@evilcss/std/layout-flex-gap.classes.css' layer(std);
@import '@evilcss/std/layout-flex-space.classes.css' layer(std);
@import '@evilcss/std/layout-flex-stack.classes.css' layer(std);
@import '@evilcss/std/layout-flex.classes.css' layer(std);
@import '@evilcss/std/layout-float.classes.css' layer(std);
@import '@evilcss/std/layout-grid-gap.classes.css' layer(std);
@import '@evilcss/std/layout-grid-layers.classes.css' layer(std);
@import '@evilcss/std/layout-grid.classes.css' layer(std);
@import '@evilcss/std/layout-gutter-gap.classes.css' layer(std);
@import '@evilcss/std/layout-gutter-space.classes.css' layer(std);
@import '@evilcss/std/layout-gutter-spacing.classes.css' layer(std);
@import '@evilcss/std/layout-gutter.props.css' layer(std);
@import '@evilcss/std/layout-inline.css' layer(std);
@import '@evilcss/std/layout-layer.classes.css' layer(std);
@import '@evilcss/std/layout-size.classes.css' layer(std);
@import '@evilcss/std/layout-viewport.classes.css' layer(std);
@import '@evilcss/std/layout-viewport.props.css' layer(std);
@import '@evilcss/std/media.classes.css' layer(std);
@import '@evilcss/std/modal.classes.css' layer(std);
@import '@evilcss/std/pointer.classes.css' layer(std);
@import '@evilcss/std/radius.classes.css' layer(std);
@import '@evilcss/std/radius.props.css' layer(std);
@import '@evilcss/std/reset/all-box.css' layer(std);
@import '@evilcss/std/reset/all-color.css' layer(std);
@import '@evilcss/std/reset/all-font.css' layer(std);
@import '@evilcss/std/reset/attr-hidden.css' layer(std);
@import '@evilcss/std/reset/attr-invisible.css' layer(std);
@import '@evilcss/std/reset/root-accent-color.css' layer(std);
@import '@evilcss/std/reset/root-color-scheme-dark.css' layer(std);
@import '@evilcss/std/reset/root-color-scheme-light.css' layer(std);
@import '@evilcss/std/reset/root-color-scheme.css' layer(std);
@import '@evilcss/std/reset/root-font-rendering.css' layer(std);
@import '@evilcss/std/reset/root-font-size.css' layer(std);
@import '@evilcss/std/reset/root-overflow-touch.css' layer(std);
@import '@evilcss/std/reset/tag-a.css' layer(std);
@import '@evilcss/std/reset/tag-b-strong.css' layer(std);
@import '@evilcss/std/reset/tag-button.css' layer(std);
@import '@evilcss/std/reset/tag-html5-display-block.css' layer(std);
@import '@evilcss/std/reset/tag-i-em.css' layer(std);
@import '@evilcss/std/reset/tag-img-picture-svg-video.css' layer(std);
@import '@evilcss/std/reset/tag-input.css' layer(std);
@import '@evilcss/std/reset/tag-ol-ul.css' layer(std);
@import '@evilcss/std/reset/tag-q-blockquote.css' layer(std);
@import '@evilcss/std/reset/tag-select.css' layer(std);
@import '@evilcss/std/reset/tag-span.css' layer(std);
@import '@evilcss/std/reset/tag-textarea.css' layer(std);
@import '@evilcss/std/scroll.classes.css' layer(std);
@import '@evilcss/std/scrollbar.classes.css' layer(std);
@import '@evilcss/std/shadow-extra.classes.css' layer(std);
@import '@evilcss/std/shadow-extra.props.css' layer(std);
@import '@evilcss/std/shadow-material.classes.css' layer(std);
@import '@evilcss/std/shadow-material.props.css' layer(std);
@import '@evilcss/std/switch.classes.css' layer(std);
@import '@evilcss/std/text-align.classes.css' layer(std);
@import '@evilcss/std/text-descender.classes.css' layer(std);
@import '@evilcss/std/text-descender.props.css' layer(std);
@import '@evilcss/std/text-font.classes.css' layer(std);
@import '@evilcss/std/text-font/roboto.css' layer(std);
@import '@evilcss/std/text-height.classes.css' layer(std);
@import '@evilcss/std/text-height.props.css' layer(std);
@import '@evilcss/std/text-overflow.classes.css' layer(std);
@import '@evilcss/std/text-size-material.classes.css' layer(std);
@import '@evilcss/std/text-size-material.props.css' layer(std);
@import '@evilcss/std/text-size-material.tags.css' layer(std);
@import '@evilcss/std/text-size.classes.css' layer(std);
@import '@evilcss/std/text-size.props.css' layer(std);
@import '@evilcss/std/text-size(with-accessible).props.css' layer(std);
@import '@evilcss/std/text-space.classes.css' layer(std);
@import '@evilcss/std/text-space.props.css' layer(std);
@import '@evilcss/std/text-transform.classes.css' layer(std);
@import '@evilcss/std/text-weight.classes.css' layer(std);
@import '@evilcss/std/text-weight.props.css' layer(std);
@import '@evilcss/std/text.classes.css' layer(std);
@import '@evilcss/std/transition/fade.classes.css' layer(std);
@import '@evilcss/std/transition/leak.classes.css' layer(std);
@import '@evilcss/std/transition/none.classes.css' layer(std);
@import '@evilcss/std/transition/skid-left.classes.css' layer(std);
@import '@evilcss/std/transition/zoom.classes.css' layer(std);

@import '@eviljs/react/transition-animator/layer.css' layer(reactx);
@import '@eviljs/reactx/checkbox-mark/shape.css' layer(reactx);
@import '@eviljs/reactx/input/floating-theme.css' layer(reactx);
@import '@eviljs/reactx/range/theme.css' layer(reactx);

/*
.Root {
}
*/

.std {
    --std-font-primary:
        Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Oxygen-Sans, Ubuntu, Cantarell, Futura, 'Helvetica Neue', Helvetica,
        Arial, sans-serif, system-ui
    ;
    --std-color-primary-h: 250deg;
    --std-color-primary-s: 70%;
    --std-color-primary-l: 60%;
    --std-color-secondary-h: 0deg;
    --std-color-secondary-s: 55%;
    --std-color-secondary-l: 50%;

    --std-text-descender-size: .25;
    --std-text-descender-line: .8;
}

.page-title {
    padding-left: var(--std-gutter5);
    border-left: 6px solid var(--std-color-primary-accent);
    color: var(--std-color-primary-accent);
    text-transform: uppercase;
}
