.Switch-5a04,
.know-91ba {
    transition: all var(--std-duration-fast);
}

.Switch-5a04 {
    box-sizing: content-box;
    display: inline-flex;
    align-items: center;
    width: 2em;
    height: 1em;
    border-radius: 1em;
    color: var(--std-color-primary-accent);
    background-color: hsla(0, 0%, var(--std-front-l), .1);
    box-shadow: inset 0 0 2px 0 hsla(0, 0%, 0%, .2);
}
.Switch-5a04[aria-checked="true"] {
    background-color: currentColor;
}
.Switch-5a04:focus {
    outline: none;
    /* outline-offset: .1em; */
}

.know-91ba {
    --gap: .05em;
    width: calc(1em - 2 * var(--gap));
    height: calc(1em - 2 * var(--gap));
    border-radius: 1em;
    border: .2em solid var(--std-color-back1);
    transform: translateX(var(--gap));
    background-color: var(--std-color-back1);
    box-shadow: 0 0 3px 0 hsla(0, 0%, 0%, .2);
}
.Switch-5a04[aria-checked="true"] .know-91ba {
    transform: translateX(calc(1em + var(--gap)));
}
.Switch-5a04:focus .know-91ba {
    background-color: currentColor;
}
