.std-root {
    --std-color-blue1: #FDFDFF;
    --std-color-blue2: #F5F8FD;
    --std-color-blue3: #EBF0FB;
    --std-color-blue4: #D6E0F7;
    --std-color-blue5: #B8CAF2;
    --std-color-blue6: #94B0EC;
    --std-color-blue7: #6C92E4;
    --std-color-blue8: #4272DD;
    --std-color-blue9: #1751D0;
    --std-color-blue10: #113B98;
    --std-color-blue11: #0C296A;
    --std-color-blue12: #081B45;
    --std-color-blue13: #051029;
}
