.std-root {
    --std-color-forest1: #F5FBF1;
    --std-color-forest2: #E9F3E3;
    --std-color-forest3: #D3E7C8;
    --std-color-forest4: #BDDBAC;
    --std-color-forest5: #A7CE91;
    --std-color-forest6: #91C275;
    --std-color-forest7: #7BB65A;
    --std-color-forest8: #67A346;
    --std-color-forest9: #56883B;
    --std-color-forest10: #456C2F;
    --std-color-forest11: #345123;
    --std-color-forest12: #223617;
    --std-color-forest13: #111B0C;
}
