.std-root {
    --std-color-green1: #EBFBF1;
    --std-color-green2: #E1FAEA;
    --std-color-green3: #C1F4D4;
    --std-color-green4: #91DDAD;
    --std-color-green5: #63C888;
    --std-color-green6: #3BBA6A;
    --std-color-green7: #14AD4D;
    --std-color-green8: #019939;
    --std-color-green9: #018030;
    --std-color-green10: #016626;
    --std-color-green11: #004D1D;
    --std-color-green12: #102A19;
    --std-color-green13: #001A0A;
}
