.std-root {
    --std-color-grey-cool1: #FAFBFC;
    --std-color-grey-cool2: #EFF0F2;
    --std-color-grey-cool3: #DCDEE3;
    --std-color-grey-cool4: #C7CAD1;
    --std-color-grey-cool5: #AEB2BC;
    --std-color-grey-cool6: #9499A5;
    --std-color-grey-cool7: #7F8493;
    --std-color-grey-cool8: #6B7180;
    --std-color-grey-cool9: #595E6A;
    --std-color-grey-cool10: #474B55;
    --std-color-grey-cool11: #363840;
    --std-color-grey-cool12: #24262B;
    --std-color-grey-cool13: #121315;
}
