.std-root {
    --std-color-grey-flat1: #FCFCFC;
    --std-color-grey-flat2: #F5F5F5;
    --std-color-grey-flat3: #EFEFEF;
    --std-color-grey-flat4: #E1E1E1;
    --std-color-grey-flat5: #CCCCCC;
    --std-color-grey-flat6: #B3B3B3;
    --std-color-grey-flat7: #9E9E9E;
    --std-color-grey-flat8: #959595;
    --std-color-grey-flat9: #656565;
    --std-color-grey-flat10: #383838;
    --std-color-grey-flat11: #1D1D1D;
    --std-color-grey-flat12: #101010;
    --std-color-grey-flat13: #040404;
}
