.std-root {
    --std-color-grey-neutral1: #FDFDFD;
    --std-color-grey-neutral2: #F8F8F8;
    --std-color-grey-neutral3: #F1F1F1;
    --std-color-grey-neutral4: #ECECED;
    --std-color-grey-neutral5: #E6E6E6;
    --std-color-grey-neutral6: #DCDCDE;
    --std-color-grey-neutral7: #C9C9CC;
    --std-color-grey-neutral8: #ADACB0;
    --std-color-grey-neutral9: #7F7D83;
    --std-color-grey-neutral10: #4F4D55;
    --std-color-grey-neutral11: #2D2B32;
    --std-color-grey-neutral12: #1D1C20;
    --std-color-grey-neutral13: #0A090B;
}
