.std-root {
    --std-color-grey-bright1: #FDFDFD;
    --std-color-grey-bright2: #F9F9F9;
    --std-color-grey-bright3: #EFEFEE;
    --std-color-grey-bright4: #DBDBD9;
    --std-color-grey-bright5: #C2C2BF;
    --std-color-grey-bright6: #A5A5A0;
    --std-color-grey-bright7: #87877F;
    --std-color-grey-bright8: #696960;
    --std-color-grey-bright9: #4D4D42;
    --std-color-grey-bright10: #353528;
    --std-color-grey-bright11: #28281B;
    --std-color-grey-bright12: #191910;
    --std-color-grey-bright13: #13130C;
}
