.std-root {
    --std-color-indigo1: #F3FAFF;
    --std-color-indigo2: #DEF1FF;
    --std-color-indigo3: #BEE4FF;
    --std-color-indigo4: #98D4FF;
    --std-color-indigo5: #74C4FF;
    --std-color-indigo6: #48AFFA;
    --std-color-indigo7: #0A8FEF;
    --std-color-indigo8: #0279CF;
    --std-color-indigo9: #0063AA;
    --std-color-indigo10: #00538E;
    --std-color-indigo11: #003D69;
    --std-color-indigo12: #04385C;
    --std-color-indigo13: #022035;
}
