.std-root {
    --std-color-magenta1: #F9E9F3;
    --std-color-magenta2: #F5DDED;
    --std-color-magenta3: #EBBBDB;
    --std-color-magenta4: #E199C9;
    --std-color-magenta5: #D777B8;
    --std-color-magenta6: #CD55A6;
    --std-color-magenta7: #C33394;
    --std-color-magenta8: #B01F80;
    --std-color-magenta9: #921A6B;
    --std-color-magenta10: #751556;
    --std-color-magenta11: #581040;
    --std-color-magenta12: #3B0A2B;
    --std-color-magenta13: #1D0515;
}
