.std-root {
    --std-color-maroon1: #FAE9EF;
    --std-color-maroon2: #F7DDE6;
    --std-color-maroon3: #EFBCCD;
    --std-color-maroon4: #E79AB4;
    --std-color-maroon5: #E0789B;
    --std-color-maroon6: #D85681;
    --std-color-maroon7: #D03568;
    --std-color-maroon8: #BC2155;
    --std-color-maroon9: #9D1C47;
    --std-color-maroon10: #7E1639;
    --std-color-maroon11: #5E112B;
    --std-color-maroon12: #3F0B1C;
    --std-color-maroon13: #1F060E;
}
