.std-root {
    --std-color-orange1: #FFF2ED;
    --std-color-orange2: #FFEBE2;
    --std-color-orange3: #FFD3C1;
    --std-color-orange4: #FFBA9F;
    --std-color-orange5: #FFA07C;
    --std-color-orange6: #FF8659;
    --std-color-orange7: #FF6B34;
    --std-color-orange8: #F25219;
    --std-color-orange9: #C44518;
    --std-color-orange10: #9D3713;
    --std-color-orange11: #762A0E;
    --std-color-orange12: #4F1C0A;
    --std-color-orange13: #270E05;
}
