.std-root {
    --std-color-pool-blue1: #F1FAF9;
    --std-color-pool-blue2: #E9F7F5;
    --std-color-pool-blue3: #D2EEEB;
    --std-color-pool-blue4: #BCE6E1;
    --std-color-pool-blue5: #A6DED8;
    --std-color-pool-blue6: #8FD5CE;
    --std-color-pool-blue7: #79CDC4;
    --std-color-pool-blue8: #66BAB0;
    --std-color-pool-blue9: #559B93;
    --std-color-pool-blue10: #447C76;
    --std-color-pool-blue11: #335D58;
    --std-color-pool-blue12: #223E3B;
    --std-color-pool-blue13: #051311;
}
