.std-root {
    --std-color-purple1: #FEF2FF;
    --std-color-purple2: #F0DFF4;
    --std-color-purple3: #E2BFE9;
    --std-color-purple4: #D39EDE;
    --std-color-purple5: #C47ED3;
    --std-color-purple6: #B65EC8;
    --std-color-purple7: #A73EBC;
    --std-color-purple8: #942BA9;
    --std-color-purple9: #7B238D;
    --std-color-purple10: #631C71;
    --std-color-purple11: #4A1555;
    --std-color-purple12: #310E38;
    --std-color-purple13: #19071C;
}
