.std-root {
    --std-color-red1: #FEEBEB;
    --std-color-red2: #FFE3E3;
    --std-color-red3: #FFC9C9;
    --std-color-red4: #FAA4A4;
    --std-color-red5: #FF7F7F;
    --std-color-red6: #F75656;
    --std-color-red7: #F53535;
    --std-color-red8: #E12121;
    --std-color-red9: #BC1C1C;
    --std-color-red10: #961616;
    --std-color-red11: #711111;
    --std-color-red12: #4B0B0B;
    --std-color-red13: #260606;
}
