.std-root {
    --std-color-squash1: #FFF6E7;
    --std-color-squash2: #FFF1DA;
    --std-color-squash3: #FFE9BA;
    --std-color-squash4: #FFD58F;
    --std-color-squash5: #FFC76A;
    --std-color-squash6: #FFB945;
    --std-color-squash7: #FFAB1F;
    --std-color-squash8: #EC980C;
    --std-color-squash9: #C47E0A;
    --std-color-squash10: #9D6508;
    --std-color-squash11: #764C06;
    --std-color-squash12: #4F3304;
    --std-color-squash13: #271902;
}
