.std-root {
    --std-color-teal1: #F3FAFC;
    --std-color-teal2: #DFF1F7;
    --std-color-teal3: #B8DEE9;
    --std-color-teal4: #93CBDC;
    --std-color-teal5: #6CB6CD;
    --std-color-teal6: #45A2BE;
    --std-color-teal7: #0692BC;
    --std-color-teal8: #007092;
    --std-color-teal9: #005D7A;
    --std-color-teal10: #004B61;
    --std-color-teal11: #003849;
    --std-color-teal12: #002531;
    --std-color-teal13: #000C10;
}
