.std-root {
    --std-color-ultramarine1: #F1ECFF;
    --std-color-ultramarine2: #E6DFFF;
    --std-color-ultramarine3: #CABCFF;
    --std-color-ultramarine4: #A994F9;
    --std-color-ultramarine5: #876AF2;
    --std-color-ultramarine6: #633FE8;
    --std-color-ultramarine7: #4318E3;
    --std-color-ultramarine8: #3005D0;
    --std-color-ultramarine9: #2804AD;
    --std-color-ultramarine10: #20038B;
    --std-color-ultramarine11: #180268;
    --std-color-ultramarine12: #100245;
    --std-color-ultramarine13: #080123;
}
