.std-root {
    --std-color-violet1: #F1E9FB;
    --std-color-violet2: #EADEF9;
    --std-color-violet3: #D5BCF3;
    --std-color-violet4: #C09BED;
    --std-color-violet5: #AB79E8;
    --std-color-violet6: #9658E2;
    --std-color-violet7: #8136DC;
    --std-color-violet8: #6E23C9;
    --std-color-violet9: #5C1DA7;
    --std-color-violet10: #491786;
    --std-color-violet11: #371264;
    --std-color-violet12: #250C43;
    --std-color-violet13: #120621;
}
