.ArmoredButton-aa3e {
    position: relative;
}

.ArmoredButton-aa3e .armor,
.ArmoredButton-aa3e .armor.std-button {
    position: absolute;
}

.ArmoredButton-aa3e.initial .cancel,
.ArmoredButton-aa3e.initial .cancel.std-button,
.ArmoredButton-aa3e.initial .confirm,
.ArmoredButton-aa3e.initial .confirm.std-button,
.ArmoredButton-aa3e.armored .armor,
.ArmoredButton-aa3e.armored .armor.std-button {
    opacity: 0;
    pointer-events: none;
}
