.Checkbox-16ba {
    --button-padding: var(--std-gutter1);
    border: 2px solid currentColor;
}

.Checkbox-16ba:not([disabled]):hover,
.Checkbox-16ba:not([disabled]):focus,
.Checkbox-16ba:not([disabled]):active,
.Checkbox-16ba:not([disabled]):hover,
.Checkbox-16ba:not([disabled])[aria-checked="true"] {
    color: var(--std-color-primary-accent, currentColor);
}

.Checkbox-16ba:not([disabled]):focus-visible {
    outline-color: currentColor;
}
@supports not selector(:focus-visible) {
    /*
    * :focus-visible is not supported by Safari yet, but it is coming.
    * In the meantime we can use "@supports selector()" which is supported
    * since Safari 14.1.
    *
    * :focus:not(:focus-visible) is treated as :focus on Chrome, so it is useless.
    */
    .Checkbox-16ba:not([disabled]):focus {
        outline-color: currentColor;
    }
}

.Checkbox-16ba.round {
    border-radius: 100%;
}

.Checkbox-16ba,
.Checkbox-16ba > * {
    transition: all var(--std-duration2);
}

.Checkbox-16ba > * {
    display: inline-block;
}
