.TransitionAnimator-c385.layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

/* none ***********************************************************************/

.TransitionAnimator-c385.none.exit-from {
    opacity: 1;
}
.TransitionAnimator-c385.none.exit-to {
    opacity: 0;
    transition: opacity 1ms;
}
.TransitionAnimator-c385.none.enter-from {
    opacity: 0;
}
.TransitionAnimator-c385.none.enter-to {
    opacity: 1;
    transition: opacity 1ms;
}

/* fade ***********************************************************************/

.TransitionAnimator-c385.fade.exit-from {
    opacity: 1;
}
.TransitionAnimator-c385.fade.exit-to {
    opacity: 0;
    transition: opacity var(--exit-duration, var(--std-duration2));
}
.TransitionAnimator-c385.fade.enter-from {
    opacity: 0;
}
.TransitionAnimator-c385.fade.enter-to {
    opacity: 1;
    transition: opacity var(--enter-duration, var(--std-duration4));
}

/* zoom ***********************************************************************/

.TransitionAnimator-c385.zoom.exit-from {
    opacity: 1;
    transform: scale(1);
}
.TransitionAnimator-c385.zoom.exit-to {
    opacity: 0;
    transform: scale(.9);
    transition:
        opacity var(--exit-duration, var(--std-duration2)),
        transform var(--exit-duration, var(--std-duration2))
    ;
}
.TransitionAnimator-c385.zoom.enter-from {
    opacity: 0;
    transform: scale(.9);
}
.TransitionAnimator-c385.zoom.enter-to {
    opacity: 1;
    transform: scale(1);
    transition:
        opacity var(--enter-duration, var(--std-duration4)),
        transform var(--enter-duration, var(--std-duration4))
    ;
}

/* leak ***********************************************************************/

.TransitionAnimator-c385.leak.exit-from {
    opacity: 1;
    transform: translateY(0px);
}
.TransitionAnimator-c385.leak.exit-to {
    opacity: 0;
    transform: translateY(100%);
    transition:
        opacity var(--exit-duration, var(--std-duration2)),
        transform var(--exit-duration, var(--std-duration2))
    ;
}
.TransitionAnimator-c385.leak.enter-from {
    opacity: 0;
    transform: translateY(-100%);
}
.TransitionAnimator-c385.leak.enter-to {
    opacity: 1;
    transform: translateY(0%);
    transition:
        opacity var(--enter-duration, var(--std-duration4)),
        transform var(--enter-duration, var(--std-duration4))
    ;
}

/* skid-left ******************************************************************/

.TransitionAnimator-c385.skid-left.exit-from {
    opacity: 1;
    transform: translateX(0px);
}
.TransitionAnimator-c385.skid-left.exit-to {
    opacity: 0;
    transform: translateX(-100%);
    transition:
        opacity var(--exit-duration, var(--std-duration2)),
        transform var(--exit-duration, var(--std-duration2))
    ;
}
.TransitionAnimator-c385.skid-left.enter-from {
    opacity: 0;
    transform: translateX(100%);
}
.TransitionAnimator-c385.skid-left.enter-to {
    opacity: 1;
    transform: translateX(0%);
    transition:
        opacity var(--enter-duration, var(--std-duration4)),
        transform var(--enter-duration, var(--std-duration4))
    ;
}
