.toggle-f1a,
.toggle-f1a::after {
    border-radius: 48px;
}
.toggle-f1a {
    --toggle-width: 48px;
    --toggle-height: 16px;
    --toggle-space: 2px;
    --toggle-border: 2px;
    position: relative;
    width: var(--toggle-width);
    height: calc(
        var(--toggle-height)
        + (var(--toggle-border) * 2)
        + (var(--toggle-space) * 2)
    );
    background-color: var(--std-color-back1);
    border: var(--toggle-border) solid var(--std-color-primary-accent);
    cursor: pointer;
}
.toggle-f1a::after {
    position: absolute;
    content: '';
    top: var(--toggle-space);
    left: var(--toggle-space);
    bottom: var(--toggle-space);
    width: var(--toggle-height);
    background-color: var(--std-color-primary-accent);
    transition: all var(--std-duration-fast);
}
.toggle-f1a.active::after {
    transform: translateX(calc(
        var(--toggle-width)
        - (var(--toggle-border) * 2)
        - (var(--toggle-space) * 2)
        - var(--toggle-height)
    ));
}
