.std-root {
    --std-color-p1-blue1: #fdfdff;
    --std-color-p1-blue2: #f5f8fd;
    --std-color-p1-blue3: #ebf0fb;
    --std-color-p1-blue4: #d6e0f7;
    --std-color-p1-blue5: #b8caf2;
    --std-color-p1-blue6: #94b0ec;
    --std-color-p1-blue7: #6c92e4;
    --std-color-p1-blue8: #4272dd;
    --std-color-p1-blue9: #1751d0;
    --std-color-p1-blue10: #113b98;
    --std-color-p1-blue11: #0c296a;
    --std-color-p1-blue12: #081b45;
    --std-color-p1-blue13: #051029;
}
