.std-root, .std-define-color-palette {
    --std-color-p1-forest1: #f5fbf1;
    --std-color-p1-forest2: #e9f3e3;
    --std-color-p1-forest3: #d3e7c8;
    --std-color-p1-forest4: #bddbac;
    --std-color-p1-forest5: #a7ce91;
    --std-color-p1-forest6: #91c275;
    --std-color-p1-forest7: #7bb65a;
    --std-color-p1-forest8: #67a346;
    --std-color-p1-forest9: #56883b;
    --std-color-p1-forest10: #456c2f;
    --std-color-p1-forest11: #345123;
    --std-color-p1-forest12: #223617;
    --std-color-p1-forest13: #111b0c;
}
