.std-root {
    --std-color-p1-gray-cool1: #fafbfc;
    --std-color-p1-gray-cool2: #eff0f2;
    --std-color-p1-gray-cool3: #dcdee3;
    --std-color-p1-gray-cool4: #c7cad1;
    --std-color-p1-gray-cool5: #aeb2bc;
    --std-color-p1-gray-cool6: #9499a5;
    --std-color-p1-gray-cool7: #7f8493;
    --std-color-p1-gray-cool8: #6b7180;
    --std-color-p1-gray-cool9: #595e6a;
    --std-color-p1-gray-cool10: #474b55;
    --std-color-p1-gray-cool11: #363840;
    --std-color-p1-gray-cool12: #24262b;
    --std-color-p1-gray-cool13: #121315;
}
