.std-root, .std-define-color-palette {
    --std-color-p1-gray-bright1: #fdfdfd;
    --std-color-p1-gray-bright2: #f9f9f9;
    --std-color-p1-gray-bright3: #efefee;
    --std-color-p1-gray-bright4: #dbdbd9;
    --std-color-p1-gray-bright5: #c2c2bf;
    --std-color-p1-gray-bright6: #a5a5a0;
    --std-color-p1-gray-bright7: #87877f;
    --std-color-p1-gray-bright8: #696960;
    --std-color-p1-gray-bright9: #4d4d42;
    --std-color-p1-gray-bright10: #353528;
    --std-color-p1-gray-bright11: #28281b;
    --std-color-p1-gray-bright12: #191910;
    --std-color-p1-gray-bright13: #13130c;
}
