.std-root {
    --std-color-p1-gray-neutral1: #fdfdfd;
    --std-color-p1-gray-neutral2: #f8f8f8;
    --std-color-p1-gray-neutral3: #f1f1f1;
    --std-color-p1-gray-neutral4: #ececed;
    --std-color-p1-gray-neutral5: #e6e6e6;
    --std-color-p1-gray-neutral6: #dcdcde;
    --std-color-p1-gray-neutral7: #c9c9cc;
    --std-color-p1-gray-neutral8: #adacb0;
    --std-color-p1-gray-neutral9: #7f7d83;
    --std-color-p1-gray-neutral10: #4f4d55;
    --std-color-p1-gray-neutral11: #2d2b32;
    --std-color-p1-gray-neutral12: #1d1c20;
    --std-color-p1-gray-neutral13: #0a090b;
}
