.std-root, .std-define-color-palette {
    --std-color-p1-green1: #ebfbf1;
    --std-color-p1-green2: #e1faea;
    --std-color-p1-green3: #c1f4d4;
    --std-color-p1-green4: #91ddad;
    --std-color-p1-green5: #63c888;
    --std-color-p1-green6: #3bba6a;
    --std-color-p1-green7: #14ad4d;
    --std-color-p1-green8: #019939;
    --std-color-p1-green9: #018030;
    --std-color-p1-green10: #016626;
    --std-color-p1-green11: #004d1d;
    --std-color-p1-green12: #102a19;
    --std-color-p1-green13: #001a0a;
}
