.std-root {
    --std-color-p1-grey-cool1: #fafbfc;
    --std-color-p1-grey-cool2: #eff0f2;
    --std-color-p1-grey-cool3: #dcdee3;
    --std-color-p1-grey-cool4: #c7cad1;
    --std-color-p1-grey-cool5: #aeb2bc;
    --std-color-p1-grey-cool6: #9499a5;
    --std-color-p1-grey-cool7: #7f8493;
    --std-color-p1-grey-cool8: #6b7180;
    --std-color-p1-grey-cool9: #595e6a;
    --std-color-p1-grey-cool10: #474b55;
    --std-color-p1-grey-cool11: #363840;
    --std-color-p1-grey-cool12: #24262b;
    --std-color-p1-grey-cool13: #121315;
}
