.std-root {
    --std-color-p1-grey-flat1: #fcfcfc;
    --std-color-p1-grey-flat2: #f5f5f5;
    --std-color-p1-grey-flat3: #efefef;
    --std-color-p1-grey-flat4: #e1e1e1;
    --std-color-p1-grey-flat5: #cccccc;
    --std-color-p1-grey-flat6: #b3b3b3;
    --std-color-p1-grey-flat7: #9e9e9e;
    --std-color-p1-grey-flat8: #959595;
    --std-color-p1-grey-flat9: #656565;
    --std-color-p1-grey-flat10: #383838;
    --std-color-p1-grey-flat11: #1d1d1d;
    --std-color-p1-grey-flat12: #101010;
    --std-color-p1-grey-flat13: #040404;
}
