.std-root {
    --std-color-p1-grey-bright1: #fdfdfd;
    --std-color-p1-grey-bright2: #f9f9f9;
    --std-color-p1-grey-bright3: #efefee;
    --std-color-p1-grey-bright4: #dbdbd9;
    --std-color-p1-grey-bright5: #c2c2bf;
    --std-color-p1-grey-bright6: #a5a5a0;
    --std-color-p1-grey-bright7: #87877f;
    --std-color-p1-grey-bright8: #696960;
    --std-color-p1-grey-bright9: #4d4d42;
    --std-color-p1-grey-bright10: #353528;
    --std-color-p1-grey-bright11: #28281b;
    --std-color-p1-grey-bright12: #191910;
    --std-color-p1-grey-bright13: #13130c;
}
