.std-root, .std-define-color-palette {
    --std-color-p1-indigo1: #f3faff;
    --std-color-p1-indigo2: #def1ff;
    --std-color-p1-indigo3: #bee4ff;
    --std-color-p1-indigo4: #98d4ff;
    --std-color-p1-indigo5: #74c4ff;
    --std-color-p1-indigo6: #48affa;
    --std-color-p1-indigo7: #0a8fef;
    --std-color-p1-indigo8: #0279cf;
    --std-color-p1-indigo9: #0063aa;
    --std-color-p1-indigo10: #00538e;
    --std-color-p1-indigo11: #003d69;
    --std-color-p1-indigo12: #04385c;
    --std-color-p1-indigo13: #022035;
}
