.std-root {
    --std-color-p1-magenta1: #f9e9f3;
    --std-color-p1-magenta2: #f5dded;
    --std-color-p1-magenta3: #ebbbdb;
    --std-color-p1-magenta4: #e199c9;
    --std-color-p1-magenta5: #d777b8;
    --std-color-p1-magenta6: #cd55a6;
    --std-color-p1-magenta7: #c33394;
    --std-color-p1-magenta8: #b01f80;
    --std-color-p1-magenta9: #921a6b;
    --std-color-p1-magenta10: #751556;
    --std-color-p1-magenta11: #581040;
    --std-color-p1-magenta12: #3b0a2b;
    --std-color-p1-magenta13: #1d0515;
}
