.std-root {
    --std-color-p1-maroon1: #fae9ef;
    --std-color-p1-maroon2: #f7dde6;
    --std-color-p1-maroon3: #efbccd;
    --std-color-p1-maroon4: #e79ab4;
    --std-color-p1-maroon5: #e0789b;
    --std-color-p1-maroon6: #d85681;
    --std-color-p1-maroon7: #d03568;
    --std-color-p1-maroon8: #bc2155;
    --std-color-p1-maroon9: #9d1c47;
    --std-color-p1-maroon10: #7e1639;
    --std-color-p1-maroon11: #5e112b;
    --std-color-p1-maroon12: #3f0b1c;
    --std-color-p1-maroon13: #1f060e;
}
