.std-root {
    --std-color-p1-orange1: #fff2ed;
    --std-color-p1-orange2: #ffebe2;
    --std-color-p1-orange3: #ffd3c1;
    --std-color-p1-orange4: #ffba9f;
    --std-color-p1-orange5: #ffa07c;
    --std-color-p1-orange6: #ff8659;
    --std-color-p1-orange7: #ff6b34;
    --std-color-p1-orange8: #f25219;
    --std-color-p1-orange9: #c44518;
    --std-color-p1-orange10: #9d3713;
    --std-color-p1-orange11: #762a0e;
    --std-color-p1-orange12: #4f1c0a;
    --std-color-p1-orange13: #270e05;
}
