.std-root, .std-define-color-palette {
    --std-color-p1-pool-blue1: #f1faf9;
    --std-color-p1-pool-blue2: #e9f7f5;
    --std-color-p1-pool-blue3: #d2eeeb;
    --std-color-p1-pool-blue4: #bce6e1;
    --std-color-p1-pool-blue5: #a6ded8;
    --std-color-p1-pool-blue6: #8fd5ce;
    --std-color-p1-pool-blue7: #79cdc4;
    --std-color-p1-pool-blue8: #66bab0;
    --std-color-p1-pool-blue9: #559b93;
    --std-color-p1-pool-blue10: #447c76;
    --std-color-p1-pool-blue11: #335d58;
    --std-color-p1-pool-blue12: #223e3b;
    --std-color-p1-pool-blue13: #051311;
}
