.std-root, .std-define-color-palette {
    --std-color-p1-purple1: #fef2ff;
    --std-color-p1-purple2: #f0dff4;
    --std-color-p1-purple3: #e2bfe9;
    --std-color-p1-purple4: #d39ede;
    --std-color-p1-purple5: #c47ed3;
    --std-color-p1-purple6: #b65ec8;
    --std-color-p1-purple7: #a73ebc;
    --std-color-p1-purple8: #942ba9;
    --std-color-p1-purple9: #7b238d;
    --std-color-p1-purple10: #631c71;
    --std-color-p1-purple11: #4a1555;
    --std-color-p1-purple12: #310e38;
    --std-color-p1-purple13: #19071c;
}
