.std-root {
    --std-color-p1-red1: #feebeb;
    --std-color-p1-red2: #ffe3e3;
    --std-color-p1-red3: #ffc9c9;
    --std-color-p1-red4: #faa4a4;
    --std-color-p1-red5: #ff7f7f;
    --std-color-p1-red6: #f75656;
    --std-color-p1-red7: #f53535;
    --std-color-p1-red8: #e12121;
    --std-color-p1-red9: #bc1c1c;
    --std-color-p1-red10: #961616;
    --std-color-p1-red11: #711111;
    --std-color-p1-red12: #4b0b0b;
    --std-color-p1-red13: #260606;
}
