.std-root, .std-define-color-palette {
    --std-color-p1-squash1: #fff6e7;
    --std-color-p1-squash2: #fff1da;
    --std-color-p1-squash3: #ffe9ba;
    --std-color-p1-squash4: #ffd58f;
    --std-color-p1-squash5: #ffc76a;
    --std-color-p1-squash6: #ffb945;
    --std-color-p1-squash7: #ffab1f;
    --std-color-p1-squash8: #ec980c;
    --std-color-p1-squash9: #c47e0a;
    --std-color-p1-squash10: #9d6508;
    --std-color-p1-squash11: #764c06;
    --std-color-p1-squash12: #4f3304;
    --std-color-p1-squash13: #271902;
}
