.std-root, .std-define-color-palette {
    --std-color-p1-teal1: #f3fafc;
    --std-color-p1-teal2: #dff1f7;
    --std-color-p1-teal3: #b8dee9;
    --std-color-p1-teal4: #93cbdc;
    --std-color-p1-teal5: #6cb6cd;
    --std-color-p1-teal6: #45a2be;
    --std-color-p1-teal7: #0692bc;
    --std-color-p1-teal8: #007092;
    --std-color-p1-teal9: #005d7a;
    --std-color-p1-teal10: #004b61;
    --std-color-p1-teal11: #003849;
    --std-color-p1-teal12: #002531;
    --std-color-p1-teal13: #000c10;
}
