.std-root {
    --std-color-p1-ultramarine1: #f1ecff;
    --std-color-p1-ultramarine2: #e6dfff;
    --std-color-p1-ultramarine3: #cabcff;
    --std-color-p1-ultramarine4: #a994f9;
    --std-color-p1-ultramarine5: #876af2;
    --std-color-p1-ultramarine6: #633fe8;
    --std-color-p1-ultramarine7: #4318e3;
    --std-color-p1-ultramarine8: #3005d0;
    --std-color-p1-ultramarine9: #2804ad;
    --std-color-p1-ultramarine10: #20038b;
    --std-color-p1-ultramarine11: #180268;
    --std-color-p1-ultramarine12: #100245;
    --std-color-p1-ultramarine13: #080123;
}
