.std-root, .std-define-color-palette {
    --std-color-p1-violet1: #f1e9fb;
    --std-color-p1-violet2: #eadef9;
    --std-color-p1-violet3: #d5bcf3;
    --std-color-p1-violet4: #c09bed;
    --std-color-p1-violet5: #ab79e8;
    --std-color-p1-violet6: #9658e2;
    --std-color-p1-violet7: #8136dc;
    --std-color-p1-violet8: #6e23c9;
    --std-color-p1-violet9: #5c1da7;
    --std-color-p1-violet10: #491786;
    --std-color-p1-violet11: #371264;
    --std-color-p1-violet12: #250c43;
    --std-color-p1-violet13: #120621;
}
