.std-button.dye {
    color: var(--color, white);
    background: var(--accent, var(--std-color-primary-accent));
}
.std-button.dye:focus,
.std-button.dye:hover {
    color: var(--color--hover, var(--color, white));
    background: var(--accent--hover, var(--accent, var(--std-color-primary-tone1)));
}
.std-button.dye:active {
    color: var(--color--active, var(--color, white));
    background: var(--accent--active, var(--accent, var(--std-color-primary-shade1)));
}
