.std-button.flat {
    border: var(--button-border-size, 2px) var(--button-border-style, solid) var(--button-accent, var(--std-color-primary-accent));
    color: var(--button-accent, var(--std-color-primary-accent));
}
.std-button.flat:hover {
    border-color: var(--button-border-color--hover, var(--button-accent, var(--std-color-primary-accent)));
    color: var(--button-color--hover, white);
    background: var(--button-bg--hover, var(--button-accent, var(--std-color-primary-accent)));
}
.std-button.flat:focus {
    border-color: var(--button-border-color--focus, var(--button-accent, var(--std-color-primary-accent)));
    color: var(--button-color--focus, white);
    background: var(--button-bg--focus, var(--button-accent, var(--std-color-primary-accent)));
}
.std-button.flat:active {
    border-color: var(--button-border-color--active, var(--button-accent, var(--std-color-primary-shade1)));
    color: var(--button-color--active, white);
    background: var(--button-bg--active, var(--button-accent, var(--std-color-primary-shade1)));
}
