.std-button.flat {
    border: var(--border-size, 2px) solid var(--accent, var(--std-color-primary-accent));
    color: var(--accent, var(--std-color-primary-accent));
}
.std-button.flat:focus,
.std-button.flat:hover {
    color: var(--color--hover, white);
    background: var(--back--hover, var(--color, var(--std-color-primary-accent)));
}
.std-button.flat:active {
    color: var(--color--focus, white);
    background: var(--back--active, var(--color, var(--std-color-primary-shade1)));
}
