.std-button.plain:active
.std-button.plain:focus,
.std-button.plain:hover {
    opacity: unset;
}
.std-button.plain:active {
    color: var(--color--active, currentColor);
}
.std-button.plain:focus {
    color: var(--color--focus, var(--std-color-primary-accent));
}
.std-button.plain:hover {
    color: var(--color--hover, var(--std-color-primary-accent));
}
