.std {
    --std-color-light-fg1: hsl(0deg 0% 13%);
    --std-color-light-fg2: hsl(0deg 0% 36%);
    --std-color-light-fg3: hsl(0deg 0% 59%);
}
.std.theme-light {
    --std-color-fg1: var(--std-color-light-fg1);
    --std-color-fg2: var(--std-color-light-fg2);
    --std-color-fg3: var(--std-color-light-fg3);

    --std-fg-l: 0%;
    --std-fg-ll: 1;
}
