.std-background-z0 { --std-color-bg-z: 0; }
.std-background-z1 { --std-color-bg-z: 1; }
.std-background-z2 { --std-color-bg-z: 2; }
.std-background-z3 { --std-color-bg-z: 3; }
.std-background-z4 { --std-color-bg-z: 4; }
