.std-root {
    /* --std-color-green8 */
    --std-color-safety-h: 123deg;
    --std-color-safety-s: 43%;
    --std-color-safety-l: 39%;
    --std-color-safety: hsl(var(--std-color-safety-h) var(--std-color-safety-s) var(--std-color-safety-l) / var(--std-color-safety-opacity, 1));

    --std-color-notice-h: var(--std-color-primary-h);
    --std-color-notice-s: var(--std-color-primary-s);
    --std-color-notice-l: var(--std-color-primary-l);
    --std-color-notice: hsl(var(--std-color-notice-h) var(--std-color-notice-s) var(--std-color-notice-l) / var(--std-color-notice-opacity, 1));

    /* --std-color-amber6 */
    --std-color-warning-h: 45deg;
    --std-color-warning-s: 100%;
    --std-color-warning-l: 51%;
    --std-color-warning: hsl(var(--std-color-warning-h) var(--std-color-warning-s) var(--std-color-warning-l) / var(--std-color-warning-opacity, 1));

    /* --std-color-deeporange6 */
    --std-color-danger-h: 14deg;
    --std-color-danger-s: 100%;
    --std-color-danger-l: 57%;
    --std-color-danger: hsl(var(--std-color-danger-h) var(--std-color-danger-s) var(--std-color-danger-l) / var(--std-color-danger-opacity, 1));
}
