.std-root {
    /*
    * EXAMPLE
    * --std-color-secondary-h: <n>deg;
    * --std-color-secondary-s: <n>%;
    * --std-color-secondary-l: <n>%;
    */
    --std-color-secondary-accent: hsl(var(--std-color-secondary-h) var(--std-color-secondary-s) var(--std-color-secondary-l));

    --std-color-secondary-tint1: hsl(var(--std-color-secondary-h) calc(var(--std-color-secondary-s) * .8) calc(var(--std-color-secondary-l) + (100% - var(--std-color-secondary-l)) * .2));
    --std-color-secondary-tint2: hsl(var(--std-color-secondary-h) calc(var(--std-color-secondary-s) * .8) calc(var(--std-color-secondary-l) + (100% - var(--std-color-secondary-l)) * .4));
    --std-color-secondary-tint3: hsl(var(--std-color-secondary-h) calc(var(--std-color-secondary-s) * .8) calc(var(--std-color-secondary-l) + (100% - var(--std-color-secondary-l)) * .6));
    --std-color-secondary-tint4: hsl(var(--std-color-secondary-h) calc(var(--std-color-secondary-s) * .8) calc(var(--std-color-secondary-l) + (100% - var(--std-color-secondary-l)) * .7));
    --std-color-secondary-tint5: hsl(var(--std-color-secondary-h) calc(var(--std-color-secondary-s) * .8) calc(var(--std-color-secondary-l) + (100% - var(--std-color-secondary-l)) * .8));
    --std-color-secondary-tint6: hsl(var(--std-color-secondary-h) calc(var(--std-color-secondary-s) * .8) calc(var(--std-color-secondary-l) + (100% - var(--std-color-secondary-l)) * .95));
    --std-color-secondary-shade1: hsl(var(--std-color-secondary-h) calc(var(--std-color-secondary-s) * .6) calc(var(--std-color-secondary-l) * .9));
    --std-color-secondary-shade2: hsl(var(--std-color-secondary-h) calc(var(--std-color-secondary-s) * .6) calc(var(--std-color-secondary-l) * .8));
    --std-color-secondary-shade3: hsl(var(--std-color-secondary-h) calc(var(--std-color-secondary-s) * .6) calc(var(--std-color-secondary-l) * .7));
    --std-color-secondary-shade4: hsl(var(--std-color-secondary-h) calc(var(--std-color-secondary-s) * .6) calc(var(--std-color-secondary-l) * .6));
    --std-color-secondary-shade5: hsl(var(--std-color-secondary-h) calc(var(--std-color-secondary-s) * .6) calc(var(--std-color-secondary-l) * .5));
    --std-color-secondary-shade6: hsl(var(--std-color-secondary-h) calc(var(--std-color-secondary-s) * .6) calc(var(--std-color-secondary-l) * .4));
    --std-color-secondary-tone1: hsl(var(--std-color-secondary-h) calc(var(--std-color-secondary-s) * .8) calc(var(--std-color-secondary-l) * 1.0));
    --std-color-secondary-tone2: hsl(var(--std-color-secondary-h) calc(var(--std-color-secondary-s) * .6) calc(var(--std-color-secondary-l) * 1.0));
    --std-color-secondary-tone3: hsl(var(--std-color-secondary-h) calc(var(--std-color-secondary-s) * .4) calc(var(--std-color-secondary-l) * 1.0));
    --std-color-secondary-tone4: hsl(var(--std-color-secondary-h) calc(var(--std-color-secondary-s) * .3) calc(var(--std-color-secondary-l) * 1.0));
    --std-color-secondary-tone5: hsl(var(--std-color-secondary-h) calc(var(--std-color-secondary-s) * .2) calc(var(--std-color-secondary-l) * 1.0));
    --std-color-secondary-tone6: hsl(var(--std-color-secondary-h) calc(var(--std-color-secondary-s) * .1) calc(var(--std-color-secondary-l) * 1.0));
}
.std-theme-light {
    --std-color-secondary-fg1: hsl(var(--std-color-secondary-h) var(--std-color-secondary-s) 48%);
    --std-color-secondary-fg2: hsl(var(--std-color-secondary-h) var(--std-color-secondary-s) 40%);
    --std-color-secondary-fg3: hsl(var(--std-color-secondary-h) var(--std-color-secondary-s) 32%);
}
.std-theme-dark {
    --std-color-secondary-fg1: hsl(var(--std-color-secondary-h) var(--std-color-secondary-s) 62%);
    --std-color-secondary-fg2: hsl(var(--std-color-secondary-h) var(--std-color-secondary-s) 72%);
    --std-color-secondary-fg3: hsl(var(--std-color-secondary-h) var(--std-color-secondary-s) 82%);
}
