.std-root {
    --std-color-light-bg-l-base: 100%;
    --std-color-light-bg-l-factor: 2%;
    --std-color-light-bg-z-factor: 1%;

    --std-color-light-bg1-h: var(--std-color-light-bg-h, 0deg);
    --std-color-light-bg1-s: var(--std-color-light-bg-s, 0%);
    --std-color-light-bg1-l: calc(var(--std-color-light-bg-l-base) - var(--std-color-bg-z, 0) * var(--std-color-light-bg-z-factor));
    --std-color-light-bg1: hsl(var(--std-color-light-bg1-h) var(--std-color-light-bg1-s) var(--std-color-light-bg1-l) / var(--std-color-light-bg1-opacity, 1));

    --std-color-light-bg2-h: var(--std-color-light-bg-h, 0deg);
    --std-color-light-bg2-s: var(--std-color-light-bg-s, 0%);
    --std-color-light-bg2-l: calc(var(--std-color-light-bg1-l) - var(--std-color-light-bg-l-factor));
    --std-color-light-bg2: hsl(var(--std-color-light-bg2-h) var(--std-color-light-bg2-s) var(--std-color-light-bg2-l) / var(--std-color-light-bg2-opacity, 1));

    --std-color-light-bg3-h: var(--std-color-light-bg-h, 0deg);
    --std-color-light-bg3-s: var(--std-color-light-bg-s, 0%);
    --std-color-light-bg3-l: calc(var(--std-color-light-bg2-l) - var(--std-color-light-bg-l-factor));
    --std-color-light-bg3: hsl(var(--std-color-light-bg3-h) var(--std-color-light-bg3-s) var(--std-color-light-bg3-l) / var(--std-color-light-bg3-opacity, 1));

    --std-color-light-bg4-h: var(--std-color-light-bg-h, 0deg);
    --std-color-light-bg4-s: var(--std-color-light-bg-s, 0%);
    --std-color-light-bg4-l: calc(var(--std-color-light-bg3-l) - var(--std-color-light-bg-l-factor));
    --std-color-light-bg4: hsl(var(--std-color-light-bg4-h) var(--std-color-light-bg4-s) var(--std-color-light-bg4-l) / var(--std-color-light-bg4-opacity, 1));
}
.std-theme-light {
    --std-color-bg1-h: var(--std-color-light-bg1-h);
    --std-color-bg1-s: var(--std-color-light-bg1-s);
    --std-color-bg1-l: var(--std-color-light-bg1-l);
    --std-color-bg1: var(--std-color-light-bg1);

    --std-color-bg2-h: var(--std-color-light-bg2-h);
    --std-color-bg2-s: var(--std-color-light-bg2-s);
    --std-color-bg2-l: var(--std-color-light-bg2-l);
    --std-color-bg2: var(--std-color-light-bg2);

    --std-color-bg3-h: var(--std-color-light-bg3-h);
    --std-color-bg3-s: var(--std-color-light-bg3-s);
    --std-color-bg3-l: var(--std-color-light-bg3-l);
    --std-color-bg3: var(--std-color-light-bg3);

    --std-color-bg4-h: var(--std-color-light-bg4-h);
    --std-color-bg4-s: var(--std-color-light-bg4-s);
    --std-color-bg4-l: var(--std-color-light-bg4-l);
    --std-color-bg4: var(--std-color-light-bg4);

    --std-bg-l: 100%; /* Can be used with clamp() to obtain the desired lightness. */
    --std-bg-ll: -1; /* Can be used with calc() to obtain the desired lightness. */
}
