.std-gap1 { gap: var(--std-gutter1); }
.std-gap2 { gap: var(--std-gutter2); }
.std-gap3 { gap: var(--std-gutter3); }
.std-gap4 { gap: var(--std-gutter4); }
.std-gap5 { gap: var(--std-gutter5); }
.std-gap6 { gap: var(--std-gutter6); }
.std-gap7 { gap: var(--std-gutter7); }
.std-gap8 { gap: var(--std-gutter8); }
.std-gap9 { gap: var(--std-gutter9); }
.std-gap10 { gap: var(--std-gutter10); }

.std-gap-row1 { row-gap: var(--std-gutter1); }
.std-gap-row2 { row-gap: var(--std-gutter2); }
.std-gap-row3 { row-gap: var(--std-gutter3); }
.std-gap-row4 { row-gap: var(--std-gutter4); }
.std-gap-row5 { row-gap: var(--std-gutter5); }
.std-gap-row6 { row-gap: var(--std-gutter6); }
.std-gap-row7 { row-gap: var(--std-gutter7); }
.std-gap-row8 { row-gap: var(--std-gutter8); }
.std-gap-row9 { row-gap: var(--std-gutter9); }
.std-gap-row10 { row-gap: var(--std-gutter10); }

.std-gap-column1 { column-gap: var(--std-gutter1); }
.std-gap-column2 { column-gap: var(--std-gutter2); }
.std-gap-column3 { column-gap: var(--std-gutter3); }
.std-gap-column4 { column-gap: var(--std-gutter4); }
.std-gap-column5 { column-gap: var(--std-gutter5); }
.std-gap-column6 { column-gap: var(--std-gutter6); }
.std-gap-column7 { column-gap: var(--std-gutter7); }
.std-gap-column8 { column-gap: var(--std-gutter8); }
.std-gap-column9 { column-gap: var(--std-gutter9); }
.std-gap-column10 { column-gap: var(--std-gutter10); }
