.std-icon {
    display: inline-block;
    width: var(--icon-size, 1em);
    height: var(--icon-size, 1em);

    /* Stops growing or shrinking inside a flex container (stiff icon). */
    min-width: var(--icon-size, 1em);
    max-width: var(--icon-size, 1em);
    min-height: var(--icon-size, 1em);
    max-height: var(--icon-size, 1em);

    /* Compatibility with Unicode characters. */
    font-size: var(--icon-size, 1em);
    line-height: var(--icon-size, 1em);
}
