.std-icon.s1 { --icon-size: var(--std-icon1); }
.std-icon.s2 { --icon-size: var(--std-icon2); }
.std-icon.s3 { --icon-size: var(--std-icon3); }
.std-icon.s4 { --icon-size: var(--std-icon4); }
.std-icon.s5 { --icon-size: var(--std-icon5); }
.std-icon.s6 { --icon-size: var(--std-icon6); }
.std-icon.s7 { --icon-size: var(--std-icon7); }
.std-icon.s8 { --icon-size: var(--std-icon8); }
.std-icon.s9 { --icon-size: var(--std-icon9); }
.std-icon.s10 { --icon-size: var(--std-icon10); }
