.std-icon {
    display: inline-block;
    width: var(--icon-size);
    height: var(--icon-size);

    /* Stops growing or shrinking inside a flex container (stiff icon). */
    min-width: var(--icon-size);
    max-width: var(--icon-size);
    min-height: var(--icon-size);
    max-height: var(--icon-size);

    /* Compatibility with Unicode characters. */
    font-size: var(--icon-size);
    line-height: var(--icon-size);
}

.std-icon.text { --icon-size: 1em; }
.std-icon.cover { --icon-size: 100%; }
