.std-flex-break {
    display: inherit;
    flex-direction: inherit;
    justify-content: inherit;
    align-items: inherit;
    align-content: inherit;
    flex-wrap: inherit;
    gap: inherit;
}
.std-flex-break.wrap {
    flex-wrap: wrap;
}
