.std-space-h1,
.std-space-h2,
.std-space-h3,
.std-space-h4,
.std-space-h5,
.std-space-h6,
.std-space-h7,
.std-space-h8,
.std-space-h9,
.std-space-h10 {
    display: inline-block;
    height: 100%;
    min-width: var(--space-size, 1em);
    width: var(--space-size, 1em);
    max-width: var(--space-size, 1em);
}
.std-space-v1,
.std-space-v2,
.std-space-v3,
.std-space-v4,
.std-space-v5,
.std-space-v6,
.std-space-v7,
.std-space-v8,
.std-space-v9,
.std-space-v10 {
    display: block;
    width: 100%;
    min-height: var(--space-size, 1em);
    height: var(--space-size, 1em);
    max-height: var(--space-size, 1em);
}
.std-space-h1, .std-space-v1 { --space-size: var(--std-gutter1); }
.std-space-h2, .std-space-v2 { --space-size: var(--std-gutter2); }
.std-space-h3, .std-space-v3 { --space-size: var(--std-gutter3); }
.std-space-h4, .std-space-v4 { --space-size: var(--std-gutter4); }
.std-space-h5, .std-space-v5 { --space-size: var(--std-gutter5); }
.std-space-h6, .std-space-v6 { --space-size: var(--std-gutter6); }
.std-space-h7, .std-space-v7 { --space-size: var(--std-gutter7); }
.std-space-h8, .std-space-v8 { --space-size: var(--std-gutter8); }
.std-space-h9, .std-space-v9 { --space-size: var(--std-gutter9); }
.std-space-h10, .std-space-v10 { --space-size: var(--std-gutter10); }
