.std-layer-root {
    position: relative;
    isolation: isolate;
}

.std-layer {
    position: absolute;
    inset: 0;
}

.std-layer-2 { z-index: -2; }
.std-layer-1 { z-index: -1; }
.std-layer1 { z-index: 1; }
