.std-flex.gap1 { gap: var(--std-gutter1); }
.std-flex.gap2 { gap: var(--std-gutter2); }
.std-flex.gap3 { gap: var(--std-gutter3); }
.std-flex.gap4 { gap: var(--std-gutter4); }
.std-flex.gap5 { gap: var(--std-gutter5); }
.std-flex.gap6 { gap: var(--std-gutter6); }
.std-flex.gap7 { gap: var(--std-gutter7); }
.std-flex.gap8 { gap: var(--std-gutter8); }
.std-flex.gap9 { gap: var(--std-gutter9); }
.std-flex.gap10 { gap: var(--std-gutter10); }
