.std-root, .std-define-width {
    --std-width-base: 20rem;
    --std-width-factor: 10rem;
    --std-width1: var(--std-width-base);
    --std-width2: calc(var(--std-width1) + 1 * var(--std-width-factor));
    --std-width3: calc(var(--std-width2) + 1 * var(--std-width-factor));
    --std-width4: calc(var(--std-width3) + 1 * var(--std-width-factor));
    --std-width5: calc(var(--std-width4) + 1 * var(--std-width-factor));
    --std-width6: calc(var(--std-width5) + 2 * var(--std-width-factor));
    --std-width7: calc(var(--std-width6) + 2 * var(--std-width-factor));
    --std-width8: calc(var(--std-width7) + 2 * var(--std-width-factor));
}
