.std-grid { display: grid; }
.std-grid-inline { display: inline-grid; }

.std-grid-row { grid-auto-flow: row; }
.std-grid-column { grid-auto-flow: column; }

.std-grid-placed-auto { place-content: auto; }
.std-grid-placed-normal { place-content: normal; }
.std-grid-placed-stretch { place-content: stretch; }
.std-grid-placed-start { place-content: start; }
.std-grid-placed-center { place-content: center; }
.std-grid-placed-end { place-content: end; }
.std-grid-placed-around { place-content: space-around; }
.std-grid-placed-between { place-content: space-between; }
.std-grid-placed-evenly { place-content: space-evenly; }
.std-grid-justified-auto { justify-content: auto; }
.std-grid-justified-normal { justify-content: normal; }
.std-grid-justified-stretch { justify-content: stretch; }
.std-grid-justified-start { justify-content: start; }
.std-grid-justified-center { justify-content: center; }
.std-grid-justified-end { justify-content: end; }
.std-grid-justified-around { justify-content: space-around; }
.std-grid-justified-between { justify-content: space-between; }
.std-grid-justified-evenly { justify-content: space-evenly; }
.std-grid-aligned-auto { align-content: auto; }
.std-grid-aligned-normal { align-content: normal; }
.std-grid-aligned-stretch { align-content: stretch; }
.std-grid-aligned-start { align-content: start; }
.std-grid-aligned-center { align-content: center; }
.std-grid-aligned-end { align-content: end; }
.std-grid-aligned-around { align-content: space-around; }
.std-grid-aligned-between { align-content: space-between; }
.std-grid-aligned-evenly { align-content: space-evenly; }

.std-grid-place-auto { place-items: auto; }
.std-grid-place-normal { place-items: normal; }
.std-grid-place-stretch { place-items: stretch; }
.std-grid-place-start { place-items: start; }
.std-grid-place-center { place-items: center; }
.std-grid-place-end { place-items: end; }
.std-grid-justify-auto { justify-items: auto; }
.std-grid-justify-normal { justify-items: normal; }
.std-grid-justify-stretch { justify-items: stretch; }
.std-grid-justify-start { justify-items: start; }
.std-grid-justify-center { justify-items: center; }
.std-grid-justify-end { justify-items: end; }
.std-grid-align-auto { align-items: auto; }
.std-grid-align-normal { align-items: normal; }
.std-grid-align-stretch { align-items: stretch; }
.std-grid-align-start { align-items: start; }
.std-grid-align-center { align-items: center; }
.std-grid-align-end { align-items: end; }
