.std-root {
    --std-width1: 20rem;
    --std-width2: 30rem;
    --std-width3: 40rem;
    --std-width4: 50rem;
    --std-width5: 60rem;
    --std-width6: 80rem;
    --std-width7: 100rem;
    --std-width8: 120rem;
}
