.std-radius1 { border-radius: var(--std-radius1); }
.std-radius2 { border-radius: var(--std-radius2); }
.std-radius3 { border-radius: var(--std-radius3); }
.std-radius4 { border-radius: var(--std-radius4); }
