.std-root {
    /* Values must be integer, for a pixel perfect result. */
    --std-radius-base: 4px;
    --std-radius-factor: 4px;
    --std-radius1: var(--std-radius-base);
    --std-radius2: calc(var(--std-radius1) + 1 * var(--std-radius-factor));
    --std-radius3: calc(var(--std-radius2) + 2 * var(--std-radius-factor));
    --std-radius4: calc(var(--std-radius3) + 3 * var(--std-radius-factor));
}
