.std-scroll { overflow-x: auto; overflow-y: auto; }
.std-scroll-x { overflow-x: auto; overflow-y: hidden; }
.std-scroll-y { overflow-x: hidden; overflow-y: auto; }
.std-scroll-contain { overscroll-behavior: contain; }

.std-overflow-hidden { overflow: hidden; }
