.std,
.std-shadow {
    --std-umbra-opacity: .1;
    --std-penumbra-opacity: .08;
    --std-ambient-opacity: .06;

    --std-umbra: hsl(0deg 0% 0% / var(--std-umbra-opacity));
    --std-penumbra: hsl(0deg 0% 0% / var(--std-penumbra-opacity));
    --std-ambient: hsl(0deg 0% 0% / var(--std-ambient-opacity));
}
