.std-switch {
    box-sizing: content-box;
    width: var(--switch-width, 2em);
    /* border: 1px solid transparent; */
    border-radius: var(--switch-height, 1em);
    background-color: var(--switch-bg, hsl(0deg 0% var(--std-fg-l) / .1));
    box-shadow: inset 0 0 2px 0 hsl(0deg 0% 0% / .2);
    cursor: pointer;
    /* (var(--knob-width, var(--knob-size, 1em)) / 2) */
    --knob-shift: calc((var(--switch-width, 2em) / 2) - 50%);
}
.std-switch,
.std-switch.std-button {
    padding: var(--switch-gap, var(--std-gutter1, 4px));
}
.std-switch[aria-checked="true"] {
    background-color:
        var(--switch-bg--checked,
            var(--switch-accent,
                var(--std-color-primary-accent, currentColor)
            )
        )
    ;
}

.std-switch,
.std-switch .std-knob,
.std-switch.std-knob::after {
    transition: all var(--switch-duration, var(--std-duration2));
}

.std-switch .std-knob,
.std-switch.std-knob::after {
    transform: translateX(calc(-1 * var(--knob-shift)));
}

.std-switch[aria-checked="true"] .std-knob,
.std-switch[aria-checked="true"].std-knob::after {
    transform: translateX(var(--knob-shift));
}

.std-switch.std-knob::after {
    content: '';
    width: var(--knob-width, var(--knob-size, 1em));
    height: var(--knob-height, var(--knob-size, 1em));
    border: var(--knob-border, .2em) solid var(--std-color-bg1);
    border-radius: var(--switch-height, 1em);
    background-color: var(--knob-bg, var(--std-color-bg1));
    box-shadow: var(--knob-shadow, 0 0 3px 0 hsl(0deg 0% 0% / .2));
}
.std-switch.std-knob:active::after {
    background-color: var(--knob-accent, var(--std-color-primary-accent, currentColor));
}
