.std-text-small { font-size: var(--std-text-small-size); }
.std-text-body2 { font-size: var(--std-text-body2-size); }
.std-text-body1 { font-size: var(--std-text-body1-size); }
.std-text-button { font-size: var(--std-text-button-size); }
.std-text-caption { font-size: var(--std-text-caption-size); }
.std-text-overline { font-size: var(--std-text-overline-size); }
.std-text-subtitle2 { font-size: var(--std-text-subtitle2-size); }
.std-text-subtitle1 { font-size: var(--std-text-subtitle1-size); }
.std-text-h6 { font-size: var(--std-text-h6-size); }
.std-text-h5 { font-size: var(--std-text-h5-size); }
.std-text-h4 { font-size: var(--std-text-h4-size); }
.std-text-h3 { font-size: var(--std-text-h3-size); }
.std-text-h2 { font-size: var(--std-text-h2-size); }
.std-text-h1 { font-size: var(--std-text-h1-size); }
.std-text-display2 { font-size: var(--std-text-display2-size); }
.std-text-display1 { font-size: var(--std-text-display1-size); }
