.std-text-size1 { font-size: var(--std-text-size1); }
.std-text-size2 { font-size: var(--std-text-size2); }
.std-text-size3 { font-size: var(--std-text-size3); }
.std-text-size4 { font-size: var(--std-text-size4); }
.std-text-size5 { font-size: var(--std-text-size5); }
.std-text-size6 { font-size: var(--std-text-size6); }
.std-text-size7 { font-size: var(--std-text-size7); }
.std-text-size8 { font-size: var(--std-text-size8); }
.std-text-size9 { font-size: var(--std-text-size9); }
.std-text-size10 { font-size: var(--std-text-size10); }
.std-text-size11 { font-size: var(--std-text-size11); }
.std-text-size12 { font-size: var(--std-text-size12); }
.std-text-size13 { font-size: var(--std-text-size13); }
