.std-text-weight-2 { font-weight: var(--std-text-weight-2); }
.std-text-weight-1 { font-weight: var(--std-text-weight-1); }
.std-text-weight { font-weight: var(--std-text-weight); }
.std-text-weight1 { font-weight: var(--std-text-weight1); }
.std-text-weight2 { font-weight: var(--std-text-weight2); }
