h1 { font-size: var(--std-text-size11); }
h2 { font-size: var(--std-text-size10); }
h3 { font-size: var(--std-text-size9); }
h4 { font-size: var(--std-text-size8); }
h5 { font-size: var(--std-text-size7); }
h6 { font-size: var(--std-text-size6); }
