.std-text {
    font-family: var(--std-font-primary);
    font-size: var(--std-text-size3);
    font-weight: var(--std-text-weight);
    letter-spacing: var(--std-text-space);
    line-height: var(--std-text-height);
}
