.std-text-space-2 { letter-spacing: var(--std-text-space-2); }
.std-text-space-1 { letter-spacing: var(--std-text-space-1); }
.std-text-space { letter-spacing: var(--std-text-space); }
.std-text-space1 { letter-spacing: var(--std-text-space1); }
.std-text-space2 { letter-spacing: var(--std-text-space2); }
