.std-root, .std-define-text-weight {
    --std-text-weight-base: 400;
    --std-text-weight-factor: 100;
    --std-text-weight-2: calc(var(--std-text-weight-1) - var(--std-text-weight-factor));
    --std-text-weight-1: calc(var(--std-text-weight) - var(--std-text-weight-factor));
    --std-text-weight: var(--std-text-weight-base);
    --std-text-weight1: calc(var(--std-text-weight) + var(--std-text-weight-factor));
    --std-text-weight2: calc(var(--std-text-weight1) + var(--std-text-weight-factor));
}
