.std-color-secondary-accent { color: var(--std-color-secondary-accent); }
.std-color-secondary-tint1 { color: var(--std-color-secondary-tint1); }
.std-color-secondary-tint2 { color: var(--std-color-secondary-tint2); }
.std-color-secondary-tint3 { color: var(--std-color-secondary-tint3); }
.std-color-secondary-tint4 { color: var(--std-color-secondary-tint4); }
.std-color-secondary-tint5 { color: var(--std-color-secondary-tint5); }
.std-color-secondary-tint6 { color: var(--std-color-secondary-tint6); }
.std-color-secondary-shade1 { color: var(--std-color-secondary-shade1); }
.std-color-secondary-shade2 { color: var(--std-color-secondary-shade2); }
.std-color-secondary-shade3 { color: var(--std-color-secondary-shade3); }
.std-color-secondary-shade4 { color: var(--std-color-secondary-shade4); }
.std-color-secondary-shade5 { color: var(--std-color-secondary-shade5); }
.std-color-secondary-shade6 { color: var(--std-color-secondary-shade6); }
.std-color-secondary-tone1 { color: var(--std-color-secondary-tone1); }
.std-color-secondary-tone2 { color: var(--std-color-secondary-tone2); }
.std-color-secondary-tone3 { color: var(--std-color-secondary-tone3); }
.std-color-secondary-tone4 { color: var(--std-color-secondary-tone4); }
.std-color-secondary-tone5 { color: var(--std-color-secondary-tone5); }
.std-color-secondary-tone6 { color: var(--std-color-secondary-tone6); }
.std-color-secondary-fg1 { color: var(--std-color-secondary-fg1); }
.std-color-secondary-fg2 { color: var(--std-color-secondary-fg2); }
.std-color-secondary-fg3 { color: var(--std-color-secondary-fg3); }

.std-background-secondary-bg1 { background-color: var(--std-color-secondary-bg1); }
.std-background-secondary-bg2 { background-color: var(--std-color-secondary-bg2); }
.std-background-secondary-bg3 { background-color: var(--std-color-secondary-bg3); }
.std-background-secondary-bg4 { background-color: var(--std-color-secondary-bg4); }
