.std { color: var(--theme-fg, var(--std-color-fg1)); }

.std-color-fg1 { color: var(--std-color-fg1); }
.std-color-fg2 { color: var(--std-color-fg2); }
.std-color-fg3 { color: var(--std-color-fg3); }
.std-background-bg1 { background-color: var(--std-color-bg1); }
.std-background-bg2 { background-color: var(--std-color-bg2); }
.std-background-bg3 { background-color: var(--std-color-bg3); }
.std-background-bg4 { background-color: var(--std-color-bg4); }

.std-background-theme {
    background-color: var(--theme-bg, var(--std-color-bg1));
}
