.std {
    --std-color-light-fg1: hsl(0deg 0% 13%);
    --std-color-light-fg2: hsl(0deg 0% 36%);
    --std-color-light-fg3: hsl(0deg 0% 59%);
    --std-color-light-bg1: hsl(0deg 0% 100%);
    --std-color-light-bg2: hsl(0deg 0% 98%);
    --std-color-light-bg3: hsl(0deg 0% 96%);
    --std-color-light-bg4: hsl(0deg 0% 94%);
}

.std.theme-light {
    --std-fg-l: 0%;
    --std-fg-ll: 1;
    --std-bg-l: 100%;
    --std-bg-ll: -1;

    --std-color-fg1: var(--std-color-light-fg1);
    --std-color-fg2: var(--std-color-light-fg2);
    --std-color-fg3: var(--std-color-light-fg3);
    --std-color-bg1: var(--std-color-light-bg1);
    --std-color-bg2: var(--std-color-light-bg2);
    --std-color-bg3: var(--std-color-light-bg3);
    --std-color-bg4: var(--std-color-light-bg4);
}
