.std.theme-dark {
    --std-fg-l: 100%;
    --std-fg-ll: -1;
    --std-bg-l: 0%;
    --std-bg-ll: 1;

    --std-color-fg1: hsl(0deg 0% 95%);
    --std-color-fg2: hsl(0deg 0% 74%);
    --std-color-fg3: hsl(0deg 0% 53%);
    --std-color-bg1: hsl(0deg 15% 9%);
    --std-color-bg2: hsl(0deg 15% 11%);
    --std-color-bg3: hsl(0deg 15% 13%);
    --std-color-bg4: hsl(0deg 15% 15%);
}
