.main-b3bf {
    padding: var(--std-gutter5);
}

.card-8a91 {
    max-width: var(--card-size, 20rem);
    max-height: var(--card-size, 20rem);
    margin: auto;
    border-radius: var(--card-size, 20rem);
    overflow: hidden;
}
