.CheckboxMark-3ae4 {
    min-width: var(--checkbox-mark-size, 1em);
    width: var(--checkbox-mark-size, 1em);
    max-width: var(--checkbox-mark-size, 1em);
    min-height: var(--checkbox-mark-size, 1em);
    height: var(--checkbox-mark-size, 1em);
    max-height: var(--checkbox-mark-size, 1em);
}

.Checkbox-16ba[aria-checked="false"] .CheckboxMark-3ae4 {
    opacity: 0;
    transform: scale(.6);
}
