h1 { font-size: var(--std-text-h1-size); }
h2 { font-size: var(--std-text-h2-size); }
h3 { font-size: var(--std-text-h3-size); }
h4 { font-size: var(--std-text-h4-size); }
h5 { font-size: var(--std-text-h5-size); }
h6 { font-size: var(--std-text-h6-size); }
h1, h2, h3, h4, h5, h6 { font-weight: inherit; }
