.ThemeView-t2eb {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.grid-1c73 > * {
    margin: var(--std-gutter-l);
}

.ThemeView-t2eb label {
    display: inline-block;
    cursor: default;
}
.ThemeView-t2eb label.std-flex {
    display: flex;
}

.color-t75a,
.contrast-td08,
.duration-t347,
.gutter-t1d3,
.gutter-t1d3 *,
.icon-e43c,
.icon-e43c label,
.picker-t8c2,
.radius-75ca,
.shadow-t9a2,
.text-8fa3 {
    transition: all var(--std-duration-normal);
}
.color-t75a:hover,
.duration-t347:hover,
.gutter-t1d3:hover,
.icon-e43c:hover,
.picker-t8c2:hover,
.radius-75ca:hover,
.shadow-t9a2:hover,
.text-8fa3:hover {
    z-index: 1;
    transform: scale(1.2);
}

.duration-t347,
.radius-75ca,
.shadow-t9a2 {
    background-color: var(--std-color-bg1);
}

.picker-t8c2 {
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
    overflow: hidden;
    clip-path: circle(1rem);
    cursor: pointer;
}

.color-t75a {
    width: 2em;
    height: 2em;
    margin: 0 var(--std-gutter-xs);
    border: var(--std-gutter-mini) solid white;
    border-radius: 50%;
    box-shadow: var(--std-shadow-soft);
    transition: all var(--std-duration-normal);
}
.color-t75a:hover {
    box-shadow: var(--std-shadow4);
}

.text-8fa3 {
    margin-bottom: var(--std-gutter-mini);
}

.contrast-td08 {
    width: 14rem;
    min-height: 100px;
    margin-left: calc(-1 * var(--std-gutter-s));
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--std-gutter-mini) solid transparent;
    padding: var(--std-gutter-xs);
    border-radius: var(--std-radius-l);
    overflow: hidden;
    box-shadow: var(--std-shadow1);
}
.contrast-td08:hover {
    border-color: currentColor;
}

.buttons-45cb .std-button {
    margin: 0 var(--std-gutter-xs);
}

.gutter-t1d3 {
    transform-origin: top left;
}
.gutter-t1d3:hover {
    font-weight: var(--std-weight-bold);
    color: var(--std-color-primary-accent);
}
.gutter-t1d3 > i {
    border-bottom: 1rem solid var(--std-color-bg4)
}
.gutter-t1d3:hover > i {
    border-color: var(--std-color-secondary-bg2);
}

.radius-75ca {
    margin: 0 var(--std-gutter-xs);
    padding: var(--std-gutter-s);
    border: 4px solid transparent;
    background-color: var(--std-color-bg4);
}
.radius-75ca:hover {
    color: var(--std-color-primary-accent);
    background-color: var(--std-color-bg1);
    border-color: currentColor;
}

.icon-e43c {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 var(--std-gutter-s);
}
.icon-e43c:hover label {
    color: var(--std-color-primary-accent);
}

.duration-t347 {
    width: 80px;
    line-height: 80px;
    text-align: center;
    margin: 0 var(--std-gutter-s);
    box-shadow: var(--std-shadow4);
}
.duration-t347:hover {
    border-radius: 50%;
}

.shadow-t9a2 {
    width: 60px;
    line-height: 60px;
    margin: var(--std-gutter-xs) var(--std-gutter-s);
    border-radius: 50%;
    text-align: center;
}
