.std-button.dye {
    color: var(--color, white);
    background: var(--back, var(--std-color-primary-accent));
}
.std-button.dye:hover {
    color: var(--color--hover, white);
    background: var(--back--hover, var(--std-color-primary-tint1));
}
.std-button.dye:focus {
    color: var(--color--focus, white);
    background: var(--back--focus, var(--std-color-primary-tint1));
}
.std-button.dye:active {
    color: var(--color--active, white);
    background: var(--back--active, var(--std-color-primary-shade1));
}
