.std-root {
    --std-color-m1-amber1: #fff8e1;
    --std-color-m1-amber2: #ffecb3;
    --std-color-m1-amber3: #ffe082;
    --std-color-m1-amber4: #ffd54f;
    --std-color-m1-amber5: #ffca28;
    --std-color-m1-amber6: #ffc107;
    --std-color-m1-amber7: #ffb300;
    --std-color-m1-amber8: #ffa000;
    --std-color-m1-amber9: #ff8f00;
    --std-color-m1-amber10: #ff6f00;
    --std-color-m1-amber11: #ffe57f;
    --std-color-m1-amber12: #ffd740;
    --std-color-m1-amber13: #ffc400;
    --std-color-m1-amber14: #ffab00;
}
