.std-root, .std-define-color-palette {
    --std-color-m1-bluelight1: #e1f5fe;
    --std-color-m1-bluelight2: #b3e5fc;
    --std-color-m1-bluelight3: #81d4fa;
    --std-color-m1-bluelight4: #4fc3f7;
    --std-color-m1-bluelight5: #29b6f6;
    --std-color-m1-bluelight6: #03a9f4;
    --std-color-m1-bluelight7: #039be5;
    --std-color-m1-bluelight8: #0288d1;
    --std-color-m1-bluelight9: #0277bd;
    --std-color-m1-bluelight10: #01579b;
    --std-color-m1-bluelight11: #80d8ff;
    --std-color-m1-bluelight12: #40c4ff;
    --std-color-m1-bluelight13: #00b0ff;
    --std-color-m1-bluelight14: #0091ea;
}
