.std-root {
    --std-color-m1-blue1: #e3f2fd;
    --std-color-m1-blue2: #bbdefb;
    --std-color-m1-blue3: #90caf9;
    --std-color-m1-blue4: #64b5f6;
    --std-color-m1-blue5: #42a5f5;
    --std-color-m1-blue6: #2196f3;
    --std-color-m1-blue7: #1e88e5;
    --std-color-m1-blue8: #1976d2;
    --std-color-m1-blue9: #1565c0;
    --std-color-m1-blue10: #0d47a1;
    --std-color-m1-blue11: #82b1ff;
    --std-color-m1-blue12: #448aff;
    --std-color-m1-blue13: #2979ff;
    --std-color-m1-blue14: #2962ff;
}
