.std-root {
    --std-color-m1-brown1: #efebe9;
    --std-color-m1-brown2: #d7ccc8;
    --std-color-m1-brown3: #bcaaa4;
    --std-color-m1-brown4: #a1887f;
    --std-color-m1-brown5: #8d6e63;
    --std-color-m1-brown6: #795548;
    --std-color-m1-brown7: #6d4c41;
    --std-color-m1-brown8: #5d4037;
    --std-color-m1-brown9: #4e342e;
    --std-color-m1-brown10: #3e2723;
    --std-color-m1-brown11: #d7ccc8;
    --std-color-m1-brown12: #bcaaa4;
    --std-color-m1-brown13: #8d6e63;
    --std-color-m1-brown14: #5d4037;
}
