.std-root, .std-define-color-palette {
    --std-color-m1-grayblue1: #eceff1;
    --std-color-m1-grayblue2: #cfd8dc;
    --std-color-m1-grayblue3: #b0bec5;
    --std-color-m1-grayblue4: #90a4ae;
    --std-color-m1-grayblue5: #78909c;
    --std-color-m1-grayblue6: #607d8b;
    --std-color-m1-grayblue7: #546e7a;
    --std-color-m1-grayblue8: #455a64;
    --std-color-m1-grayblue9: #37474f;
    --std-color-m1-grayblue10: #263238;
    --std-color-m1-grayblue11: #cfd8dc;
    --std-color-m1-grayblue12: #b0bec5;
    --std-color-m1-grayblue13: #78909c;
    --std-color-m1-grayblue14: #455a64;
}
