.std-root {
    --std-color-m1-greenlight1: #f1f8e9;
    --std-color-m1-greenlight2: #dcedc8;
    --std-color-m1-greenlight3: #c5e1a5;
    --std-color-m1-greenlight4: #aed581;
    --std-color-m1-greenlight5: #9ccc65;
    --std-color-m1-greenlight6: #8bc34a;
    --std-color-m1-greenlight7: #7cb342;
    --std-color-m1-greenlight8: #689f38;
    --std-color-m1-greenlight9: #558b2f;
    --std-color-m1-greenlight10: #33691e;
    --std-color-m1-greenlight11: #ccff90;
    --std-color-m1-greenlight12: #b2ff59;
    --std-color-m1-greenlight13: #76ff03;
    --std-color-m1-greenlight14: #64dd17;
}
