.std-root, .std-define-color-palette {
    --std-color-m1-green1: #e8f5e9;
    --std-color-m1-green2: #c8e6c9;
    --std-color-m1-green3: #a5d6a7;
    --std-color-m1-green4: #81c784;
    --std-color-m1-green5: #66bb6a;
    --std-color-m1-green6: #4caf50;
    --std-color-m1-green7: #43a047;
    --std-color-m1-green8: #388e3c;
    --std-color-m1-green9: #2e7d32;
    --std-color-m1-green10: #1b5e20;
    --std-color-m1-green11: #b9f6ca;
    --std-color-m1-green12: #69f0ae;
    --std-color-m1-green13: #00e676;
    --std-color-m1-green14: #00c853;
}
