.std-root {
    --std-color-m1-greyblue1: #eceff1;
    --std-color-m1-greyblue2: #cfd8dc;
    --std-color-m1-greyblue3: #b0bec5;
    --std-color-m1-greyblue4: #90a4ae;
    --std-color-m1-greyblue5: #78909c;
    --std-color-m1-greyblue6: #607d8b;
    --std-color-m1-greyblue7: #546e7a;
    --std-color-m1-greyblue8: #455a64;
    --std-color-m1-greyblue9: #37474f;
    --std-color-m1-greyblue10: #263238;
    --std-color-m1-greyblue11: #cfd8dc;
    --std-color-m1-greyblue12: #b0bec5;
    --std-color-m1-greyblue13: #78909c;
    --std-color-m1-greyblue14: #455a64;
}
