.std-root {
    --std-color-m1-orange1: #fff3e0;
    --std-color-m1-orange2: #ffe0b2;
    --std-color-m1-orange3: #ffcc80;
    --std-color-m1-orange4: #ffb74d;
    --std-color-m1-orange5: #ffa726;
    --std-color-m1-orange6: #ff9800;
    --std-color-m1-orange7: #fb8c00;
    --std-color-m1-orange8: #f57c00;
    --std-color-m1-orange9: #ef6c00;
    --std-color-m1-orange10: #e65100;
    --std-color-m1-orange11: #ffd180;
    --std-color-m1-orange12: #ffab40;
    --std-color-m1-orange13: #ff9100;
    --std-color-m1-orange14: #ff6d00;
}
