.std-root {
    --std-color-m1-orangedeep1: #fbe9e7;
    --std-color-m1-orangedeep2: #ffccbc;
    --std-color-m1-orangedeep3: #ffab91;
    --std-color-m1-orangedeep4: #ff8a65;
    --std-color-m1-orangedeep5: #ff7043;
    --std-color-m1-orangedeep6: #ff5722;
    --std-color-m1-orangedeep7: #f4511e;
    --std-color-m1-orangedeep8: #e64a19;
    --std-color-m1-orangedeep9: #d84315;
    --std-color-m1-orangedeep10: #bf360c;
    --std-color-m1-orangedeep11: #ff9e80;
    --std-color-m1-orangedeep12: #ff6e40;
    --std-color-m1-orangedeep13: #ff3d00;
    --std-color-m1-orangedeep14: #dd2c00;
}
