.std-root {
    --std-color-m1-pink1: #fce4ec;
    --std-color-m1-pink2: #f8bbd0;
    --std-color-m1-pink3: #f48fb1;
    --std-color-m1-pink4: #f06292;
    --std-color-m1-pink5: #ec407a;
    --std-color-m1-pink6: #e91e63;
    --std-color-m1-pink7: #d81b60;
    --std-color-m1-pink8: #c2185b;
    --std-color-m1-pink9: #ad1457;
    --std-color-m1-pink10: #880e4f;
    --std-color-m1-pink11: #ff80ab;
    --std-color-m1-pink12: #ff4081;
    --std-color-m1-pink13: #f50057;
    --std-color-m1-pink14: #c51162;
}
