.std-root {
    --std-color-m1-purpledeep1: #ede7f6;
    --std-color-m1-purpledeep2: #d1c4e9;
    --std-color-m1-purpledeep3: #b39ddb;
    --std-color-m1-purpledeep4: #9575cd;
    --std-color-m1-purpledeep5: #7e57c2;
    --std-color-m1-purpledeep6: #673ab7;
    --std-color-m1-purpledeep7: #5e35b1;
    --std-color-m1-purpledeep8: #512da8;
    --std-color-m1-purpledeep9: #4527a0;
    --std-color-m1-purpledeep10: #311b92;
    --std-color-m1-purpledeep11: #b388ff;
    --std-color-m1-purpledeep12: #7c4dff;
    --std-color-m1-purpledeep13: #651fff;
    --std-color-m1-purpledeep14: #6200ea;
}
