.std-root, .std-define-color-palette {
    --std-color-m1-red1: #ffebee;
    --std-color-m1-red2: #ffcdd2;
    --std-color-m1-red3: #ef9a9a;
    --std-color-m1-red4: #e57373;
    --std-color-m1-red5: #ef5350;
    --std-color-m1-red6: #f44336;
    --std-color-m1-red7: #e53935;
    --std-color-m1-red8: #d32f2f;
    --std-color-m1-red9: #c62828;
    --std-color-m1-red10: #b71c1c;
    --std-color-m1-red11: #ff8a80;
    --std-color-m1-red12: #ff5252;
    --std-color-m1-red13: #ff1744;
    --std-color-m1-red14: #d50000;
}
