.std-root, .std-define-color-palette {
    --std-color-m1-teal1: #e0f2f1;
    --std-color-m1-teal2: #b2dfdb;
    --std-color-m1-teal3: #80cbc4;
    --std-color-m1-teal4: #4db6ac;
    --std-color-m1-teal5: #26a69a;
    --std-color-m1-teal6: #009688;
    --std-color-m1-teal7: #00897b;
    --std-color-m1-teal8: #00796b;
    --std-color-m1-teal9: #00695c;
    --std-color-m1-teal10: #004d40;
    --std-color-m1-teal11: #a7ffeb;
    --std-color-m1-teal12: #64ffda;
    --std-color-m1-teal13: #1de9b6;
    --std-color-m1-teal14: #00bfa5;
}
