.std-root, .std-define-color-palette {
    --std-color-m1-yellow1: #fffde7;
    --std-color-m1-yellow2: #fff9c4;
    --std-color-m1-yellow3: #fff59d;
    --std-color-m1-yellow4: #fff176;
    --std-color-m1-yellow5: #ffee58;
    --std-color-m1-yellow6: #ffeb3b;
    --std-color-m1-yellow7: #fdd835;
    --std-color-m1-yellow8: #fbc02d;
    --std-color-m1-yellow9: #f9a825;
    --std-color-m1-yellow10: #f57f17;
    --std-color-m1-yellow11: #ffff8d;
    --std-color-m1-yellow12: #ffff00;
    --std-color-m1-yellow13: #ffea00;
    --std-color-m1-yellow14: #ffd600;
}
