.spinner-932c {
    font-size: 1.2em;
    max-width: 0;
    opacity: 0;
    /* transform: scale(0); *//* Breaks on Safari. */
    transition: all var(--std-duration-normal);
}
.BusyButton-f1d2.busy .spinner-932c {
    max-width: 1em;
    margin-left: 1em;
    opacity: 1;
    /* transform: scale(1); *//* Breaks on Safari. */
}
