.std-theme.light {
    color: var(--std-color-front1);

    --std-front-l: 0%;
    --std-front-ll: 1;
    --std-back-l: 100%;
    --std-back-ll: -1;

    --std-color-front1: hsl(0, 0%, 13%);
    --std-color-front2: hsl(0, 0%, 36%);
    --std-color-front3: hsl(0, 0%, 69%);
    --std-color-back1: hsl(0, 0%, 100%);
    --std-color-back2: hsl(0, 0%, 99%);
    --std-color-back3: hsl(0, 0%, 96%);
    --std-color-back4: hsl(0, 0%, 93%);

    --std-color-primary-front1: hsl(var(--std-color-primary-h), var(--std-color-primary-s), 30%);
    --std-color-primary-front2: hsl(var(--std-color-primary-h), var(--std-color-primary-s), 40%);
    --std-color-primary-front3: hsl(var(--std-color-primary-h), var(--std-color-primary-s), 50%);
    --std-color-primary-front4: hsl(var(--std-color-primary-h), var(--std-color-primary-s), 60%);
    --std-color-primary-front5: hsl(var(--std-color-primary-h), var(--std-color-primary-s), 70%);
    --std-color-primary-back1: hsl(var(--std-color-primary-h), var(--std-color-primary-s), 97%);
    --std-color-primary-back2: hsl(var(--std-color-primary-h), var(--std-color-primary-s), 84%);
    --std-color-primary-back3: hsl(var(--std-color-primary-h), var(--std-color-primary-s), 71%);
    --std-color-primary-back4: hsl(var(--std-color-primary-h), var(--std-color-primary-s), 57%);
    --std-color-secondary-front1: hsl(var(--std-color-secondary-h), var(--std-color-secondary-s), 30%);
    --std-color-secondary-front2: hsl(var(--std-color-secondary-h), var(--std-color-secondary-s), 40%);
    --std-color-secondary-front3: hsl(var(--std-color-secondary-h), var(--std-color-secondary-s), 50%);
    --std-color-secondary-front4: hsl(var(--std-color-secondary-h), var(--std-color-secondary-s), 60%);
    --std-color-secondary-front5: hsl(var(--std-color-secondary-h), var(--std-color-secondary-s), 70%);
    --std-color-secondary-back1: hsl(var(--std-color-secondary-h), var(--std-color-secondary-s), 97%);
    --std-color-secondary-back2: hsl(var(--std-color-secondary-h), var(--std-color-secondary-s), 84%);
    --std-color-secondary-back3: hsl(var(--std-color-secondary-h), var(--std-color-secondary-s), 71%);
    --std-color-secondary-back4: hsl(var(--std-color-secondary-h), var(--std-color-secondary-s), 57%);
}
.std-theme.light.back {
    background-color: var(--theme-back, var(--std-color-back1));
}
