:root, html {
    -webkit-font-smoothing: antialiased; /* WebKit. */
    -webkit-font-smoothing: subpixel-antialiased; /* Safari. */
    -moz-osx-font-smoothing: grayscale; /* Firefox. */
    text-rendering: optimizeLegibility; /* Safari and Chrome. */
}
