.Checkbox-16ba {
    display: inline-flex;
    border-width: var(--Checkbox-border-size, var(--Checkbox-border-size--default, 2px));
    border-style: var(--Checkbox-border-style, var(--Checkbox-border-style--default, solid));
    border-color: var(--Checkbox-border-color, var(--Checkbox-border-color--default, currentColor));
}

.Checkbox-16ba:hover,
.Checkbox-16ba:focus,
.Checkbox-16ba:active,
.Checkbox-16ba:hover,
.Checkbox-16ba[aria-checked="true"] {
    color: var(--Checkbox-color--checked, var(--Checkbox-color--checked--default, AccentColor));
}
.Checkbox-16ba:disabled,
.Checkbox-16ba[disabled=""],
.Checkbox-16ba[disabled="true"] {
    color: var(--Checkbox-color--disabled, var(--Checkbox-color--disabled--default, inherit));
}

.Checkbox-16ba:not([disabled]):focus-visible {
    outline-color: currentColor;
}
@supports not selector(:focus-visible) {
    /*
    * :focus-visible is not supported by Safari yet, but it is coming.
    * In the meantime we can use "@supports selector()" which is supported
    * since Safari 14.1.
    *
    * :focus:not(:focus-visible) is treated as :focus on Chrome, so it is useless.
    */
    .Checkbox-16ba:not([disabled]):focus {
        outline-color: currentColor;
    }
}

.Checkbox-16ba,
.Checkbox-16ba > * {
    transition: all var(--std-duration2);
}

.Checkbox-16ba > * {
    display: inline-block;
}
