.CheckboxMark-3ae4 {
    --CheckboxMark-size--default: 1em;
    min-width: var(--CheckboxMark-size, var(--CheckboxMark-size--default));
    width: var(--CheckboxMark-size, var(--CheckboxMark-size--default));
    max-width: var(--CheckboxMark-size, var(--CheckboxMark-size--default));
    min-height: var(--CheckboxMark-size, var(--CheckboxMark-size--default));
    height: var(--CheckboxMark-size, var(--CheckboxMark-size--default));
    max-height: var(--CheckboxMark-size, var(--CheckboxMark-size--default));
    flex-shrink: 0;
}

.Checkbox-16ba[aria-checked="false"] .CheckboxMark-3ae4 {
    opacity: 0;
    transform: scale(0);
}
