.CheckboxMark-67ba {
    --CheckboxMark-size--default: 1em;
    --CheckboxMark-radius--default: inherit;
    --CheckboxMark-background--default: currentColor;
    min-width: var(--CheckboxMark-size, var(--CheckboxMark-size--default));
    width: var(--CheckboxMark-size, var(--CheckboxMark-size--default));
    max-width: var(--CheckboxMark-size, var(--CheckboxMark-size--default));
    min-height: var(--CheckboxMark-size, var(--CheckboxMark-size--default));
    height: var(--CheckboxMark-size, var(--CheckboxMark-size--default));
    max-height: var(--CheckboxMark-size, var(--CheckboxMark-size--default));
    flex-shrink: 0;
    border-radius: var(--CheckboxMark-radius, var(--CheckboxMark-radius--default));;
    background: var(--CheckboxMark-background, var(--CheckboxMark-background--default));
}

.Checkbox-16ba[aria-checked="false"] .CheckboxMark-67ba {
    opacity: 0;
    transform: scale(0);
}
