.NotificationBadge-3046 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
}

.value-3db7 {
    line-height: 1;
    translate: 0% var(--NotificationBadge-correction, var(--NotificationBadge-correction--default, 0%));
}
