.std-root {
    --std-color-brown1: #efebe9;
    --std-color-brown2: #d7ccc8;
    --std-color-brown3: #bcaaa4;
    --std-color-brown4: #a1887f;
    --std-color-brown5: #8d6e63;
    --std-color-brown6: #795548;
    --std-color-brown7: #6d4c41;
    --std-color-brown8: #5d4037;
    --std-color-brown9: #4e342e;
    --std-color-brown10: #3e2723;
    --std-color-brown11: #d7ccc8;
    --std-color-brown12: #bcaaa4;
    --std-color-brown13: #8d6e63;
    --std-color-brown14: #5d4037;
}
