.std-root {
    --std-color-cyan1: #e0f7fa;
    --std-color-cyan2: #b2ebf2;
    --std-color-cyan3: #80deea;
    --std-color-cyan4: #4dd0e1;
    --std-color-cyan5: #26c6da;
    --std-color-cyan6: #00bcd4;
    --std-color-cyan7: #00acc1;
    --std-color-cyan8: #0097a7;
    --std-color-cyan9: #00838f;
    --std-color-cyan10: #006064;
    --std-color-cyan11: #84ffff;
    --std-color-cyan12: #18ffff;
    --std-color-cyan13: #00e5ff;
    --std-color-cyan14: #00b8d4;
}
