.std-root {
    --std-color-green1: #e8f5e9;
    --std-color-green2: #c8e6c9;
    --std-color-green3: #a5d6a7;
    --std-color-green4: #81c784;
    --std-color-green5: #66bb6a;
    --std-color-green6: #4caf50;
    --std-color-green7: #43a047;
    --std-color-green8: #388e3c;
    --std-color-green9: #2e7d32;
    --std-color-green10: #1b5e20;
    --std-color-green11: #b9f6ca;
    --std-color-green12: #69f0ae;
    --std-color-green13: #00e676;
    --std-color-green14: #00c853;
}
