.std {
    --std-color-greenlight1: #f1f8e9;
    --std-color-greenlight2: #dcedc8;
    --std-color-greenlight3: #c5e1a5;
    --std-color-greenlight4: #aed581;
    --std-color-greenlight5: #9ccc65;
    --std-color-greenlight6: #8bc34a;
    --std-color-greenlight7: #7cb342;
    --std-color-greenlight8: #689f38;
    --std-color-greenlight9: #558b2f;
    --std-color-greenlight10: #33691e;
    --std-color-greenlight11: #ccff90;
    --std-color-greenlight12: #b2ff59;
    --std-color-greenlight13: #76ff03;
    --std-color-greenlight14: #64dd17;
}
