.std-root {
    --std-color-grey1: #fafafa;
    --std-color-grey2: #f5f5f5;
    --std-color-grey3: #eeeeee;
    --std-color-grey4: #e0e0e0;
    --std-color-grey5: #bdbdbd;
    --std-color-grey6: #9e9e9e;
    --std-color-grey7: #757575;
    --std-color-grey8: #616161;
    --std-color-grey9: #424242;
    --std-color-grey10: #212121;
    --std-color-grey11: #f5f5f5;
    --std-color-grey12: #eeeeee;
    --std-color-grey13: #bdbdbd;
    --std-color-grey14: #616161;
}
