.std {
    --std-color-greyblue1: #eceff1;
    --std-color-greyblue2: #cfd8dc;
    --std-color-greyblue3: #b0bec5;
    --std-color-greyblue4: #90a4ae;
    --std-color-greyblue5: #78909c;
    --std-color-greyblue6: #607d8b;
    --std-color-greyblue7: #546e7a;
    --std-color-greyblue8: #455a64;
    --std-color-greyblue9: #37474f;
    --std-color-greyblue10: #263238;
    --std-color-greyblue11: #cfd8dc;
    --std-color-greyblue12: #b0bec5;
    --std-color-greyblue13: #78909c;
    --std-color-greyblue14: #455a64;
}
