.std {
    --std-color-lime1: #f9fbe7;
    --std-color-lime2: #f0f4c3;
    --std-color-lime3: #e6ee9c;
    --std-color-lime4: #dce775;
    --std-color-lime5: #d4e157;
    --std-color-lime6: #cddc39;
    --std-color-lime7: #c0ca33;
    --std-color-lime8: #afb42b;
    --std-color-lime9: #9e9d24;
    --std-color-lime10: #827717;
    --std-color-lime11: #f4ff81;
    --std-color-lime12: #eeff41;
    --std-color-lime13: #c6ff00;
    --std-color-lime14: #aeea00;
}
