.std {
    --std-color-purple1: #f3e5f5;
    --std-color-purple2: #e1bee7;
    --std-color-purple3: #ce93d8;
    --std-color-purple4: #ba68c8;
    --std-color-purple5: #ab47bc;
    --std-color-purple6: #9c27b0;
    --std-color-purple7: #8e24aa;
    --std-color-purple8: #7b1fa2;
    --std-color-purple9: #6a1b9a;
    --std-color-purple10: #4a148c;
    --std-color-purple11: #ea80fc;
    --std-color-purple12: #e040fb;
    --std-color-purple13: #d500f9;
    --std-color-purple14: #aa00ff;
}
