.std-root {
    --std-color-red1: #ffebee;
    --std-color-red2: #ffcdd2;
    --std-color-red3: #ef9a9a;
    --std-color-red4: #e57373;
    --std-color-red5: #ef5350;
    --std-color-red6: #f44336;
    --std-color-red7: #e53935;
    --std-color-red8: #d32f2f;
    --std-color-red9: #c62828;
    --std-color-red10: #b71c1c;
    --std-color-red11: #ff8a80;
    --std-color-red12: #ff5252;
    --std-color-red13: #ff1744;
    --std-color-red14: #d50000;
}
