/* Common ////////////////////////////////////////////////////////////////////*/

.std-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    user-select: none;
    transition: all;
    transition-duration: var(--std-duration-normal);
}
.std-button[disabled],
.std-button[disabled]:hover {
    pointer-events: none;
}

/* Plain /////////////////////////////////////////////////////////////////////*/

.std-button.plain {
    opacity: var(--opacity, .7);
}
.std-button.plain[disabled] {
    opacity: var(--std-button-opacity--disabled, .3);
}
.std-button.plain:hover,
.std-button.plain:active {
    opacity: unset;
}
.std-button.plain:hover {
    color: var(--color--hover, var(--color, var(--std-primary-accent)));
}
.std-button.plain:active {
    color: var(--color--active, var(--color--hover, var(--color, var(--std-text-primary1))));
}

/* Special ///////////////////////////////////////////////////////////////////*/

.std-button.special {
    padding: var(--std-button-padding);
    border: 2px solid transparent;
    border-radius: var(--std-button-radius);
    color: var(--color, var(--std-text1-inverse));
    background: var(--back, var(--std-primary-accent));
}
.std-button.special[disabled] {
    opacity: var(--std-button-opacity--disabled, .3);
}
.std-button.special:hover,
.std-button.special:active {
    border-color: var(--border--active, var(--back, var(--std-primary-accent)));
}
.std-button.special:hover {
    color: var(--color--hover, var(--back, var(--std-text-primary1)));
    background: var(--back--hover, var(--std-back1));
}
.std-button.special:active {
    color: var(--color--active, var(--back, var(--std-text-primary3)));
    background: var(--back--active, var(--std-back1));
}

/* Primary ///////////////////////////////////////////////////////////////////*/

.std-button.primary {
    padding: var(--std-button-padding);
    border-radius: var(--std-button-radius);
    color: var(--color, var(--std-text1-inverse));
    background: var(--back, var(--std-primary-accent));
}
.std-button.primary[disabled] {
    opacity: var(--std-button-opacity--disabled, .3);
}
.std-button.primary:hover,
.std-button.primary:active {
    color: var(--color--active, var(--color, var(--std-text1-inverse)));
}
.std-button.primary:hover {
    background: var(--back--hover, var(--back, var(--std-primary-shade1)));
}
.std-button.primary:active {
    background: var(--back--active, var(--back, var(--std-primary-shade3)));
}

/* Secondary /////////////////////////////////////////////////////////////////*/

.std-button.secondary {
    padding: var(--std-button-padding);
    border-radius: var(--std-button-radius);
    color: var(--color, var(--std-grey7));
    background: var(--back, var(--std-grey3));
}
.std-button.secondary[disabled] {
    opacity: var(--std-button-opacity--disabled, .3);
}
.std-button.secondary:hover {
    color: var(--color--hover, var(--color, var(--std-grey9)));
    background: var(--back--hover, var(--back, var(--std-grey4)));
}
.std-button.secondary:active {
    background: var(--back--active, var(--back, var(--std-grey5)));
}

/* Tertiary //////////////////////////////////////////////////////////////////*/

.std-button.tertiary {
    padding: var(--std-button-padding);
    border-radius: var(--std-button-radius);
    background: var(--back, transparent);
    z-index: 0;
}
.std-button.tertiary[disabled] {
    opacity: var(--std-button-opacity--disabled, .3);
}
.std-button.tertiary::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    border-radius: var(--std-button-radius);
    z-index: -1;
    background: var(--back--active, var(--std-primary-accent));
    opacity: 0;
    transform: scale(0);
    transition: all;
    transition-duration: var(--std-duration-normal);
}
.std-button.tertiary:hover,
.std-button.tertiary:active {
    color: var(--color--active, var(--color, var(--std-primary-accent)));
}
.std-button.tertiary:hover::after,
.std-button.tertiary:focus::after {
    opacity: .1;
    transform: scale(1);
}
.std-button.tertiary:active::after,
.std-button.tertiary:hover:active::after {
    opacity: .2;
}

/* Flat //////////////////////////////////////////////////////////////////////*/

.std-button.flat {
    padding: var(--std-button-padding);
    border: var(--border-size, 2px) solid var(--color, var(--std-primary-accent));
    border-radius: var(--std-button-radius);
    color: var(--color, var(--std-text-primary1));
    background: var(--back, transparent);
}
.std-button.flat[disabled] {
    opacity: var(--std-button-opacity--disabled, .4);
}
.std-button.flat:hover,
.std-button.flat:active {
    color: var(--color--active, var(--std-text1-inverse));
}
.std-button.flat:hover {
    background: var(--back--hover, var(--color, var(--std-primary-accent)));
}
.std-button.flat:active {
    background: var(--back--active, var(--color, var(--std-primary-accent)));
    border-color: var(--back--active, var(--color, var(--std-primary-accent)));
}
