.std-primary-accent { color: var(--std-primary-accent); }
.std-secondary-accent { color: var(--std-secondary-accent); }
.std-primary-tint1 { color: var(--std-primary-tint1); }
.std-primary-tint2 { color: var(--std-primary-tint2); }
.std-primary-tint3 { color: var(--std-primary-tint3); }
.std-primary-tint4 { color: var(--std-primary-tint4); }
.std-primary-tint5 { color: var(--std-primary-tint5); }
.std-primary-tint6 { color: var(--std-primary-tint6); }
.std-primary-shade1 { color: var(--std-primary-shade1); }
.std-primary-shade2 { color: var(--std-primary-shade2); }
.std-primary-shade3 { color: var(--std-primary-shade3); }
.std-primary-shade4 { color: var(--std-primary-shade4); }
.std-primary-shade5 { color: var(--std-primary-shade5); }
.std-primary-shade6 { color: var(--std-primary-shade6); }
.std-primary-tone1 { color: var(--std-primary-tone1); }
.std-primary-tone2 { color: var(--std-primary-tone2); }
.std-primary-tone3 { color: var(--std-primary-tone3); }
.std-primary-tone4 { color: var(--std-primary-tone4); }
.std-primary-tone5 { color: var(--std-primary-tone5); }
.std-primary-tone6 { color: var(--std-primary-tone6); }
.std-secondary-tint1 { color: var(--std-secondary-tint1); }
.std-secondary-tint2 { color: var(--std-secondary-tint2); }
.std-secondary-tint3 { color: var(--std-secondary-tint3); }
.std-secondary-tint4 { color: var(--std-secondary-tint4); }
.std-secondary-tint5 { color: var(--std-secondary-tint5); }
.std-secondary-tint6 { color: var(--std-secondary-tint6); }
.std-secondary-shade1 { color: var(--std-secondary-shade1); }
.std-secondary-shade2 { color: var(--std-secondary-shade2); }
.std-secondary-shade3 { color: var(--std-secondary-shade3); }
.std-secondary-shade4 { color: var(--std-secondary-shade4); }
.std-secondary-shade5 { color: var(--std-secondary-shade5); }
.std-secondary-shade6 { color: var(--std-secondary-shade6); }
.std-secondary-tone1 { color: var(--std-secondary-tone1); }
.std-secondary-tone2 { color: var(--std-secondary-tone2); }
.std-secondary-tone3 { color: var(--std-secondary-tone3); }
.std-secondary-tone4 { color: var(--std-secondary-tone4); }
.std-secondary-tone5 { color: var(--std-secondary-tone5); }
.std-secondary-tone6 { color: var(--std-secondary-tone6); }
.std-text1 { color: var(--std-text1); }
.std-text1-inverse { color: var(--std-text1-inverse); }
.std-text2 { color: var(--std-text2); }
.std-text2-inverse { color: var(--std-text2-inverse); }
.std-text3 { color: var(--std-text3); }
.std-text3-inverse { color: var(--std-text3-inverse); }
.std-back1 { background: var(--std-back1); }
.std-back1-inverse { background: var(--std-back1-inverse); }
.std-back2 { background: var(--std-back2); }
.std-back2-inverse { background: var(--std-back2-inverse); }
.std-back3 { background: var(--std-back3); }
.std-back3-inverse { background: var(--std-back3-inverse); }
.std-back4 { background: var(--std-back4); }
.std-back4-inverse { background: var(--std-back4-inverse); }
