:root,
.std-theme {
    /* 50% gray. */
    --std-primary-h: 0;
    --std-primary-s: 0%;
    --std-primary-l: 50%;
    --std-primary-accent: hsl(var(--std-primary-h), var(--std-primary-s), var(--std-primary-l));
    /* --std-amber-6. */
    --std-secondary-h: 45;
    --std-secondary-s: 100%;
    --std-secondary-l: 51%;
    --std-secondary-accent:  hsl(var(--std-secondary-h), var(--std-secondary-s), var(--std-secondary-l));

    --std-primary-tint1: hsl(var(--std-primary-h), calc(var(--std-primary-s) * .8), calc(var(--std-primary-l) + (100% - var(--std-primary-l)) * .2));
    --std-primary-tint2: hsl(var(--std-primary-h), calc(var(--std-primary-s) * .8), calc(var(--std-primary-l) + (100% - var(--std-primary-l)) * .4));
    --std-primary-tint3: hsl(var(--std-primary-h), calc(var(--std-primary-s) * .8), calc(var(--std-primary-l) + (100% - var(--std-primary-l)) * .6));
    --std-primary-tint4: hsl(var(--std-primary-h), calc(var(--std-primary-s) * .8), calc(var(--std-primary-l) + (100% - var(--std-primary-l)) * .7));
    --std-primary-tint5: hsl(var(--std-primary-h), calc(var(--std-primary-s) * .8), calc(var(--std-primary-l) + (100% - var(--std-primary-l)) * .8));
    --std-primary-tint6: hsl(var(--std-primary-h), calc(var(--std-primary-s) * .8), calc(var(--std-primary-l) + (100% - var(--std-primary-l)) * .95));
    --std-primary-shade1: hsl(var(--std-primary-h), calc(var(--std-primary-s) * .6), calc(var(--std-primary-l) * .9));
    --std-primary-shade2: hsl(var(--std-primary-h), calc(var(--std-primary-s) * .6), calc(var(--std-primary-l) * .8));
    --std-primary-shade3: hsl(var(--std-primary-h), calc(var(--std-primary-s) * .6), calc(var(--std-primary-l) * .7));
    --std-primary-shade4: hsl(var(--std-primary-h), calc(var(--std-primary-s) * .6), calc(var(--std-primary-l) * .6));
    --std-primary-shade5: hsl(var(--std-primary-h), calc(var(--std-primary-s) * .6), calc(var(--std-primary-l) * .5));
    --std-primary-shade6: hsl(var(--std-primary-h), calc(var(--std-primary-s) * .6), calc(var(--std-primary-l) * .4));
    --std-primary-tone1: hsl(var(--std-primary-h), calc(var(--std-primary-s) * .8), calc(var(--std-primary-l) * 1.0));
    --std-primary-tone2: hsl(var(--std-primary-h), calc(var(--std-primary-s) * .6), calc(var(--std-primary-l) * 1.0));
    --std-primary-tone3: hsl(var(--std-primary-h), calc(var(--std-primary-s) * .4), calc(var(--std-primary-l) * 1.0));
    --std-primary-tone4: hsl(var(--std-primary-h), calc(var(--std-primary-s) * .3), calc(var(--std-primary-l) * 1.0));
    --std-primary-tone5: hsl(var(--std-primary-h), calc(var(--std-primary-s) * .2), calc(var(--std-primary-l) * 1.0));
    --std-primary-tone6: hsl(var(--std-primary-h), calc(var(--std-primary-s) * .1), calc(var(--std-primary-l) * 1.0));

    --std-secondary-tint1: hsl(var(--std-secondary-h), calc(var(--std-secondary-s) * .8), calc(var(--std-secondary-l) + (100% - var(--std-secondary-l)) * .2));
    --std-secondary-tint2: hsl(var(--std-secondary-h), calc(var(--std-secondary-s) * .8), calc(var(--std-secondary-l) + (100% - var(--std-secondary-l)) * .4));
    --std-secondary-tint3: hsl(var(--std-secondary-h), calc(var(--std-secondary-s) * .8), calc(var(--std-secondary-l) + (100% - var(--std-secondary-l)) * .6));
    --std-secondary-tint4: hsl(var(--std-secondary-h), calc(var(--std-secondary-s) * .8), calc(var(--std-secondary-l) + (100% - var(--std-secondary-l)) * .7));
    --std-secondary-tint5: hsl(var(--std-secondary-h), calc(var(--std-secondary-s) * .8), calc(var(--std-secondary-l) + (100% - var(--std-secondary-l)) * .8));
    --std-secondary-tint6: hsl(var(--std-secondary-h), calc(var(--std-secondary-s) * .8), calc(var(--std-secondary-l) + (100% - var(--std-secondary-l)) * .95));
    --std-secondary-shade1: hsl(var(--std-secondary-h), calc(var(--std-secondary-s) * .6), calc(var(--std-secondary-l) * .9));
    --std-secondary-shade2: hsl(var(--std-secondary-h), calc(var(--std-secondary-s) * .6), calc(var(--std-secondary-l) * .8));
    --std-secondary-shade3: hsl(var(--std-secondary-h), calc(var(--std-secondary-s) * .6), calc(var(--std-secondary-l) * .7));
    --std-secondary-shade4: hsl(var(--std-secondary-h), calc(var(--std-secondary-s) * .6), calc(var(--std-secondary-l) * .6));
    --std-secondary-shade5: hsl(var(--std-secondary-h), calc(var(--std-secondary-s) * .6), calc(var(--std-secondary-l) * .5));
    --std-secondary-shade6: hsl(var(--std-secondary-h), calc(var(--std-secondary-s) * .6), calc(var(--std-secondary-l) * .4));
    --std-secondary-tone1: hsl(var(--std-secondary-h), calc(var(--std-secondary-s) * .8), calc(var(--std-secondary-l) * 1.0));
    --std-secondary-tone2: hsl(var(--std-secondary-h), calc(var(--std-secondary-s) * .6), calc(var(--std-secondary-l) * 1.0));
    --std-secondary-tone3: hsl(var(--std-secondary-h), calc(var(--std-secondary-s) * .4), calc(var(--std-secondary-l) * 1.0));
    --std-secondary-tone4: hsl(var(--std-secondary-h), calc(var(--std-secondary-s) * .3), calc(var(--std-secondary-l) * 1.0));
    --std-secondary-tone5: hsl(var(--std-secondary-h), calc(var(--std-secondary-s) * .2), calc(var(--std-secondary-l) * 1.0));
    --std-secondary-tone6: hsl(var(--std-secondary-h), calc(var(--std-secondary-s) * .1), calc(var(--std-secondary-l) * 1.0));

    --std-text-dark1: hsl(0, 0%, 13%);
    --std-text-dark2: hsl(0, 0%, 36%);
    --std-text-dark3: hsl(0, 0%, 69%);
    --std-text-light1: hsl(0, 0%, 100%);
    --std-text-light2: hsl(0, 0%, 87%);
    --std-text-light3: hsl(0, 0%, 64%);

    --std-back-light1: hsl(0, 0%, 100%);
    --std-back-light2: hsl(0, 0%, 99%);
    --std-back-light3: hsl(0, 0%, 96%);
    --std-back-light4: hsl(0, 0%, 93%);
    --std-back-dark1: hsl(235, 7%, 22%);
    --std-back-dark2: hsl(235, 7%, 24%);
    --std-back-dark3: hsl(235, 7%, 28%);
    --std-back-dark4: hsl(235, 7%, 32%);

    --std-primary-action: var(--std-primary-accent);
    --std-primary-success: #388e3c; /* --std-green8 */
    --std-primary-warning: #ffc107; /* --std-amber6 */
    --std-primary-error: #ff5722; /* --std-deeporange6 */

    --std-primary-border-color: var(--std-back4);
    --std-primary-border: 1px solid var(--std-primary-border-color);
}

.std-primary-accent { color: var(--std-primary-accent); }
.std-secondary-accent { color: var(--std-secondary-accent); }
.std-primary-tint1 { color: var(--std-primary-tint1); }
.std-primary-tint2 { color: var(--std-primary-tint2); }
.std-primary-tint3 { color: var(--std-primary-tint3); }
.std-primary-tint4 { color: var(--std-primary-tint4); }
.std-primary-tint5 { color: var(--std-primary-tint5); }
.std-primary-tint6 { color: var(--std-primary-tint6); }
.std-primary-shade1 { color: var(--std-primary-shade1); }
.std-primary-shade2 { color: var(--std-primary-shade2); }
.std-primary-shade3 { color: var(--std-primary-shade3); }
.std-primary-shade4 { color: var(--std-primary-shade4); }
.std-primary-shade5 { color: var(--std-primary-shade5); }
.std-primary-shade6 { color: var(--std-primary-shade6); }
.std-primary-tone1 { color: var(--std-primary-tone1); }
.std-primary-tone2 { color: var(--std-primary-tone2); }
.std-primary-tone3 { color: var(--std-primary-tone3); }
.std-primary-tone4 { color: var(--std-primary-tone4); }
.std-primary-tone5 { color: var(--std-primary-tone5); }
.std-primary-tone6 { color: var(--std-primary-tone6); }
.std-text1 { color: var(--std-text1); }
.std-text1-inverse { color: var(--std-text1-inverse); }
.std-text2 { color: var(--std-text2); }
.std-text2-inverse { color: var(--std-text2-inverse); }
.std-text3 { color: var(--std-text3); }
.std-text3-inverse { color: var(--std-text3-inverse); }
.std-back1 { background-color: var(--std-back1); }
.std-back1-inverse { background-color: var(--std-back1-inverse); }
.std-back2 { background-color: var(--std-back2); }
.std-back2-inverse { background-color: var(--std-back2-inverse); }
.std-back3 { background-color: var(--std-back3); }
.std-back3-inverse { background-color: var(--std-back3-inverse); }
.std-back4 { background-color: var(--std-back4); }
.std-back4-inverse { background-color: var(--std-back4-inverse); }
