:root,
.std-theme {
    --std-color-red1: #ffebee;
    --std-color-red2: #ffcdd2;
    --std-color-red3: #ef9a9a;
    --std-color-red4: #e57373;
    --std-color-red5: #ef5350;
    --std-color-red6: #f44336;
    --std-color-red7: #e53935;
    --std-color-red8: #d32f2f;
    --std-color-red9: #c62828;
    --std-color-red10: #b71c1c;
    --std-color-red11: #ff8a80;
    --std-color-red12: #ff5252;
    --std-color-red13: #ff1744;
    --std-color-red14: #d50000;

    --std-color-pink1: #fce4ec;
    --std-color-pink2: #f8bbd0;
    --std-color-pink3: #f48fb1;
    --std-color-pink4: #f06292;
    --std-color-pink5: #ec407a;
    --std-color-pink6: #e91e63;
    --std-color-pink7: #d81b60;
    --std-color-pink8: #c2185b;
    --std-color-pink9: #ad1457;
    --std-color-pink10: #880e4f;
    --std-color-pink11: #ff80ab;
    --std-color-pink12: #ff4081;
    --std-color-pink13: #f50057;
    --std-color-pink14: #c51162;

    --std-color-purple1: #f3e5f5;
    --std-color-purple2: #e1bee7;
    --std-color-purple3: #ce93d8;
    --std-color-purple4: #ba68c8;
    --std-color-purple5: #ab47bc;
    --std-color-purple6: #9c27b0;
    --std-color-purple7: #8e24aa;
    --std-color-purple8: #7b1fa2;
    --std-color-purple9: #6a1b9a;
    --std-color-purple10: #4a148c;
    --std-color-purple11: #ea80fc;
    --std-color-purple12: #e040fb;
    --std-color-purple13: #d500f9;
    --std-color-purple14: #aa00ff;

    --std-color-deeppurple1: #ede7f6;
    --std-color-deeppurple2: #d1c4e9;
    --std-color-deeppurple3: #b39ddb;
    --std-color-deeppurple4: #9575cd;
    --std-color-deeppurple5: #7e57c2;
    --std-color-deeppurple6: #673ab7;
    --std-color-deeppurple7: #5e35b1;
    --std-color-deeppurple8: #512da8;
    --std-color-deeppurple9: #4527a0;
    --std-color-deeppurple10: #311b92;
    --std-color-deeppurple11: #b388ff;
    --std-color-deeppurple12: #7c4dff;
    --std-color-deeppurple13: #651fff;
    --std-color-deeppurple14: #6200ea;

    --std-color-indigo1: #e8eaf6;
    --std-color-indigo2: #c5cae9;
    --std-color-indigo3: #9fa8da;
    --std-color-indigo4: #7986cb;
    --std-color-indigo5: #5c6bc0;
    --std-color-indigo6: #3f51b5;
    --std-color-indigo7: #3949ab;
    --std-color-indigo8: #303f9f;
    --std-color-indigo9: #283593;
    --std-color-indigo10: #1a237e;
    --std-color-indigo11: #8c9eff;
    --std-color-indigo12: #536dfe;
    --std-color-indigo13: #3d5afe;
    --std-color-indigo14: #304ffe;

    --std-color-blue1: #e3f2fd;
    --std-color-blue2: #bbdefb;
    --std-color-blue3: #90caf9;
    --std-color-blue4: #64b5f6;
    --std-color-blue5: #42a5f5;
    --std-color-blue6: #2196f3;
    --std-color-blue7: #1e88e5;
    --std-color-blue8: #1976d2;
    --std-color-blue9: #1565c0;
    --std-color-blue10: #0d47a1;
    --std-color-blue11: #82b1ff;
    --std-color-blue12: #448aff;
    --std-color-blue13: #2979ff;
    --std-color-blue14: #2962ff;

    --std-color-lightblue1: #e1f5fe;
    --std-color-lightblue2: #b3e5fc;
    --std-color-lightblue3: #81d4fa;
    --std-color-lightblue4: #4fc3f7;
    --std-color-lightblue5: #29b6f6;
    --std-color-lightblue6: #03a9f4;
    --std-color-lightblue7: #039be5;
    --std-color-lightblue8: #0288d1;
    --std-color-lightblue9: #0277bd;
    --std-color-lightblue10: #01579b;
    --std-color-lightblue11: #80d8ff;
    --std-color-lightblue12: #40c4ff;
    --std-color-lightblue13: #00b0ff;
    --std-color-lightblue14: #0091ea;

    --std-color-cyan1: #e0f7fa;
    --std-color-cyan2: #b2ebf2;
    --std-color-cyan3: #80deea;
    --std-color-cyan4: #4dd0e1;
    --std-color-cyan5: #26c6da;
    --std-color-cyan6: #00bcd4;
    --std-color-cyan7: #00acc1;
    --std-color-cyan8: #0097a7;
    --std-color-cyan9: #00838f;
    --std-color-cyan10: #006064;
    --std-color-cyan11: #84ffff;
    --std-color-cyan12: #18ffff;
    --std-color-cyan13: #00e5ff;
    --std-color-cyan14: #00b8d4;

    --std-color-teal1: #e0f2f1;
    --std-color-teal2: #b2dfdb;
    --std-color-teal3: #80cbc4;
    --std-color-teal4: #4db6ac;
    --std-color-teal5: #26a69a;
    --std-color-teal6: #009688;
    --std-color-teal7: #00897b;
    --std-color-teal8: #00796b;
    --std-color-teal9: #00695c;
    --std-color-teal10: #004d40;
    --std-color-teal11: #a7ffeb;
    --std-color-teal12: #64ffda;
    --std-color-teal13: #1de9b6;
    --std-color-teal14: #00bfa5;

    --std-color-green1: #e8f5e9;
    --std-color-green2: #c8e6c9;
    --std-color-green3: #a5d6a7;
    --std-color-green4: #81c784;
    --std-color-green5: #66bb6a;
    --std-color-green6: #4caf50;
    --std-color-green7: #43a047;
    --std-color-green8: #388e3c;
    --std-color-green9: #2e7d32;
    --std-color-green10: #1b5e20;
    --std-color-green11: #b9f6ca;
    --std-color-green12: #69f0ae;
    --std-color-green13: #00e676;
    --std-color-green14: #00c853;

    --std-color-lightgreen1: #f1f8e9;
    --std-color-lightgreen2: #dcedc8;
    --std-color-lightgreen3: #c5e1a5;
    --std-color-lightgreen4: #aed581;
    --std-color-lightgreen5: #9ccc65;
    --std-color-lightgreen6: #8bc34a;
    --std-color-lightgreen7: #7cb342;
    --std-color-lightgreen8: #689f38;
    --std-color-lightgreen9: #558b2f;
    --std-color-lightgreen10: #33691e;
    --std-color-lightgreen11: #ccff90;
    --std-color-lightgreen12: #b2ff59;
    --std-color-lightgreen13: #76ff03;
    --std-color-lightgreen14: #64dd17;

    --std-color-lime1: #f9fbe7;
    --std-color-lime2: #f0f4c3;
    --std-color-lime3: #e6ee9c;
    --std-color-lime4: #dce775;
    --std-color-lime5: #d4e157;
    --std-color-lime6: #cddc39;
    --std-color-lime7: #c0ca33;
    --std-color-lime8: #afb42b;
    --std-color-lime9: #9e9d24;
    --std-color-lime10: #827717;
    --std-color-lime11: #f4ff81;
    --std-color-lime12: #eeff41;
    --std-color-lime13: #c6ff00;
    --std-color-lime14: #aeea00;

    --std-color-yellow1: #fffde7;
    --std-color-yellow2: #fff9c4;
    --std-color-yellow3: #fff59d;
    --std-color-yellow4: #fff176;
    --std-color-yellow5: #ffee58;
    --std-color-yellow6: #ffeb3b;
    --std-color-yellow7: #fdd835;
    --std-color-yellow8: #fbc02d;
    --std-color-yellow9: #f9a825;
    --std-color-yellow10: #f57f17;
    --std-color-yellow11: #ffff8d;
    --std-color-yellow12: #ffff00;
    --std-color-yellow13: #ffea00;
    --std-color-yellow14: #ffd600;

    --std-color-amber1: #fff8e1;
    --std-color-amber2: #ffecb3;
    --std-color-amber3: #ffe082;
    --std-color-amber4: #ffd54f;
    --std-color-amber5: #ffca28;
    --std-color-amber6: #ffc107;
    --std-color-amber7: #ffb300;
    --std-color-amber8: #ffa000;
    --std-color-amber9: #ff8f00;
    --std-color-amber10: #ff6f00;
    --std-color-amber11: #ffe57f;
    --std-color-amber12: #ffd740;
    --std-color-amber13: #ffc400;
    --std-color-amber14: #ffab00;

    --std-color-orange1: #fff3e0;
    --std-color-orange2: #ffe0b2;
    --std-color-orange3: #ffcc80;
    --std-color-orange4: #ffb74d;
    --std-color-orange5: #ffa726;
    --std-color-orange6: #ff9800;
    --std-color-orange7: #fb8c00;
    --std-color-orange8: #f57c00;
    --std-color-orange9: #ef6c00;
    --std-color-orange10: #e65100;
    --std-color-orange11: #ffd180;
    --std-color-orange12: #ffab40;
    --std-color-orange13: #ff9100;
    --std-color-orange14: #ff6d00;

    --std-color-deeporange1: #fbe9e7;
    --std-color-deeporange2: #ffccbc;
    --std-color-deeporange3: #ffab91;
    --std-color-deeporange4: #ff8a65;
    --std-color-deeporange5: #ff7043;
    --std-color-deeporange6: #ff5722;
    --std-color-deeporange7: #f4511e;
    --std-color-deeporange8: #e64a19;
    --std-color-deeporange9: #d84315;
    --std-color-deeporange10: #bf360c;
    --std-color-deeporange11: #ff9e80;
    --std-color-deeporange12: #ff6e40;
    --std-color-deeporange13: #ff3d00;
    --std-color-deeporange14: #dd2c00;

    --std-color-brown1: #efebe9;
    --std-color-brown2: #d7ccc8;
    --std-color-brown3: #bcaaa4;
    --std-color-brown4: #a1887f;
    --std-color-brown5: #8d6e63;
    --std-color-brown6: #795548;
    --std-color-brown7: #6d4c41;
    --std-color-brown8: #5d4037;
    --std-color-brown9: #4e342e;
    --std-color-brown10: #3e2723;
    --std-color-brown11: #d7ccc8;
    --std-color-brown12: #bcaaa4;
    --std-color-brown13: #8d6e63;
    --std-color-brown14: #5d4037;

    --std-color-grey1: #fafafa;
    --std-color-grey2: #f5f5f5;
    --std-color-grey3: #eeeeee;
    --std-color-grey4: #e0e0e0;
    --std-color-grey5: #bdbdbd;
    --std-color-grey6: #9e9e9e;
    --std-color-grey7: #757575;
    --std-color-grey8: #616161;
    --std-color-grey9: #424242;
    --std-color-grey10: #212121;
    --std-color-grey11: #f5f5f5;
    --std-color-grey12: #eeeeee;
    --std-color-grey13: #bdbdbd;
    --std-color-grey14: #616161;

    --std-color-bluegrey1: #eceff1;
    --std-color-bluegrey2: #cfd8dc;
    --std-color-bluegrey3: #b0bec5;
    --std-color-bluegrey4: #90a4ae;
    --std-color-bluegrey5: #78909c;
    --std-color-bluegrey6: #607d8b;
    --std-color-bluegrey7: #546e7a;
    --std-color-bluegrey8: #455a64;
    --std-color-bluegrey9: #37474f;
    --std-color-bluegrey10: #263238;
    --std-color-bluegrey11: #cfd8dc;
    --std-color-bluegrey12: #b0bec5;
    --std-color-bluegrey13: #78909c;
    --std-color-bluegrey14: #455a64;
}
