.std-color-front1 { color: var(--std-color-front1); }
.std-color-front1-inverse { color: var(--std-color-front1-inverse); }
.std-color-front2 { color: var(--std-color-front2); }
.std-color-front2-inverse { color: var(--std-color-front2-inverse); }
.std-color-front3 { color: var(--std-color-front3); }
.std-color-front3-inverse { color: var(--std-color-front3-inverse); }
.std-color-back1 { background-color: var(--std-color-back1); }
.std-color-back1-inverse { background-color: var(--std-color-back1-inverse); }
.std-color-back2 { background-color: var(--std-color-back2); }
.std-color-back2-inverse { background-color: var(--std-color-back2-inverse); }
.std-color-back3 { background-color: var(--std-color-back3); }
.std-color-back3-inverse { background-color: var(--std-color-back3-inverse); }
.std-color-back4 { background-color: var(--std-color-back4); }
.std-color-back4-inverse { background-color: var(--std-color-back4-inverse); }
