:root {
    --std-red1: #ffebee;
    --std-red2: #ffcdd2;
    --std-red3: #ef9a9a;
    --std-red4: #e57373;
    --std-red5: #ef5350;
    --std-red6: #f44336;
    --std-red7: #e53935;
    --std-red8: #d32f2f;
    --std-red9: #c62828;
    --std-red10: #b71c1c;
    --std-red11: #ff8a80;
    --std-red12: #ff5252;
    --std-red13: #ff1744;
    --std-red14: #d50000;

    --std-pink1: #fce4ec;
    --std-pink2: #f8bbd0;
    --std-pink3: #f48fb1;
    --std-pink4: #f06292;
    --std-pink5: #ec407a;
    --std-pink6: #e91e63;
    --std-pink7: #d81b60;
    --std-pink8: #c2185b;
    --std-pink9: #ad1457;
    --std-pink10: #880e4f;
    --std-pink11: #ff80ab;
    --std-pink12: #ff4081;
    --std-pink13: #f50057;
    --std-pink14: #c51162;

    --std-purple1: #f3e5f5;
    --std-purple2: #e1bee7;
    --std-purple3: #ce93d8;
    --std-purple4: #ba68c8;
    --std-purple5: #ab47bc;
    --std-purple6: #9c27b0;
    --std-purple7: #8e24aa;
    --std-purple8: #7b1fa2;
    --std-purple9: #6a1b9a;
    --std-purple10: #4a148c;
    --std-purple11: #ea80fc;
    --std-purple12: #e040fb;
    --std-purple13: #d500f9;
    --std-purple14: #aa00ff;

    --std-deeppurple1: #ede7f6;
    --std-deeppurple2: #d1c4e9;
    --std-deeppurple3: #b39ddb;
    --std-deeppurple4: #9575cd;
    --std-deeppurple5: #7e57c2;
    --std-deeppurple6: #673ab7;
    --std-deeppurple7: #5e35b1;
    --std-deeppurple8: #512da8;
    --std-deeppurple9: #4527a0;
    --std-deeppurple10: #311b92;
    --std-deeppurple11: #b388ff;
    --std-deeppurple12: #7c4dff;
    --std-deeppurple13: #651fff;
    --std-deeppurple14: #6200ea;

    --std-indigo1: #e8eaf6;
    --std-indigo2: #c5cae9;
    --std-indigo3: #9fa8da;
    --std-indigo4: #7986cb;
    --std-indigo5: #5c6bc0;
    --std-indigo6: #3f51b5;
    --std-indigo7: #3949ab;
    --std-indigo8: #303f9f;
    --std-indigo9: #283593;
    --std-indigo10: #1a237e;
    --std-indigo11: #8c9eff;
    --std-indigo12: #536dfe;
    --std-indigo13: #3d5afe;
    --std-indigo14: #304ffe;

    --std-blue1: #e3f2fd;
    --std-blue2: #bbdefb;
    --std-blue3: #90caf9;
    --std-blue4: #64b5f6;
    --std-blue5: #42a5f5;
    --std-blue6: #2196f3;
    --std-blue7: #1e88e5;
    --std-blue8: #1976d2;
    --std-blue9: #1565c0;
    --std-blue10: #0d47a1;
    --std-blue11: #82b1ff;
    --std-blue12: #448aff;
    --std-blue13: #2979ff;
    --std-blue14: #2962ff;

    --std-lightblue1: #e1f5fe;
    --std-lightblue2: #b3e5fc;
    --std-lightblue3: #81d4fa;
    --std-lightblue4: #4fc3f7;
    --std-lightblue5: #29b6f6;
    --std-lightblue6: #03a9f4;
    --std-lightblue7: #039be5;
    --std-lightblue8: #0288d1;
    --std-lightblue9: #0277bd;
    --std-lightblue10: #01579b;
    --std-lightblue11: #80d8ff;
    --std-lightblue12: #40c4ff;
    --std-lightblue13: #00b0ff;
    --std-lightblue14: #0091ea;

    --std-cyan1: #e0f7fa;
    --std-cyan2: #b2ebf2;
    --std-cyan3: #80deea;
    --std-cyan4: #4dd0e1;
    --std-cyan5: #26c6da;
    --std-cyan6: #00bcd4;
    --std-cyan7: #00acc1;
    --std-cyan8: #0097a7;
    --std-cyan9: #00838f;
    --std-cyan10: #006064;
    --std-cyan11: #84ffff;
    --std-cyan12: #18ffff;
    --std-cyan13: #00e5ff;
    --std-cyan14: #00b8d4;

    --std-teal1: #e0f2f1;
    --std-teal2: #b2dfdb;
    --std-teal3: #80cbc4;
    --std-teal4: #4db6ac;
    --std-teal5: #26a69a;
    --std-teal6: #009688;
    --std-teal7: #00897b;
    --std-teal8: #00796b;
    --std-teal9: #00695c;
    --std-teal10: #004d40;
    --std-teal11: #a7ffeb;
    --std-teal12: #64ffda;
    --std-teal13: #1de9b6;
    --std-teal14: #00bfa5;

    --std-green1: #e8f5e9;
    --std-green2: #c8e6c9;
    --std-green3: #a5d6a7;
    --std-green4: #81c784;
    --std-green5: #66bb6a;
    --std-green6: #4caf50;
    --std-green7: #43a047;
    --std-green8: #388e3c;
    --std-green9: #2e7d32;
    --std-green10: #1b5e20;
    --std-green11: #b9f6ca;
    --std-green12: #69f0ae;
    --std-green13: #00e676;
    --std-green14: #00c853;

    --std-lightgreen1: #f1f8e9;
    --std-lightgreen2: #dcedc8;
    --std-lightgreen3: #c5e1a5;
    --std-lightgreen4: #aed581;
    --std-lightgreen5: #9ccc65;
    --std-lightgreen6: #8bc34a;
    --std-lightgreen7: #7cb342;
    --std-lightgreen8: #689f38;
    --std-lightgreen9: #558b2f;
    --std-lightgreen10: #33691e;
    --std-lightgreen11: #ccff90;
    --std-lightgreen12: #b2ff59;
    --std-lightgreen13: #76ff03;
    --std-lightgreen14: #64dd17;

    --std-lime1: #f9fbe7;
    --std-lime2: #f0f4c3;
    --std-lime3: #e6ee9c;
    --std-lime4: #dce775;
    --std-lime5: #d4e157;
    --std-lime6: #cddc39;
    --std-lime7: #c0ca33;
    --std-lime8: #afb42b;
    --std-lime9: #9e9d24;
    --std-lime10: #827717;
    --std-lime11: #f4ff81;
    --std-lime12: #eeff41;
    --std-lime13: #c6ff00;
    --std-lime14: #aeea00;

    --std-yellow1: #fffde7;
    --std-yellow2: #fff9c4;
    --std-yellow3: #fff59d;
    --std-yellow4: #fff176;
    --std-yellow5: #ffee58;
    --std-yellow6: #ffeb3b;
    --std-yellow7: #fdd835;
    --std-yellow8: #fbc02d;
    --std-yellow9: #f9a825;
    --std-yellow10: #f57f17;
    --std-yellow11: #ffff8d;
    --std-yellow12: #ffff00;
    --std-yellow13: #ffea00;
    --std-yellow14: #ffd600;

    --std-amber1: #fff8e1;
    --std-amber2: #ffecb3;
    --std-amber3: #ffe082;
    --std-amber4: #ffd54f;
    --std-amber5: #ffca28;
    --std-amber6: #ffc107;
    --std-amber7: #ffb300;
    --std-amber8: #ffa000;
    --std-amber9: #ff8f00;
    --std-amber10: #ff6f00;
    --std-amber11: #ffe57f;
    --std-amber12: #ffd740;
    --std-amber13: #ffc400;
    --std-amber14: #ffab00;

    --std-orange1: #fff3e0;
    --std-orange2: #ffe0b2;
    --std-orange3: #ffcc80;
    --std-orange4: #ffb74d;
    --std-orange5: #ffa726;
    --std-orange6: #ff9800;
    --std-orange7: #fb8c00;
    --std-orange8: #f57c00;
    --std-orange9: #ef6c00;
    --std-orange10: #e65100;
    --std-orange11: #ffd180;
    --std-orange12: #ffab40;
    --std-orange13: #ff9100;
    --std-orange14: #ff6d00;

    --std-deeporange1: #fbe9e7;
    --std-deeporange2: #ffccbc;
    --std-deeporange3: #ffab91;
    --std-deeporange4: #ff8a65;
    --std-deeporange5: #ff7043;
    --std-deeporange6: #ff5722;
    --std-deeporange7: #f4511e;
    --std-deeporange8: #e64a19;
    --std-deeporange9: #d84315;
    --std-deeporange10: #bf360c;
    --std-deeporange11: #ff9e80;
    --std-deeporange12: #ff6e40;
    --std-deeporange13: #ff3d00;
    --std-deeporange14: #dd2c00;

    --std-brown1: #efebe9;
    --std-brown2: #d7ccc8;
    --std-brown3: #bcaaa4;
    --std-brown4: #a1887f;
    --std-brown5: #8d6e63;
    --std-brown6: #795548;
    --std-brown7: #6d4c41;
    --std-brown8: #5d4037;
    --std-brown9: #4e342e;
    --std-brown10: #3e2723;
    --std-brown11: #d7ccc8;
    --std-brown12: #bcaaa4;
    --std-brown13: #8d6e63;
    --std-brown14: #5d4037;

    --std-grey1: #fafafa;
    --std-grey2: #f5f5f5;
    --std-grey3: #eeeeee;
    --std-grey4: #e0e0e0;
    --std-grey5: #bdbdbd;
    --std-grey6: #9e9e9e;
    --std-grey7: #757575;
    --std-grey8: #616161;
    --std-grey9: #424242;
    --std-grey10: #212121;
    --std-grey11: #f5f5f5;
    --std-grey12: #eeeeee;
    --std-grey13: #bdbdbd;
    --std-grey14: #616161;

    --std-bluegrey1: #eceff1;
    --std-bluegrey2: #cfd8dc;
    --std-bluegrey3: #b0bec5;
    --std-bluegrey4: #90a4ae;
    --std-bluegrey5: #78909c;
    --std-bluegrey6: #607d8b;
    --std-bluegrey7: #546e7a;
    --std-bluegrey8: #455a64;
    --std-bluegrey9: #37474f;
    --std-bluegrey10: #263238;
    --std-bluegrey11: #cfd8dc;
    --std-bluegrey12: #b0bec5;
    --std-bluegrey13: #78909c;
    --std-bluegrey14: #455a64;
}