:root,
.std-theme {
    --std-gutter: 4px;
    --std-gutter-mini: calc(var(--std-gutter) * 1.5);
    --std-gutter-xxs: calc(var(--std-gutter) * 2);
    --std-gutter-xs: calc(var(--std-gutter) * 3);
    --std-gutter-s: calc(var(--std-gutter) * 4);
    --std-gutter-m: calc(var(--std-gutter) * 6);
    --std-gutter-l: calc(var(--std-gutter) * 8);
    --std-gutter-xl: calc(var(--std-gutter) * 12);
    --std-gutter-xxl: calc(var(--std-gutter) * 16);
    --std-gutter-maxi: calc(var(--std-gutter) * 24);
}
