:root,
.std-theme {
    --std-icon-mini: var(--std-text-body2-size);
    --std-icon-xxs: var(--std-text-body1-size);
    --std-icon-xs: var(--std-text-subtitle2-size);
    --std-icon-s: var(--std-text-subtitle1-size);
    --std-icon-m: var(--std-text-h6-size);
    --std-icon-l: var(--std-text-h4-size);
    --std-icon-xl: var(--std-text-h3-size);
    --std-icon-xxl: var(--std-text-h2-size);
    --std-icon-maxi: var(--std-text-h1-size);

    --std-icon-color1: var(--std-primary-accent);
    --std-icon-color2: var(--std-secondary-accent);
}
