.std-cover {
    width: 100%;
    height: 100%;
}

.std-layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/* Flex ***********************************************************************/
.std-flex { display: flex; }
/* Flex > Flow ****************************************************************/
.std-flex.wrap, .std-stack.wrap { flex-wrap: wrap; }
.std-flex.nowrap, .std-stack.nowrap { flex-wrap: nowrap; }
.std-flex.row, .std-stack.row { flex-direction: row; }
.std-flex.row-reverse, .std-stack.row-reverse { flex-direction: row-reverse; }
.std-flex.column, .std-stack.column { flex-direction: column; }
.std-flex.column-reverse, .std-stack.column-reverse { flex-direction: column-reverse; }
/* Flex > Justification *******************************************************/
.std-flex.start, .std-stack.start { justify-content: flex-start; }
.std-flex.center, .std-stack.center { justify-content: center; }
.std-flex.end, .std-stack.end { justify-content: flex-end; }
.std-flex.between, .std-stack.between { justify-content: space-between; }
.std-flex.around, .std-stack.around { justify-content: space-around; }
.std-flex.evenly, .std-stack.evenly { justify-content: space-evenly; }
/* Flex > Alignment ***********************************************************/
.std-flex.align-start, .std-stack.align-start { align-items: flex-start; }
.std-flex.align-center, .std-stack.align-center { align-items: center; }
.std-flex.align-end, .std-stack.align-end { align-items: flex-end; }
.std-flex.align-stretch, .std-stack.align-stretch { align-items: stretch; }
/* Flex > Presets *************************************************************/
.std-stack {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.std-stack.h { flex-direction: row; }
.std-stack.v { flex-direction: column; }
/* END ************************************************************************/

.std-no-scrollbar {
    overflow: -moz-scrollbars-none; /* Firefox. */
    scrollbar-width: none; /* Firefox. */
    -ms-overflow-style: none; /* Internet Explorer and Edge. */
}

.std-no-scrollbar::-webkit-scrollbar {
    width: 0px !important; /* Chrome, Safari and Opera. */
    height: 0px !important;  /* Chrome, Safari and Opera. */
}
