.std-cover {
    width: 100%;
    height: 100%;
}

.std-stack-h {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.std-stack-v {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.std-stack-h.start,
.std-stack-v.start {
    justify-content: flex-start;
}
.std-stack-h.end,
.std-stack-v.end {
    justify-content: flex-end;
}
.std-stack-h.between,
.std-stack-v.between {
    justify-content: space-between;
}

.std-stack-h.block-start,
.std-stack-v.block-start {
    align-items: flex-start;
}
.std-stack-h.block-end,
.std-stack-v.block-end {
    align-items: flex-end;
}
.std-stack-h.block-stretch,
.std-stack-v.block-stretch {
    align-items: stretch;
}

.std-stack-h.nowrap,
.std-stack-v.nowrap {
    flex-wrap: nowrap;
}

.std-layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.std-no-scrollbar {
    overflow: -moz-scrollbars-none; /* Firefox. */
    scrollbar-width: none; /* Firefox. */
    -ms-overflow-style: none; /* Internet Explorer and Edge. */
}

.std-no-scrollbar::-webkit-scrollbar {
    width: 0px !important; /* Chrome, Safari and Opera. */
    height: 0px !important;  /* Chrome, Safari and Opera. */
}
