.std-stack-h {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.std-stack-v {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.std-layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.std-no-scrollbar {
    overflow: -moz-scrollbars-none; /* Firefox. */
    scrollbar-width: none; /* Firefox. */
    -ms-overflow-style: none; /* Internet Explorer and Edge. */
}

.std-no-scrollbar::-webkit-scrollbar {
    width: 0px !important; /* Chrome, Safari and Opera. */
    height: 0px !important;  /* Chrome, Safari and Opera. */
}
