.std-theme.dark {
    color: var(--std-color-front1);

    --std-front-l: 100%;
    --std-front-ll: -1;
    --std-back-l: 0%;
    --std-back-ll: 1;

    --std-color-front1: hsl(0, 0%, 95%);
    --std-color-front2: hsl(0, 0%, 87%);
    --std-color-front3: hsl(0, 0%, 64%);
    --std-color-back1: hsl(var(--std-color-primary-h), 15%, 15%);
    --std-color-back2: hsl(var(--std-color-primary-h), 15%, 13%);
    --std-color-back3: hsl(var(--std-color-primary-h), 15%, 10%);
    --std-color-back4: hsl(var(--std-color-primary-h), 15%, 6%);

    --std-color-primary-front1: hsl(var(--std-color-primary-h), var(--std-color-primary-s), 70%);
    --std-color-primary-front2: hsl(var(--std-color-primary-h), var(--std-color-primary-s), 60%);
    --std-color-primary-front3: hsl(var(--std-color-primary-h), var(--std-color-primary-s), 50%);
    --std-color-primary-front4: hsl(var(--std-color-primary-h), var(--std-color-primary-s), 40%);
    --std-color-primary-front5: hsl(var(--std-color-primary-h), var(--std-color-primary-s), 30%);
    --std-color-primary-back1: hsl(var(--std-color-primary-h), var(--std-color-primary-s), 23%);
    --std-color-primary-back2: hsl(var(--std-color-primary-h), var(--std-color-primary-s), 36%);
    --std-color-primary-back3: hsl(var(--std-color-primary-h), var(--std-color-primary-s), 49%);
    --std-color-primary-back4: hsl(var(--std-color-primary-h), var(--std-color-primary-s), 62%);
    --std-color-secondary-front1: hsl(var(--std-color-secondary-h), var(--std-color-secondary-s), 70%);
    --std-color-secondary-front2: hsl(var(--std-color-secondary-h), var(--std-color-secondary-s), 60%);
    --std-color-secondary-front3: hsl(var(--std-color-secondary-h), var(--std-color-secondary-s), 50%);
    --std-color-secondary-front4: hsl(var(--std-color-secondary-h), var(--std-color-secondary-s), 40%);
    --std-color-secondary-front5: hsl(var(--std-color-secondary-h), var(--std-color-secondary-s), 30%);
    --std-color-secondary-back1: hsl(var(--std-color-secondary-h), var(--std-color-secondary-s), 23%);
    --std-color-secondary-back2: hsl(var(--std-color-secondary-h), var(--std-color-secondary-s), 36%);
    --std-color-secondary-back3: hsl(var(--std-color-secondary-h), var(--std-color-secondary-s), 49%);
    --std-color-secondary-back4: hsl(var(--std-color-secondary-h), var(--std-color-secondary-s), 62%);
}
.std-theme.dark.back {
    background-color: var(--theme-back, var(--std-color-back1));
}
