.std-theme.light {
    color: var(--std-text1);
    background: var(--std-back1);

    --std-text1: var(--std-text-dark1);
    --std-text2: var(--std-text-dark2);
    --std-text3: var(--std-text-dark3);
    --std-text1-inverse: var(--std-text-light1);
    --std-text2-inverse: var(--std-text-light2);
    --std-text3-inverse: var(--std-text-light3);
    --std-back1: var(--std-back-light1);
    --std-back2: var(--std-back-light2);
    --std-back3: var(--std-back-light3);
    --std-back4: var(--std-back-light4);
    --std-back1-inverse: var(--std-back-dark1);
    --std-back2-inverse: var(--std-back-dark2);
    --std-back3-inverse: var(--std-back-dark3);
    --std-back4-inverse: var(--std-back-dark4);

    --std-text-primary1: var(--std-primary-shade1);
    --std-text-primary2: var(--std-primary-shade2);
    --std-text-primary3: var(--std-primary-shade3);
    --std-text-primary4: var(--std-primary-shade4);
    --std-text-primary5: var(--std-primary-shade5);
    --std-text-primary6: var(--std-primary-shade6);
    --std-back-primary1: var(--std-primary-tint1);
    --std-back-primary2: var(--std-primary-tint2);
    --std-back-primary3: var(--std-primary-tint3);
    --std-back-primary4: var(--std-primary-tint4);
    --std-back-primary5: var(--std-primary-tint5);
    --std-back-primary6: var(--std-primary-tint6);
}
