.std-shadow.primary {
    --std-umbra: hsla(var(--std-primary-h), var(--std-primary-s), calc(var(--std-primary-l) * .8), var(--std-umbra-opacity));
    --std-penumbra: hsla(var(--std-primary-h), var(--std-primary-s), calc(var(--std-primary-l) * .8), var(--std-penumbra-opacity));
    --std-ambient: hsla(var(--std-primary-h), var(--std-primary-s), calc(var(--std-primary-l) * .8), var(--std-ambient-opacity));
}

.std-shadow.soft { box-shadow: var(--std-shadow-soft); }
.std-shadow.z0 { box-shadow: var(--std-shadow0); }
.std-shadow.z1 { box-shadow: var(--std-shadow1); }
.std-shadow.z2 { box-shadow: var(--std-shadow2); }
.std-shadow.z3 { box-shadow: var(--std-shadow3); }
.std-shadow.z4 { box-shadow: var(--std-shadow4); }
.std-shadow.z5 { box-shadow: var(--std-shadow5); }
.std-shadow.z6 { box-shadow: var(--std-shadow6); }
.std-shadow.z7 { box-shadow: var(--std-shadow7); }
.std-shadow.z8 { box-shadow: var(--std-shadow8); }
.std-shadow.z9 { box-shadow: var(--std-shadow9); }
.std-shadow.z10 { box-shadow: var(--std-shadow10); }
.std-shadow.z11 { box-shadow: var(--std-shadow11); }
.std-shadow.z12 { box-shadow: var(--std-shadow12); }
.std-shadow.z13 { box-shadow: var(--std-shadow13); }
.std-shadow.z14 { box-shadow: var(--std-shadow14); }
.std-shadow.z15 { box-shadow: var(--std-shadow15); }
.std-shadow.z16 { box-shadow: var(--std-shadow16); }
.std-shadow.z17 { box-shadow: var(--std-shadow17); }
.std-shadow.z18 { box-shadow: var(--std-shadow18); }
.std-shadow.z19 { box-shadow: var(--std-shadow19); }
.std-shadow.z20 { box-shadow: var(--std-shadow20); }
.std-shadow.z21 { box-shadow: var(--std-shadow21); }
.std-shadow.z22 { box-shadow: var(--std-shadow22); }
.std-shadow.z23 { box-shadow: var(--std-shadow23); }
.std-shadow.z24 { box-shadow: var(--std-shadow24); }
