:root,
.std-theme {
    --std-font-stack: 'std-font-primary', Futura, Roboto, sans-serif;

    --std-text-display1-size: 6rem;
    --std-text-h1-size: 4rem;
    --std-text-h2-size: 3rem;
    --std-text-h3-size: 2.4rem;
    --std-text-h4-size: 2rem;
    --std-text-h5-size: 1.6rem;
    --std-text-h6-size: 1.4rem;
    --std-text-subtitle1-size: 1.2rem;
    --std-text-subtitle2-size: 1rem;
    --std-text-body1-size: 1rem;
    --std-text-body2-size: .8rem;
    --std-text-caption-size: 1rem;
    --std-text-overline-size: 1rem;
    --std-text-button-size: 1rem;

    --std-weight-thin: 200;
    --std-weight-light: 300;
    --std-weight-regular: 400;
    --std-weight-medium: 500;
    --std-weight-bold: 600;
    --std-weight-heavy: 700;
    --std-weight-black: 800;

    font-family: var(--std-font-stack);
}
