:root,
.std-theme {
    --std-font-primary: 'std-font-primary', Futura, Roboto, sans-serif;

    --std-text-size-min: .8rem;
    --std-text-body2-size: calc(1 * var(--std-text-size-min));
    --std-text-body1-size: calc(1.25 * var(--std-text-body2-size));
    --std-text-caption-size: calc(1 * var(--std-text-body1-size));
    --std-text-button-size: calc(1 * var(--std-text-body1-size));
    --std-text-overline-size: calc(1 * var(--std-text-body1-size));
    --std-text-subtitle2-size: calc(1 * var(--std-text-body1-size));
    --std-text-subtitle1-size: calc(1.25 * var(--std-text-subtitle2-size));
    --std-text-h6-size: calc(1.25 * var(--std-text-subtitle1-size));
    --std-text-h5-size: calc(1.25 * var(--std-text-h6-size));
    --std-text-h4-size: calc(1.25 * var(--std-text-h5-size));
    --std-text-h3-size: calc(1.25 * var(--std-text-h4-size));
    --std-text-h2-size: calc(1.25 * var(--std-text-h3-size));
    --std-text-h1-size: calc(1.25 * var(--std-text-h2-size));
    --std-text-display2-size: calc(1.25 * 1.25 * var(--std-text-h1-size));
    --std-text-display1-size: calc(1.25 * var(--std-text-display2-size));

    --std-weight-thin: 200;
    --std-weight-light: 300;
    --std-weight-regular: 400;
    --std-weight-medium: 500;
    --std-weight-bold: 600;
    --std-weight-heavy: 700;
    --std-weight-black: 800;

    font-family: var(--std-font-primary);
}
