.std-viewport {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.std-viewport-s { max-width: var(--std-viewport-s); }
.std-viewport-m { max-width: var(--std-viewport-m); }
.std-viewport-l { max-width: var(--std-viewport-l); }
