:root,
.std-theme {
    --std-viewport-s: 800px;
    --std-viewport-m: calc(var(--std-viewport-s) + (var(--std-viewport-s) / 2));
    --std-viewport-l: calc(var(--std-viewport-m) + (var(--std-viewport-m) / 2));

    --std-break-xs: 480px;
    --std-break-s: 760px;
    --std-break-m: 1024px;
    --std-break-l: 1400px;
    --std-break-xl: 1900px;
}

.std-viewport {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.std-viewport-s { max-width: var(--std-viewport-s); }
.std-viewport-m { max-width: var(--std-viewport-m); }
.std-viewport-l { max-width: var(--std-viewport-l); }
