.Input-cc0a {
    border: 2px solid hsl(0deg 0% var(--std-fg-l) / .07);
    border-radius: var(--std-radius1);
    padding: var(--gutter, var(--std-gutter2));
    transition: all var(--std-duration3);
}
.Input-cc0a:hover:not(:focus-within) {
    border-color: hsl(0deg 0% var(--std-fg-l) / .5);
}
.Input-cc0a:focus-within {
    color: var(--accent, var(--std-color-primary-accent));
    border-color: currentColor;
}

.input-2d2b {
    flex-grow: 1;
    font-size: var(--std-text-body2-size);
    font-weight: var(--std-text-weight1);
    color: inherit;
    background-color: transparent;
}
.input-2d2b::placeholder {
    font-weight: var(--std-text-weight);
    opacity: 1;
}
.input-2d2b:focus {
    outline: none;
}

.Input-cc0a > *:first-child:not(input) {
    margin-right: var(--gutter, var(--std-gutter4));
}
.Input-cc0a > *:last-child:not(input) {
    margin-left: var(--gutter, var(--std-gutter4));
}

/* SecretInput ****************************************************************/

.button-2bdf {
    --button-padding: 0;
    color: var(--std-color-fg2);
}
.button-2bdf:focus,
.button-2bdf:active {
    outline: unset;
}

/* InputLabel *****************************************************************/

.InputLabel-5738 {
    display: inline-block;
}

.label-b082 {
    display: block;
    margin-bottom: var(--std-gutter1);
}
.InputLabel-5738:focus-within .label-b082 {
    color: var(--accent, var(--std-color-primary-accent));
}
