.Input-i7ee {
    padding: var(--std-gutter3);
    border: 1px solid var(--std-input-border);
    border-bottom: 3px solid var(--std-input-border);
    border-radius: var(--std-radius2);
    background-color: transparent;
    transition: all var(--std-duration-fast);
}
.Input-i7ee.placeholder {
    background-color: var(--std-input-back);
}
.Input-i7ee.focus,
.Input-i7ee:focus-within {
    border-bottom-color: var(--std-color-primary-accent);
}

.Input-i7ee:hover .label-id45,
.field-ceba {
    color: var(--std-color-primary-accent);
}

.label-id45 {
    color: var(--std-input-text);
    margin-bottom: .2em;
}
.Input-i7ee.placeholder .label-id45 {
    font-weight: var(--std-text-weight);
}

.field-ceba {
    border-bottom: 1px solid transparent;
    background-color: transparent;
}
.field-ceba.std-text-body1 {
    --text-height: 1;
}
.field-ceba:focus {
    outline: unset;
}
