: ${ENV:=dev}

export API_URL=https://example.com/api
export BASE_PATH=/
export SERVER_ADDR=127.0.0.1
export SERVER_PORT=8000

if test "$ENV" = 'pro'; then
        export NODE_ENV=production
        export ROUTER_TYPE=path
        export WITH_PREACT=yes
else
        export NODE_ENV=development
        export ROUTER_TYPE=hash
        export WITH_PREACT=no
fi

echo API_URL=$API_URL
echo BASE_PATH=$BASE_PATH
echo NODE_ENV=$NODE_ENV
echo ROUTER_TYPE=$ROUTER_TYPE
echo SERVER_ADDR=$SERVER_ADDR
echo SERVER_PORT=$SERVER_PORT
echo WITH_PREACT=$WITH_PREACT
