export API_URL=https://example.com/api
export BASE_PATH=/
export NODE_ENV=development # development | production
export PREACT=no # no | yes
export ROUTER_TYPE=hash # hash | path
export SERVER_ADDR=127.0.0.1
export SERVER_PORT=8000

echo API_URL=$API_URL
echo BASE_PATH=$BASE_PATH
echo NODE_ENV=$NODE_ENV
echo PREACT=$PREACT
echo ROUTER_TYPE=$ROUTER_TYPE
echo SERVER_ADDR=$SERVER_ADDR
echo SERVER_PORT=$SERVER_PORT
