export APP_API_URL=https://example.com/api
export APP_ROUTER_TYPE=hash # hash | path
export BASE_URL=/
export DEV_ADDR=127.0.0.1
export DEV_PORT=8000
export NODE_ENV=development # development | production

echo APP_API_URL=$APP_API_URL
echo APP_ROUTER_TYPE=$APP_ROUTER_TYPE
echo BASE_URL=$BASE_URL
echo DEV_ADDR=$DEV_ADDR
echo DEV_PORT=$DEV_PORT
echo NODE_ENV=$NODE_ENV
