.std-transition-fade.exit-from {
    opacity: 1;
}
.std-transition-fade.exit-to {
    opacity: var(--exit-to-opacity, 0);
    transition: opacity var(--exit-duration, var(--std-duration2));
}
.std-transition-fade.enter-from {
    opacity: var(--enter-from-opacity, 0);
}
.std-transition-fade.enter-to {
    opacity: 1;
    transition: opacity var(--enter-duration, var(--std-duration4));
}
