.std-transition-zoom.exit-from {
    opacity: 1;
    transform: scale(1);
}
.std-transition-zoom.exit-to {
    opacity: var(--exit-to-opacity, 0);
    transform: scale(var(--exit-to-scale, .9));
    transition:
        opacity var(--exit-duration, var(--std-duration2)),
        transform var(--exit-duration, var(--std-duration2))
    ;
}
.std-transition-zoom.enter-from {
    opacity: var(--enter-from-opacity, 0);
    transform: scale(var(--enter-from-scale, .9));
}
.std-transition-zoom.enter-to {
    opacity: 1;
    transform: scale(1);
    transition:
        opacity var(--enter-duration, var(--std-duration4)),
        transform var(--enter-duration, var(--std-duration4))
    ;
}
