.BusyButton-f1d2.replace {
    position: relative;
}

.BusyButton-f1d2.replace .content-6f92,
.BusyButton-f1d2.replace .spinner-932c {
    transition: all var(--std-duration3);
}

.BusyButton-f1d2.replace.busy .content-6f92 {
    opacity: 0;
}

.BusyButton-f1d2.replace .spinner-932c {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.BusyButton-f1d2.replace.busy .spinner-932c {
    opacity: 1;
}
