.std {
    --std-color-action: var(--std-color-primary-accent);
    --std-color-success: #388e3c; /* --std-color-green8 */
    --std-color-warning: #ffc107; /* --std-color-amber6 */
    --std-color-error: #ff5722; /* --std-color-deeporange6 */
}
