.std-color-bg1 { background-color: var(--std-color-bg1); }
.std-color-bg2 { background-color: var(--std-color-bg2); }
.std-color-bg3 { background-color: var(--std-color-bg3); }
.std-color-bg4 { background-color: var(--std-color-bg4); }
