.std-color-primary-accent { color: var(--std-color-primary-accent); }
.std-color-primary-tint1 { color: var(--std-color-primary-tint1); }
.std-color-primary-tint2 { color: var(--std-color-primary-tint2); }
.std-color-primary-tint3 { color: var(--std-color-primary-tint3); }
.std-color-primary-tint4 { color: var(--std-color-primary-tint4); }
.std-color-primary-tint5 { color: var(--std-color-primary-tint5); }
.std-color-primary-tint6 { color: var(--std-color-primary-tint6); }
.std-color-primary-shade1 { color: var(--std-color-primary-shade1); }
.std-color-primary-shade2 { color: var(--std-color-primary-shade2); }
.std-color-primary-shade3 { color: var(--std-color-primary-shade3); }
.std-color-primary-shade4 { color: var(--std-color-primary-shade4); }
.std-color-primary-shade5 { color: var(--std-color-primary-shade5); }
.std-color-primary-shade6 { color: var(--std-color-primary-shade6); }
.std-color-primary-tone1 { color: var(--std-color-primary-tone1); }
.std-color-primary-tone2 { color: var(--std-color-primary-tone2); }
.std-color-primary-tone3 { color: var(--std-color-primary-tone3); }
.std-color-primary-tone4 { color: var(--std-color-primary-tone4); }
.std-color-primary-tone5 { color: var(--std-color-primary-tone5); }
.std-color-primary-tone6 { color: var(--std-color-primary-tone6); }
.std-color-primary-fg1 { color: var(--std-color-primary-fg1); }
.std-color-primary-fg2 { color: var(--std-color-primary-fg2); }
.std-color-primary-fg3 { color: var(--std-color-primary-fg3); }
.std-color-primary-bg1 { background-color: var(--std-color-primary-bg1); }
.std-color-primary-bg2 { background-color: var(--std-color-primary-bg2); }
.std-color-primary-bg3 { background-color: var(--std-color-primary-bg3); }
.std-color-primary-bg4 { background-color: var(--std-color-primary-bg4); }
