.std-color-fg1 { color: var(--std-color-fg1); }
.std-color-fg2 { color: var(--std-color-fg2); }
.std-color-fg3 { color: var(--std-color-fg3); }
.std-color-bg1 { background-color: var(--std-color-bg1); }
.std-color-bg2 { background-color: var(--std-color-bg2); }
.std-color-bg3 { background-color: var(--std-color-bg3); }
.std-color-bg4 { background-color: var(--std-color-bg4); }

.std {
    color: var(--theme-fg, var(--std-color-fg1));
}
.std.with-bg {
    background-color: var(--theme-bg, var(--std-color-bg1));
}
