.std {
    --std-color-bluelight1: #e1f5fe;
    --std-color-bluelight2: #b3e5fc;
    --std-color-bluelight3: #81d4fa;
    --std-color-bluelight4: #4fc3f7;
    --std-color-bluelight5: #29b6f6;
    --std-color-bluelight6: #03a9f4;
    --std-color-bluelight7: #039be5;
    --std-color-bluelight8: #0288d1;
    --std-color-bluelight9: #0277bd;
    --std-color-bluelight10: #01579b;
    --std-color-bluelight11: #80d8ff;
    --std-color-bluelight12: #40c4ff;
    --std-color-bluelight13: #00b0ff;
    --std-color-bluelight14: #0091ea;
}
