.std {
    --std-color-blue1: #e3f2fd;
    --std-color-blue2: #bbdefb;
    --std-color-blue3: #90caf9;
    --std-color-blue4: #64b5f6;
    --std-color-blue5: #42a5f5;
    --std-color-blue6: #2196f3;
    --std-color-blue7: #1e88e5;
    --std-color-blue8: #1976d2;
    --std-color-blue9: #1565c0;
    --std-color-blue10: #0d47a1;
    --std-color-blue11: #82b1ff;
    --std-color-blue12: #448aff;
    --std-color-blue13: #2979ff;
    --std-color-blue14: #2962ff;
}
