.std {
    --std-color-purpledeep1: #ede7f6;
    --std-color-purpledeep2: #d1c4e9;
    --std-color-purpledeep3: #b39ddb;
    --std-color-purpledeep4: #9575cd;
    --std-color-purpledeep5: #7e57c2;
    --std-color-purpledeep6: #673ab7;
    --std-color-purpledeep7: #5e35b1;
    --std-color-purpledeep8: #512da8;
    --std-color-purpledeep9: #4527a0;
    --std-color-purpledeep10: #311b92;
    --std-color-purpledeep11: #b388ff;
    --std-color-purpledeep12: #7c4dff;
    --std-color-purpledeep13: #651fff;
    --std-color-purpledeep14: #6200ea;
}
