.std {
    --std-color-teal1: #e0f2f1;
    --std-color-teal2: #b2dfdb;
    --std-color-teal3: #80cbc4;
    --std-color-teal4: #4db6ac;
    --std-color-teal5: #26a69a;
    --std-color-teal6: #009688;
    --std-color-teal7: #00897b;
    --std-color-teal8: #00796b;
    --std-color-teal9: #00695c;
    --std-color-teal10: #004d40;
    --std-color-teal11: #a7ffeb;
    --std-color-teal12: #64ffda;
    --std-color-teal13: #1de9b6;
    --std-color-teal14: #00bfa5;
}
