.std {
    --std-color-yellow1: #fffde7;
    --std-color-yellow2: #fff9c4;
    --std-color-yellow3: #fff59d;
    --std-color-yellow4: #fff176;
    --std-color-yellow5: #ffee58;
    --std-color-yellow6: #ffeb3b;
    --std-color-yellow7: #fdd835;
    --std-color-yellow8: #fbc02d;
    --std-color-yellow9: #f9a825;
    --std-color-yellow10: #f57f17;
    --std-color-yellow11: #ffff8d;
    --std-color-yellow12: #ffff00;
    --std-color-yellow13: #ffea00;
    --std-color-yellow14: #ffd600;
}
